

<div class="container py-2" id="RecordApp">

    <div class="card mb-4">
        @* <label>篩選關鍵字<input type="text" :key="" v-model="filter" v-on:keyup="filterRecord()"></label> *@
        <table class="table">
            <thead>
                <tr>
                    <th scope="row"></th>
                    <th>公司名稱</th>
                    <th>職缺</th>
                    <th>履歷</th>
                    <th>應徵日期</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @* item後面帶入的參數要小寫 *@
                <tr v-for="item in jobclass.slice(pageStart,pageEnd)">
                    <th>{{item.resumeOpeningRecordID}}</th>
                    <td>{{item.companyName}}</td> 
                    <td>{{item.openingTitle}}</td>
                     <td>{{item.title}}</td> 
                     <td>{{item.applyDate}}</td>
                    <td><partial name="../Partial/_OpeningDetailBtnModal.cshtml" /></td>
                </tr>
                


            </tbody>
        </table>
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" v-on:click="setPage(currentPage-1)">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li v-for="item in totalPage" class="page-item" v-on:click="setPage(item)">
                        <a class="page-link" href="#">{{item}}</a>
                    </li>
                    <li class="page-item" v-on:click="setPage(currentPage+1)">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let VueApp = {
            data() {
                return {
                    pageStatus: 0,
                    perpage: 6, //一頁的資料數
                    currentPage: 1,
                    MessageStatus: 1,
                    jobclass: [], //從後端撈回來的資料存入這邊
                    filter:"",
                    ApplyDate:"",
                    CompanyName:"",
                    OpeningTitle:"",
                    Title:"",
                    TagClasses: [
                        { TagClassID: 1, TagClass: "電腦科學"},
                        { TagClassID: 2, TagClass: "數學" },
                        { TagClassID: 3, TagClass: "醫學" },
                    ],
                    Tags: [
                        { TagClassID: 1, TagID: 1, TagName: "C#" },
                        { TagClassID: 1, TagID: 2, TagName: "JavaScript" },
                        { TagClassID: 1, TagID: 3, TagName: "Azure" },
                        { TagClassID: 2, TagID: 4, TagName: "高等微積分" },
                        { TagClassID: 2, TagID: 5, TagName: "複變數函數" },
                        { TagClassID: 3, TagID: 6, TagName: "肛腸科" },
                        { TagClassID: 3, TagID: 7, TagName: "精神科" },
                    ],
                    TagCheckedResume: [],
                };
            },
            computed: {
                totalPage() {
                    return Math.ceil(this.jobclass.length / this.perpage)
                    //Math.ceil()取最小整數
                },
                pageStart() {
                    return (this.currentPage - 1) * this.perpage
                    //取得該頁第一個值的index
                },
                pageEnd() {
                    return this.currentPage * this.perpage
                    //取得該頁最後一個值的index
                },
                filterKW(){
                    
                    

                }
            },
            methods: {
                setPage(page) {
                    if (page <= 0 || page > this.totalPage) {
                        return
                    }
                    this.currentPage = page
                },
                filterTagClass:function(ClassID) {
                    let _this = this;
                    return _this.Tags.filter(function (item) {
                        return item.TagClassID == ClassID;
                    });
                },
                ReturnhashtagID:function(item){
                    return `#${item.TagClass}`;
                },
                changeTagNameTo: function (TagName) {
                    let _this = this;
                    return `${TagName}BindID`;
                },
                filterRecord: function () {
                    let _this = this;
                    var request = {};
                    ResumeOpeningRecordID = isNaN(Number(_this.filter)) ? -1 : Number(_this.filter);
                    CompanyName = ApplyDate = OpeningTitle = Title = _this.filter;
                    fetch("/Candidates/Record/Recorresult", {
                        method: "POST",
                    }).then(response => {
                        return response.json();
                    })
                        .then(data => {
                            return this.jobclass = data
                        }).catch(err => {
                            alert(JSON.stringify(err))
                        });
                },


            },
            mounted:function(){
                let _this = this;
                _this.filterRecord();
            }
            //每次重新載入網頁時會自動初始化撈出資料
            // mounted: function() {
            //     fetch("/Candidates/Home/Recordresult", {
            //        method:"POST"
            //     }).then(response => {
            //           return response.json();
            //     })
            //     .then(data => {
            //            return this.jobclass = data
            //     }).catch(err => {
            //           alert(JSON.stringify(err))
            //     });
            // },
        };
        let app = Vue.createApp(VueApp).mount("#RecordApp");
    </script>

}