@model IEnumerable<JobHunting.Areas.Candidates.ViewModels.RecordViewmodel>

<div class="container py-2" id="RecordApp">
    <label>
        篩選關鍵字：
        <input type="text" class="form-control mb-2" v-model.lazy="filter" v-on:keyup.enter="filterRecord">
    </label>
    <div class="card mb-4">
        <table class="table">
            <thead>
                <tr>
                    @* <th scope="row"></th> *@
                    <th>公司名稱</th>
                    <th>
                        <select class="btn" style="font-weight:bold" v-model.lazy="selectedOpening">
                            <option :value="undefined" selected>職缺名稱</option>
                            <option v-for="item in openings" :value="item.openingTitle">{{item.openingTitle}}</option>
                        </select>
                    </th>
                    <th>履歷</th>
                    <th>應徵日期</th>
                    <th>
                        <select class="btn" v-model.lazy="selectedInterviewYN" v-on:change="filterRecord" style="font-weight:bold">
                            <option :value="undefined" selected>是否面試</option>
                            <option :value="true">已面試</option>
                            <option :value="false">未面試</option>
                        </select>
                    </th>
                    <th>
                        <select class="btn" v-model.lazy="selectedHireYN" v-on:change="filterRecord" style="font-weight:bold">
                            <option :value="undefined" selected>是否錄取</option>
                            <option :value="true">已錄取</option>
                            <option :value="false">未錄取</option>
                        </select>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @* item後面帶入的參數要小寫 *@
                <tr v-for="item in displayOpening.slice(pageStart,pageEnd)">
                    @* <th>{{item.resumeOpeningRecordID}}</th> *@
                    <td>{{item.companyName}}</td>
                    <td>{{item.openingTitle}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.applyDate}}</td>

                    @* 是否面試欄位 *@
                    <td v-html="selectInterviewYN(item.interviewYN)">
                    </td>
                    @* 是否錄取欄位 *@
                    <td v-html="selectselectedHireYN(item.hireYN)">
                    </td>


                    @* <td>
                        <template v-if="item.interviewYN == true"><i class="fa-solid fa-square-check" style="font-size:30px"></i></template>
                        <template v-else><i class="fa-solid fa-square-xmark" style="font-size:30px"></i></template>
                    </td>
                    <td>
                        <template v-if="item.hireYN == true"><i class="fa-solid fa-square-check" style="font-size:30px"></i></template>
                        <template v-else><i class="fa-solid fa-square-xmark" style="font-size:30px"></i></template>
                    </td>    *@
                    <td>
                        <button type="button" data-bs-toggle="modal"
                                :data-bs-target="'#'+mergeID(item)" class="btn btn-primary">
                            職缺內容
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        @* 職缺內容Modal *@
        <div class="modal fade" v-for="item in openings"
             :id="mergeID(item)"
             tabindex="-1"
             data-bs-backdrop="static"
             data-bs-keyboard="false"
             role="dialog"
             aria-labelledby="modalTitleId"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl"
                 role="document">
                <div class="modal-content col-md-4">
                    @* 職缺顯示 *@
                    <div class="modal-header" style="background-color: #f7d179;">
                        <h5 class="modal-title text-center" id="modal" style="width:95%">
                            {{item.title}}
                        </h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                                style="width:5% ;">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="">職缺名稱:</label>
                                        <p>{{item.title}}</p>
                                        <label class="">公司名稱:</label>
                                        <p>{{item.companyName}}</p>
                                        <label class="">工作地點:</label>
                                        <p>{{item.address}}</p>
                                        <label class="">連絡人:</label>
                                        <p>{{item.contactName}}</p>
                                        <label class="">連絡電話:</label>
                                        <p>{{item.contactPhone}}</p>
                                        <label class="">電子郵件:</label>
                                        <p>{{item.contactEmail}}</p>
                                        <label class="">薪資條件:</label>
                                        <p>{{item.salaryMin}} - {{item.salaryMax}}</p>
                                        <label class="">上班時段:</label>
                                        <p>{{item.time}}</p>
                                    </div>
                                    <div class="mb-3">
                                        <label class="">職缺類別:</label>
                                        <p>
                                            {{ getTitleClassName(item.titleClassId) }}
                                        </p>
                                        <label class="">學歷要求:</label><span>{{item.degree}}</span>
                                    </div>
                                    <div>
                                        <label class="">能力標籤:</label>
                                        <p>
                                            {{ getTagName(item.tagId) }}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="form-textarea" class="col-form-label">福利:</label>
                                        <p style="height:200px">{{item.benefits}}</p>
                                    </div>
                                    <div class="mb-3">
                                        <label for="form-textarea" class="col-form-label">工作內容:</label>
                                        <p style="height:200px">{{item.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*  <div class="modal-footer">
                    <button class="btn btn-primary">應徵</button>
                    </div> *@
                </div>
            </div>
        </div>
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" v-on:click="setPage(currentPage-1)">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li v-for="item in totalPage" class="page-item" v-on:click="setPage(item)">
                        <a class="page-link" href="#">{{item}}</a>
                    </li>
                    <li class="page-item" v-on:click="setPage(currentPage+1)">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let VueApp = {
            data() {
                return {
                    baseAddress: "https://localhost:7169",
                    openings: [], //應徵過的職缺

                    //分頁
                    pageStatus: 0,
                    perpage: 6, //一頁的資料數
                    currentPage: 1,
                    MessageStatus: 1,

                    filter: "",
                    //Title:"",
                    titleClass: [],
                    titleCategory: [],
                    Tags: [],
                    TagClasses: [],
                    TagCheckedResume: [],

                    selectedInterviewYN:undefined,
                    selectedHireYN:undefined,
                    selectedOpening:undefined,
                };
            },
            computed: {
                totalPage() {
                    return Math.ceil(this.openings.length / this.perpage)
                    //Math.ceil()取最小整數
                },
                pageStart() {
                    return (this.currentPage - 1) * this.perpage
                    //取得該頁第一個值的index
                },
                pageEnd() {
                    return this.currentPage * this.perpage
                    //取得該頁最後一個值的index
                },

                displayOpening() {
                    if (!this.selectedOpening) {
                        return this.openings;
                    } else {
                        return this.openings.filter(item => item.openingTitle == this.selectedOpening);
                    }
                    return this.openings
                },

            },
            methods: {
                setPage(page) {
                    if (page <= 0 || page > this.totalPage) {
                        return
                    }
                    this.currentPage = page
                },
                filterTagClass: function (ClassID) {
                    let _this = this;
                    return _this.Tags.filter(function (item) {
                        return item.TagClassID == ClassID;
                    });
                },
                ReturnhashtagID: function (item) {
                    return `#${item.TagClass}`;
                },
                changeTagNameTo: function (TagName) {
                    let _this = this;
                    return `${TagName}BindID`;
                },
                //綁modal target
                mergeID(item) {
                    let str = item.title.replace(/\s/g, "");
                    let num = item.openingId;
                    strID = str + num;
                    return strID;
                },
                //列出所有被選到的職業類別
                getTitleClassName(titleClassId) {
                    if (!Array.isArray(titleClassId)) return '未指定';
                    return titleClassId
                        .map(id => {
                            let titleClassItem = this.titleClass.find(item => item.titleClassId == id);
                            return titleClassItem ? titleClassItem.titleClassName : '未指定';
                        })
                        .join('/ ');
                },
                //列出所有被選到的能力標籤
                getTagName(tagId) {
                    if (!Array.isArray(tagId)) return '未指定';
                    return tagId
                        .map(id => {
                            let tagItem = this.Tags.find(item => item.tagId == id);
                            return tagItem ? tagItem.tagName : '未指定';
                        })
                        .join('/ ');
                },
                //篩選關鍵字的方法
                filterRecord: function () {
                    let _this = this;
                    var request = {
                        CompanyName: _this.filter,
                        ApplyDate: _this.filter,
                        OpeningTitle: _this.filter,
                        Title: _this.filter,
                        InterviewYN: _this.selectedInterviewYN,
                        HireYN: _this.selectedHireYN,

                        

                    };
                    axios.post(`${_this.baseAddress}/Candidates/Record/filter`, request, {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(response => _this.openings = response.data)
                        .catch(err => alert(err));


                    axios.get(`${_this.baseAddress}/Candidates/Record/TitleClassJson`).then(
                        res => {
                            _this.titleClass = res.data;
                        }
                    ).catch(
                        err => { alert(err) }
                    );

                    axios.get(`${_this.baseAddress}/Candidates/Record/TitleCategoryJson`).then(
                        res => {
                            _this.titleCategory = res.data;
                        }
                    ).catch(
                        err => { alert(err) }
                    );

                    axios.get(`${_this.baseAddress}/Candidates/Record/TagJson`).then(
                        res => _this.Tags = res.data
                    ).catch(
                        err => { alert(err) }
                    );

                    axios.get(`${_this.baseAddress}/Candidates/Record/TagClassJson`).then(
                        res => _this.TagClasses = res.data
                    ).catch(
                        err => { alert(err) }
                    );
                },


                //判斷是否面試，已面試 V icon 未面試 X icon
                selectInterviewYN(item) {
                    return item == true ? '<i class="fa-solid fa-square-check" style="font-size:30px"></i>' : '<i class="fa-solid fa-square-xmark" style="font-size:30px"></i>';
                },
                //判斷是否錄取，已錄取 V icon 未錄取 X icon
                selectselectedHireYN(item) {
                    return item == true ? '<i class="fa-solid fa-square-check" style="font-size:30px"></i>' : '<i class="fa-solid fa-square-xmark" style="font-size:30px"></i>';
                },


            },
            mounted: function () {
                let _this = this;
                _this.filterRecord();
            }
        };
        let app = Vue.createApp(VueApp).mount("#RecordApp");
    </script>

}