@using JobHunting.ViewModel
@model CompanyResetPasswordInputModel;
@section Styles {
    <style>
        .form-label {
            color: steelblue;
            font-weight: bold;
        }

        a {
            text-decoration: none;
        }
    </style>
}

<div id="CompanyResetPassword">
    <div class="row justify-content-center">
        <div class="col-md-4 mt-5 pt-5">
            <h2 class="text-center text-muted">重設密碼</h2>
            <section>
                <hr />
                <div class="form-floating mb-3">
                    <input type="password" class="form-control rounded-pill bg-danger bg-opacity-25"
                           autocomplete="current-password" aria-required="true" placeholder="password" v-model="Password" v-on:input="validateConfirmPassword" maxlength="15" />
                    <label class="form-label">密碼</label>
                    <span class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control rounded-pill bg-danger bg-opacity-25" v-model="ConfirmPassword" v-on:input="validateConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="password" maxlength="15" />
                    <label class="form-label" for="ConfirmPassword">確認密碼</label>
                    <span class="text-danger" v-if="ConfirmPasswordError">{{ConfirmPasswordError}}</span>
                </div>
                <div class="text-center">
                    <button id="login-submit" type="submit" class="w-50 btn btn-md btn-warning rounded-pill py-2" v-on:click="CompanyResetPassword">重設密碼</button><br />
                </div>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        let vueReset = {
            data() {
                return {
                    baseAddress: "https://localhost:7169",
                    // baseAddress: "https://duckjobhunting.azurewebsites.net",
                    Password:"",
                    ConfirmPassword:"",
                    ConfirmPasswordError: "",
                    ContactEmail:"@Html.DisplayFor(model => model.ContactEmail)",
                }
            },
            methods: {
                validateConfirmPassword:function() {
                    let _this  = this;
                    _this.ConfirmPasswordError = '';
                    if (!_this.ConfirmPassword) {
                        _this.ConfirmPasswordError = '請再次輸入密碼';
                    } else if (_this.ConfirmPassword !== _this.Password) {
                        _this.ConfirmPasswordError = '密碼與確認密碼不一致';
                    } else if (_this.ConfirmPassword == _this.Password) {
                        _this.ConfirmPasswordError = "";
                    }
              },
              CompanyResetPassword:function(){
                  let _this = this;
                  let request = {
                        Password: _this.Password,
                        ConfirmPassword: _this.ConfirmPassword,
                        ContactEmail:_this.ContactEmail,
                          };
                        fetch(`${_this.baseAddress}/ForgetPassword/CompanyResetPassword`, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"  // 指定 JSON 格式
                            },
                            body: JSON.stringify(request),
                        }).then(res => {
                            return res.json();
                        }).then(data => {
                            if (data.success == true) {
                                alert(data.message);
                                    window.location.href = `${_this.baseAddress}/Home/Login`;
                            } else if (data.success == false) {
                                alert(data.message);
                            };
                        }).catch(err => {
                            alert(JSON.stringify(err));
                        })

              },
            }
        };
        Vue.createApp(vueReset).mount("#CompanyResetPassword")
    </script>
}