@using JobHunting.ViewModel

@section Styles {
    <style>
        /*         .form-label {
                    color: steelblue;
                    font-weight: bold;
                } */

                a {
                    text-decoration: none;
                }
    </style>
}
<div id="ForgetPassowrdApp">
    <div class="row justify-content-center">
        <div class="col-md-4 mt-5 pt-5">
            <h2 class="text-center">忘記密碼</h2>
            <section>
                <hr />
                <div class="text-danger" role="alert"></div>
                <div class="text-center pb-3">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" value="candidate" v-model="role">
                        <label class="btn btn-outline-warning" for="btnradio1">求職者</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value="company" v-model="role">
                        <label class="btn btn-outline-warning" for="btnradio2">徵才者</label>
                    </div>
                </div>

                <template v-if="role == 'candidate'">
                    <div class="form-floating mb-3">
                        <input v-model="Candidates.NationalId" class="form-control rounded-pill bg-danger bg-opacity-25" autocomplete="NationalID" aria-required="true" placeholder="身分證字號" />
                        <label class="form-label">身分證字號</label>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input v-model="Candidates.Eamil" class="form-control rounded-pill bg-danger bg-opacity-25" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label class="form-label">電子信箱</label>
                        <span class="text-danger"></span>
                    </div>
                    <div class="text-center">
                        <button id="ForgetPassowrdcandidate" type="submit" class="w-50 btn btn-md btn-warning rounded-pill " v-on:click="">
                            發送
                        </button>
                    </div>
                </template>

                <template v-else-if="role == 'company'">
                    <div class="form-floating mb-3">
                        <input v-model="company.GUINumber" class="form-control rounded-pill bg-danger bg-opacity-25"
                               autocomplete="GUINumber" aria-required="true" placeholder="統一編號" />
                        <label class="form-label">統一編號</label>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input v-model="company.ContactEmail" class="form-control rounded-pill bg-danger bg-opacity-25" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label class="form-label">電子信箱</label>
                        <span class="text-danger"></span>
                    </div>
                    <div class="text-center">
                        <button id="ForgetPassowrdcompany" type="submit" class="w-50 btn btn-md btn-warning rounded-pill " v-on:click="">
                            發送
                        </button>
                    </div>
                </template>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        let vuereg = {
            data() {
                return {
                    role: 'candidate',
                    baseAddress: "https://localhost:7169",
                    Candidates: {
                        Email: "",
                        NationalId:"",
                    },
                    company: {
                        GUINumber:"",
                        ContactEmail:"",
                    }
                }
            },
            computed: {
                //發送按鈕禁用倒數計時
                candidatestartimer: function () {
                    const button = document.getElementById("ForgetPassowrdcandidate");
                    const countdownDisplay = document.getElementById("ForgetPassowrdcandidate");

                    let countdown = 60;
                    button.disabled = true;

                    //重複setInterval執行
                    const Interval = setInterval(() => {
                        countdown--;
                        countdownDisplay.textContent = `剩餘${countdown}秒`;

                        if (countdown <= 0) {
                            //clearInterval = 清除重複
                            clearInterval(Interval);
                            countdownDisplay.textContent = "發送";
                            button.disabled = false;
                        }
                    }, 1000); //每秒執行一次

                },
                companystartimer: function () {
                    const button = document.getElementById("ForgetPassowrdcompany");
                    const countdownDisplay = document.getElementById("ForgetPassowrdcompany");

                    let countdown = 60;
                    button.disabled = true;

                    //重複setInterval執行
                    const Interval = setInterval(() => {
                        countdown--;
                        countdownDisplay.textContent = `剩餘${countdown}秒`;

                        if (countdown <= 0) {
                            //clearInterval = 清除重複
                            clearInterval(Interval);
                            countdownDisplay.textContent = "發送";
                            button.disabled = false;
                        }
                    }, 1000); //每秒執行一次

                },
            },
            methods: {
                ForgetPassowrdcandidatebtn: function () {
                    let _this = this;
                    let request = {
                        // role:_this.role,
                        Email: _this.Candidates.Email,
                        NationalId: _this.Candidates.NationalId,
                    };
                    fetch(`${_this.baseAddress}/ForgetPassword/SendVerificationLetter`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"  // 指定 JSON 格式
                        },
                        body: JSON.stringify(request),  // 將數據序列化為 JSON
                    }).then(res => {
                        return res.json();
                    }).then(data => {
                        if (data.success == true) {
                            alert(data.message);
                            //禁用發送按鈕60秒
                            _this.candidatestartimer
                        } else if (data.success == false) {
                            alert(data.message);
                        };
                    }).catch(err => {
                        alert(JSON.stringify(err));
                    })
                },
                ForgetPassowrdcompanybtn: function () {
                    let _this = this;
                    let request = {
                        // role:_this.role,
                        GUINumber: _this.Candidates.GUINumber,
                        ContactEmail: _this.Candidates.ContactEmail,
                    };
                    fetch(`${_this.baseAddress}/ForgetPassword/SendVerificationLetter`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"  // 指定 JSON 格式
                        },
                        body: JSON.stringify(request),  // 將數據序列化為 JSON
                    }).then(res => {
                        return res.json();
                    }).then(data => {
                        if (data.success == true) {
                            alert(data.message);
                            //禁用發送按鈕60秒
                            _this.companystartimer
                        } else if (data.success == false) {
                            alert(data.message);
                        };
                    }).catch(err => {
                        alert(JSON.stringify(err));
                    })
                },



            }
        };
        Vue.createApp(vuereg).mount("#ForgetPassowrdApp")
    </script>
}
