@section Styles {
    <style>

    </style>
}



<div class="container py-2" id="app">
    <div class="row" style="width:30%; margin-left:10px; margin-right:auto">
        <label class="form-label">關鍵字搜尋：</label>
        <input type="text" class="form-control" v-model="filter" placeholder="請輸入關鍵字" v-on:keyup="filterCompanyList" />
    </div>

    @* <button v-on:click="CompanyListData">Click</button> *@
    <table class="table text-center table-striped table-hover ">
        <thead>
            <tr>
                <td class="col-1">公司ID</td>
                <td>公司名稱</td>
                <td>統一編號</td>
                <td>聯絡人</td>
                <td>電話</td>
                <td>電子信箱</td>
                <td class="col-3">審核時間</td>
                <td class="col-1">審核狀態</td>
            </tr>
        </thead>
        <tbody id="CompanyList">
            <tr v-for="item in companylist.slice(pageStart,pageEnd)" class="overcard">
                <td>{{item.companyId}}</td>
                <td class="col-2">{{item.companyName}}</td>
                <td>{{item.guiNumber}}</td>
                <td class="col-2">{{item.contactName}}</td>
                <td>{{item.contactPhone}}</td>
                <td>{{item.contactEmail}}</td>
                <td class="co1-3">{{item.date}}</td>
                @* 審核狀態 *@
                @* <td v-html="statusYN(item.status)"></td> *@
                <template v-if="item.status == false"><td class="col-1"><button class="btn btn-danger" v-on:click="editStatus(item)">待審核</button></td></template>
                <template v-else=""><td class="col-2"><button class="btn btn-secondary" disabled>已審核</button></td></template>
                
            </tr>
        </tbody>
    </table>
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" v-on:click="setPage(currentPage-1)">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li v-for="item in totalPage" class="page-item" v-on:click="setPage(item)">
                    <a class="page-link" href="#">{{item}}</a>
                </li>

                <li class="page-item" v-on:click="setPage(currentPage+1)">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>

@section Scripts
{

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.4/axios.min.js" integrity="sha512-6VJrgykcg/InSIutW2biLwA1Wyq+7bZmMivHw19fI+ycW0jIjsadm8wKQQLlfv3YUS4owfMDlZU38NtaAK6fSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
         function convertToFullDateTime(dateObject) {
            if (!dateObject) return null;
            const offset = dateObject.getTimezoneOffset() * 60000; // 將時區偏移轉換為毫秒
            const localTime = new Date(dateObject.getTime() - offset);

            return localTime.toISOString().slice(0, 19); //取到秒數2位 如2024-09-22T12:03:11
        }; 
        Vue.createApp({
            data() {
                return {
                    baseAddress: "https://localhost:7169",
                    filter: "",
                    companylist:[],
                    pageStatus: 0,
                    perpage: 8, //一頁的資料數
                    currentPage: 1,
                    MessageStatus: 1,
                    statusDate: new Date(),
                }
            },
            computed: {
                totalPage() {
                    return Math.ceil(this.companylist.length / this.perpage)
                    //回傳大於等於的最小整數
                },
                pageStart() {
                    return (this.currentPage - 1) * this.perpage
                },
                pageEnd() {
                    return this.currentPage * this.perpage
                }
            },
            methods: {
                setPage(page) {
                    if (page <= 0 || page > this.totalPage) {
                        return
                    }
                    this.currentPage = page
                },
                CompanyListData: function () {
                    // alert("AAA");
                    fetch("/Admins/CompanyList/IndexJson", {
                        method:"GET"
                    }).then(response => {
                        return response.json();
                    }).then(data => {
                        return this.companylist=data
                    }).catch(err => {
                        alert(JSON.stringify(err))
                    })
                },
                editStatus:function(item){
                    let _this = this;
                    const confirmdel = confirm("確定要更改?");
                    if (confirmdel == true) {
                        let request = {
                            CompanyId: item.companyId,
                            Status: true,
                            Date: convertToFullDateTime(_this.statusDate),
                            ContactEmail: item.contactEmail,
                            ContactName: item.contactName,
                            CompanyName: item.companyName,
                        };
                        fetch(`${_this.baseAddress}/Admins/CompanyList/EditstatusYN`, {
                            method: "PUT",
                            headers: {
                                "content-type": "application/json" // 告訴伺服器我們發送的是 JSON 格式的數據
                            },
                            body: JSON.stringify(request)
                        }).then(res => {
                            return res.json();
                        }).then(data => {
                            if (data.success == true) {
                                alert(data.message);
                            } else if (data.success == false) {
                                alert(data.message);
                            };
                        }).catch(err => {
                            alert(JSON.stringify(err));
                        })
                    }else{
                        alert("已取消操作");
                    }
                    
                },
                filterCompanyList: function () {
                    // alert(`filter:${_this.filter}`);
                    let _this = this;
                    let request = {};
                    request.CompanyId = isNaN(Number(_this.filter)) ? -1 : Number(_this.filter);
                    request.CompanyName = request.GUINumber = request.ContactName = request.ContactPhone = request.ContactEmail = _this.filter;
                    axios.post(`${_this.baseAddress}/Admins/CompanyList/Filter`, request).then(response => {
                        // alert(JSON.stringify(response.data));
                        _this.companylist = response.data;

                    }).catch(err => {
                        alert(JSON.stringify(err));
                    });
                },
            },
            mounted: function () {
                let _this = this;
                _this.CompanyListData();
                // _this.filterCompanyList();
            },
        }).mount("#app");
    </script>
}