<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - test</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/test.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/css/oldstyles.css" rel="stylesheet" />
    
</head>
<body class="sb-nav-fixed" >
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-warning">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3 " href="index.html">會員帳號 </a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 btn btn-light bg-" id="sidebarToggle"
                href="#!"></button>
        <div class="d-none d-md-inline-block form-inline mx-auto ">
            <h3>小鴨上工</h3>
        </div>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <a href="#">
            <li class="mx-2">返回首頁</li>
            </a>
            <a href="#">
            <li class="mx-2">登出</li>
            </a>
        </ul>
    </nav>

    
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <!-- left-Navbar-->
            <nav class="sb-sidenav accordion bg-warning" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                            <a class="nav-link" asp-area="Companies" asp-controller="Companies" asp-action="Index">
                                <div></div>
                                會員中心
                            </a>
                            <a class="nav-link collapsed" asp-area="Companies" asp-controller="Home" asp-action="Index">
                                <div></div>
                                基本資料
                                <div class="sb-sidenav-collapse-arrow"></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordion">
                            </div>
                                <a class="nav-link collapsed" asp-area="Companies" asp-controller="Home" asp-action="Index">
                                    <div></div>
                                    公司介紹
                                    <div class="sb-sidenav-collapse-arrow"></div>
                                </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                                 data-bs-parent="#sidenavAccordion"></div>
                                <a class="nav-link collapsed" asp-area="Companies" asp-controller="Home" asp-action="Index">
                                    求職者履歷
                                    <div class="sb-sidenav-collapse-arrow"></div>
                                </a>
                            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordionPages">
                            </div>
                                <a class="nav-link collapsed" asp-area="Companies" asp-controller="Home" asp-action="Index">
                                    訊息總覽
                                </a>
                                <a class="nav-link collapsed" asp-area="Companies" asp-controller="Home" asp-action="Index">
                                    方案選擇
                                </a>
                                <a class="nav-link collapsed" asp-area="Companies" asp-controller="Home" asp-action="Index">
                                    職缺刊登
                                </a>
                    </div>
                </div>  
            </nav>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
           


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="~/js/datatables-simple-demo.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
