<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/css/oldstyles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/assets/duck.ico" />
    <link href="~/lib/datatables/css/datatables.bootstrap.min.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Styles", required: false)
    <style>
        .astext {
            background: none;
            border: none;
            margin: 0;
            cursor: pointer;
        }

        .overcard:hover {
            background-color: #e6e6e6;
        }

        .bgcolor {
            background-color: #ffeedf;
        }

    </style>
</head>
<body>
    <div class="sb-nav-fixed" id="app">
        @* 上方導覽列 *@
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-warning">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" role="button"><i class="fa-regular fa-building" style="color: #ffffff;"></i>     會員帳號</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle"><i class="fas fa-bars"></i></button>
            <!-- Navbar Return-->
            <div class="d-none d-md-inline-block form-inline mx-auto ">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" style="color:white;"><h3>小鴨上工</h3></a>
            </div>
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="mx-2"><a class="nav-link" role="button" asp-area="" asp-controller="Home" asp-action="Index">返回首頁</a></li>
                <li class="mx-2"><a class="nav-link" role="button">登出</a></li>
            </ul>
        </nav>

        @* 左側導覽列 *@
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <!-- left-Navbar-->
                <nav class="sb-sidenav sb-sidenav-warning" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            @*                         <div class="sb-sidenav-menu-heading">會員中心</div> *@
                            <a type="button" class="nav-link astext" asp-area="Companies" asp-controller="Home" asp-action="Index"><h4>會員首頁</h4></a>
                            <nav class="sb-sidenav-menu-nested nav">
                                <a type="button" class="nav-link astext" asp-area="Companies" asp-controller="Home" asp-action="Member">會員資料</a>
                            </nav>
                            <nav class="sb-sidenav-menu-nested nav">
                                <a type="button" class="nav-link astext" asp-area="Companies" asp-controller="Home" asp-action="Intro">公司介紹</a>
                            </nav>
                            <nav class="sb-sidenav-menu-nested nav">
                                <a type="button" class="nav-link astext" asp-area="Companies" asp-controller="Home" asp-action="Opening">職缺刊登</a>
                            </nav>
                            <nav class="sb-sidenav-menu-nested nav">
                                <a type="button" class="nav-link collapsed astext" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts" asp-area="Companies" asp-controller="CompanyDealingResumeController" asp-action="Index">
                                    履歷瀏覽
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a type="button" class="nav-link astext" asp-area="Companies" asp-controller="C_Resume" asp-action="ResumeStorage">履歷暫存</a>
                                    </nav>
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a type="button" class="nav-link astext" asp-area="Companies" asp-controller="C_Resume" asp-action="ReceiveResume">投遞履歷</a>
                                    </nav>
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a type="button" class="nav-link astext" asp-area="Companies" asp-controller="C_Resume" asp-action="ReceiveResume">面試邀約</a>
                                    </nav>
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a type="button" class="nav-link astext" asp-area="Companies" asp-controller="C_Resume" asp-action="ReceiveResume">已獲錄取</a>
                                    </nav>
                                </div>
                            </nav>
                            <nav class="sb-sidenav-menu-nested nav">
                                <a type="button" class="nav-link collapsed astext" data-bs-toggle="collapse" data-bs-target="#collapseMessage" aria-expanded="false" aria-controls="collapseLayouts" asp-area="Companies" asp-controller="Home" asp-action="Message">
                                    訊息總覽
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseMessage" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a type="button" class="nav-link astext" asp-area="Companies" asp-controller="Home" asp-action="Notifications">應徵訊息</a>
                                    </nav>
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a type="button" class="nav-link astext" asp-area="Companies" asp-controller="Home" asp-action="OpinionLetters">意見訊息</a>
                                    </nav>
                                </div>
                            </nav>
                            <nav class="sb-sidenav-menu-nested nav">
                                <a type="button" class="nav-link astext" asp-area="Companies" asp-controller="PricingPlans" asp-action="Index">方案選擇</a>
                            </nav>
                            <nav class="sb-sidenav-menu-nested nav">
                                <a type="button" class="nav-link astext" asp-area="Companies" asp-controller="Home" asp-action="PricingOrderHistory">訂單紀錄</a>
                            </nav>
                        </div>
                    </div>
                    @* <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    公司帳號
                    </div> *@
                </nav>
            </div>
            <div id="layoutSidenav_content" class="bgcolor">
                <main role="main">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="~/js/datatables-simple-demo.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    @* <script src="~/lib/datatables/js/datatables.bootstrap.min.js"></script> *@
    @* <script src="https://cdn.datatables.net/fixedheader/4.0.1/js/dataTables.fixedHeader.min.js"></script> *@
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
