<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - test</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/test.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/css/oldstyles.css" rel="stylesheet" />
    <style>
        a{
            text-decoration: none
        }
    </style>
</head>
<body class="sb-nav-fixed" >
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-warning">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3 ">會員帳號 </a>
        <!-- Sidebar Toggle-->
        <button class=" btn-sm order-1 order-lg-0 me-4 me-lg-0 " id="sidebarToggle" href="#!">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="d-none d-md-inline-block form-inline mx-auto ">
            <h3><a class="" asp-area="" asp-controller="Home" asp-action="Index">小鴨上工</a></h3>
        </div>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <a class="" asp-area="" asp-controller="Home" asp-action="Index">
            <li class="mx-2">返回首頁</li>
            </a>
            <a href="#">
            <li class="mx-2">登出</li>
            </a>
        </ul>
    </nav>

    
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <!-- left-Navbar-->
            <nav class="sb-sidenav accordion bg-warning" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                            <a class="nav-link" asp-area="Companies" asp-controller="Companies" asp-action="Index">
                                會員中心
                            </a>
                            <a class="nav-link collapsed" asp-area="Companies" asp-controller="Home" asp-action="Index">
                                基本資料
                                <div class="sb-sidenav-collapse-arrow"></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordion">
                            </div>
                                <a class="nav-link collapsed" asp-area="Companies" asp-controller="Home" asp-action="Index">
                                    公司介紹
                                    <div class="sb-sidenav-collapse-arrow"></div>
                                </a>

                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                求職者履歷
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-area="Companies" asp-controller="Home" asp-action="Index">暫存履歷</a>
                                <a class="nav-link" asp-area="Companies" asp-controller="Home" asp-action="Index">已錄取</a>
                                <a class="nav-link" asp-area="Companies" asp-controller="Home" asp-action="Index">已發送面試邀約</a>
                                </nav>
                            </div>
                            
                            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordionPages">
                            </div>
                                <a class="nav-link collapsed" asp-area="Companies" asp-controller="Home" asp-action="Index">
                                    訊息總覽
                                </a>
                                <a class="nav-link collapsed" asp-area="Companies" asp-controller="Home" asp-action="Index">
                                    方案選擇
                                </a>
                                <a class="nav-link collapsed" asp-area="Companies" asp-controller="Home" asp-action="Index">
                                    職缺刊登
                                </a>
                    </div>
                </div>  
            </nav>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
           


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="~/js/datatables-simple-demo.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
