@{
    ViewData["Title"] = "訂單紀錄";
}

@section Styles
{
    <style>

    </style>
}


<div class="container tableOutside pt-1" id="appCompanyOrders">

    <div class="row">
        <h1 class="col-sm-9">最終日期: {{deadline}} 23點59分59秒</h1>
        <div class="col-sm-2">
            <input id="searchOrder" class="form-control" placeholder="搜尋關鍵字" v-model.trim="searchOrderInput" />
        </div>
        <button type="button" class="col-sm-1 btn btn-warning btn-sm text-light" v-on:click="cleanFilter()">清空</button>
    </div>

    <div style="overflow-y:auto;height:81vh">
        <table id="orderTable" class="table table-striped table-hover">
            <thead>
                <tr>
                    <td>方案</td>
                    <td>天數</td>
                    <td>價格</td>
                    <td>下單時間</td>
                    <td>付款時間</td>
                    <td>付款狀態</td>
                    <td></td>
                    @*  <td></td> *@
                </tr>
            </thead>
            <tbody>
                <template v-if="orders.length == 0">
                    <template v-if="ordersYN">
                        <div class="spinner-border text-warning" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </template>
                    <template v-else>
                        <h1>暫無訂單紀錄</h1>
                    </template>
                </template>
                <template v-else>
                    <tr v-for="order in orders">
                        <td>{{order.title}}</td>
                        <td>{{order.duration}}</td>
                        <td>{{order.price}}</td>
                        <td>{{order.orderDate}}</td>
                        <td>{{order.payDate == null ? "無" : order.payDate}}</td>
                        <td>{{order.statusType}}</td>
                        <td>
                            <button type="button" class="btn btn-outline-secondary" v-on:click="SendToNewebPaySearch(order.orderId)">詳情</button>
                        </td>
                        @* <td>
                        <template v-if="order.statusType == '取號完成'">
                        <button type="button" class="btn btn-danger text-light" v-on:click="SendToNewebPayCancel(order.orderId)">取消</button>
                        </template>
                        </td> *@
                    </tr>
                </template>
            </tbody>
        </table>
    </div>

    @* 詳情Modal *@
    <div class="modal fade" id="SearchModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="SearchModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <template v-if="searchData.statusType == '付款失敗'">
                    <div class="modal-header bg-danger">
                        <h3 class="modal-title text-light" id="SearchModalLabel">訂單資訊</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </template>
                <template v-else>
                    <div class="modal-header bg-warning">
                        <h3 class="modal-title text-light" id="SearchModalLabel">訂單資訊</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </template>
                <div class="modal-body">
                    <p class="h5" style="width:100%;word-break:break-all;">藍新金流交易序號: {{searchData.tradeNo ? searchData.tradeNo : "無"}}</p>
                    <p class="h5" style="width:100%;word-break:break-all;">訂單編號: {{searchData.orderId}}</p>
                    <hr />
                    <p class="h5" style="width:100%;word-break:break-all;">方案: {{searchData.title}}</p>
                    <p class="h5" style="width:100%;word-break:break-all;">方案天數: {{searchData.duration}}天</p>
                    <p class="h5" style="width:100%;word-break:break-all;">價格: NT${{searchData.price}}</p>
                    <hr />
                    <p class="h5" style="width:100%;word-break:break-all;">下單時間: {{searchData.orderdate}}</p>
                    <p class="h5" style="width:100%;word-break:break-all;">付款時間: {{searchData.payDate ? searchData.payDate : "無"}}</p>
                    <hr />
                    <p class="h5" style="width:100%;word-break:break-all;">訂單狀態: <span class="text-danger" v-if="searchData.statusType == '付款失敗'">{{searchData.statusType}}</span><span class="text-primary" v-else>{{searchData.statusType}}</span></p>
                    <p class="h5" style="width:100%;word-break:break-all;">付款方式: {{searchData.paymentType ? GetPaymentType() : "無"}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>

    @* 找不到訂單Modal *@
    <div class="modal fade" id="SearchNULLModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="SearchNULLModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h3 class="modal-title text-light" id="SearchNULLModalLabel">未找到訂單</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h1>訂單不存在</h1>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>

    @* 取消訂單成功Modal *@
    <div class="modal fade" id="CancelModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="CancelModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h3 class="modal-title text-light" id="CancelModalLabel">{{cancelMessage}}</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h1>訂單編號:{{selectedCancelOrder}} {{cancelMessage}}</h1>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>

    @* 取消訂單失敗Modal *@
    <div class="modal fade" id="CancelFalseModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="CancelFalseModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h3 class="modal-title text-light" id="CancelFalseModalLabel">{{cancelMessage}}</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>訂單編號:{{selectedCancelOrder}} {{cancelMessage}}</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <script>
        let vueAppCompanyOrders = {
            data() {
                return {
                    // baseAddress: "https://duckjobhunting.azurewebsites.net",
                    baseAddress: "https://localhost:7169",
                    orders: [],
                    ordersYN: true,
                    deadline: null,
                    searchOrderInput: "",
                    searchData: [],
                    selectedCancelOrder: null,
                    cancelMessage: "",
                }
            },
            computed: {},
            methods: {
                getCompanyOrders: function () {
                    let request = {};
                    request.Filter = this.searchOrderInput;
                    axios.get(`${this.baseAddress}/Companies/CompanyOrders/GetCompanyOrders`, {
                        headers: {
                            'search': this.searchOrderInput // Sending the search parameter in the header
                        }
                    })
                        .then(response => {
                            this.orders = response.data;
                            if (response.data.length == 0) {
                                this.ordersYN = false;
                            }
                        })
                        .catch(err => { alert(err) });
                },
                showDeadline() {
                    // 拿Companies裡的Deadline
                    axios.get(`${this.baseAddress}/Companies/CompanyOrders/GetDeadline`)
                        .then(response => this.deadline = (response.data ? response.data : "無"))
                        .catch(err => { alert(err) })
                        .finally(() => {
                            if (this.deadline === null) {
                                alert("請購買方案");
                            }
                        });
                },
                cleanFilter: function () {
                    this.searchOrderInput = "";
                    this.getCompanyOrders();
                },
                SendToNewebPaySearch: function (orderId) {
                    let self = this;

                    // 訂單Id
                    let postData = {};
                    postData['OrderId'] = orderId;

                    axios.post(`${self.baseAddress}/Companies/CompanyOrders/SendToNewebPaySearch`, postData, {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(response => {
                        if (response.data.status) {
                            this.searchData = response.data.orderData;
                            $("#SearchModal").modal("show");
                        }
                        else if (!response.data.status) {
                            $("#SearchNULLModal").modal("show");
                        }
                    }).catch(error => {
                        alert(error.response.status + " " + error.response.statusText + '\n' + error.response.data);
                    }).finally(() => {
                        this.getCompanyOrders();
                        this.showDeadline();
                    });
                },
                SendToNewebPayCancel: function (orderId) {
                    this.selectedCancelOrder = orderId;

                    // 訂單Id
                    var postData = {};
                    postData['OrderId'] = orderId;

                    axios.post(`${this.baseAddress}/Companies/CompanyOrders/SendToNewebPayCancel`, postData, {
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    }).then(response => {
                        if (response.data.status) {
                            this.cancelMessage = response.data.message;
                            $("#CancelModal").modal("show");
                        }
                        else if (!response.data.status) {
                            this.cancelMessage = response.data.message;
                            $("#CancelFalseModal").modal("show");
                        }
                    })
                        .catch(error => {
                            alert(error.response.status + " " + error.response.statusText + '\n' + error.response.data);
                        })
                        .finally(() => {
                            this.getCompanyOrders();
                            this.showDeadline();
                        });
                },
                GetPaymentType: function () {
                    switch (this.searchData.paymentType) {
                        case 'CREDIT':
                            return "信用卡一次付清";
                        case 'APPLEPAY':
                            return "Apple Pay";
                        case 'ANDROIDPAY':
                            return "Google Pay";
                        case 'WEBATM':
                            return "WEBATM";
                        case 'VACC':
                            return "ATM轉帳";
                        case 'CVS':
                            return "超商代碼繳費";
                        case 'BARCODE':
                            return "超商條碼繳費";
                        case 'ESUNWALLET':
                            return "玉山Wallet";
                        case 'TAIWANPAY':
                            return "台灣Pay";
                    }
                },
            },
            watch: {
                searchOrderInput: function () {
                    this.getCompanyOrders();
                },
            },
            mounted: function () {
                this.getCompanyOrders();
                this.showDeadline();
            },
        };
        let app = Vue.createApp(vueAppCompanyOrders).mount("#appCompanyOrders");
    </script>
}
