    @using JobHunting.Areas.Companies.ViewModel
@using JobHunting.Areas.Companies.Models;
@model IEnumerable<JobHunting.Areas.Companies.ViewModel.ReceiveResumeViewModel>
@{
    ViewData["Title"] = "會員中心";
}
<div id="receiveResume">
    <div class="col-10 mx-auto  mt-4">
        <div class="row">
            <div class="col-5">
                <select class="" style="width:40%" id="OpTitleClass" v-model="selectedOpClassTitleId" v-on:change="selectedOpTitleId=null">
                    <option value="" selected>----職缺類別----</option>
                    <option v-for="item in resumes" v-bind:value="item.titleClassId">{{item.titleClassName}}</option>
                </select>
                <template v-if="selectedOpClassTitleId">
                    <select class="" style=" width:60%" v-model="selectedOpTitleId">
                        <option value="" selected>----職缺名稱----</option>
                        <option v-for="item in filteredResumes" v-bind:value="item.titleId">{{item.title}}</option>
                    </select>
                </template>
                <template v-else>
                    <select class="" style=" width:60%" v-model="selectedOpTitleId">
                        <option value="" selected>----職缺名稱----</option>
                        <option v-for="item in resumes" v-bind:value="item.titleId">{{item.title}}</option>
                    </select>
                </template>

                <span id="TitleClass"></span>
            </div>
            <div class="col-7">
                <h3 class="text-right" style="">應徵履歷</h3>
            </div>
        </div>
    </div>


    <div class="container tableOutside">
        <table class="table table-striped" id="ChangePage" style="text-align: center">
            <thead class="table-warning">
                <tr>
                    <th class="col">應徵日期</th>
                    <th class="col">職缺類別</th>
                    <th class="col">職缺名稱</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in displayedResumes.slice(pageStart,pageEnd)">
                    <th>{{item.applyDate}}</th>
                    <td>{{item.titleClassName}}</td>
                    <td>{{item.title}}</td>
                    <td><partial name="_ResumeBtnModal"></td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" v-on:click="setPage(currentPage-1)">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li v-for="item in totalPage" class="page-item" v-on:click="setPage(item)">
                    <a class="page-link" href="#">{{item}}</a>
                </li>
                <li class="page-item" v-on:click="setPage(currentPage+1)">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

@section Scripts {
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let VueApp = {
            data() {
                return {
                    baseAddress: "https://localhost:7169",
                    resumes: [], //從後端撈回來的資料存入這邊

                    pageStatus: 0,
                    perpage: 5, //一頁的資料數
                    currentPage: 1,
                    filter: "",

                    OpClassTitle: [],
                    OpTitle: [],
                    selectedOpClassTitleId: '',
                    selectedOpTitleId: '',
                    OrderDetail:
                        [
                            { Detail: "公司名稱" },
                            { Detail: "方案名稱" },
                            { Detail: "訂購日期" },
                            { Detail: "方案天數" },
                            { Detail: "付款狀態" },
                        ],
                };
            },
            computed: {
                totalPage() {
                    return Math.ceil(this.resumes.length / this.perpage)
                    //Math.ceil()取最小整數
                },
                pageStart() {
                    return (this.currentPage - 1) * this.perpage
                    //取得該頁第一個值的index
                },
                pageEnd() {
                    return this.currentPage * this.perpage
                    //取得該頁最後一個值的index
                },
                filteredResumes() {
                    return this.resumes.filter(item => item.titleClassId == this.selectedOpClassTitleId)
                },
                displayedResumes() {
                    if (!this.selectedOpClassTitleId && !this.selectedOpTitleId) {
                        return this.resumes;
                    } else if (this.selectedOpClassTitleId && !this.selectedOpTitleId) {
                        return this.filteredResumes;
                    } else if (!this.selectedOpClassTitleId && this.selectedOpTitleId) {
                        return this.resumes.filter(item => item.titleId == this.selectedOpTitleId)
                    } else if (this.selectedOpClassTitleId && this.selectedOpTitleId) {
                        return this.filteredResumes.filter(item => item.titleId == this.selectedOpTitleId)
                    }
                    return this.resumes;
                }
            },
            methods: {
                setPage(page) {
                    if (page <= 0 || page > this.totalPage) {
                        return
                    }
                    this.currentPage = page
                },
                receiveResumeData: function () {
                    fetch("/companies/C_Resume/ReceiveResumeJson", {
                        method: "GET",
                    }).then(response => {
                        return response.json();
                    })
                        .then(data => {
                            return this.resumes = data
                        }).catch(err => {
                            alert(JSON.stringify(err))
                        });

                    axios.get(`${this.baseAddress}/Companies/C_Resume/OpClassTitle`).then(
                        res => this.OpClassTitle = res.data
                    ).catch(
                        err => { alert(err) }
                    );

                    axios.get(`${this.baseAddress}/Companies/C_Resume/OpTitle`).then(
                        res => this.OpTitle = res.data
                    ).catch(
                        err => { alert(err) }
                    );
                },


            },
            watch: {
                orderSelA: function (selval) {
                    this.orderSelB = selval
                },
            },
            //每次重新載入網頁時會自動初始化撈出資料
            mounted() {
                this.receiveResumeData();
            }
        };
        let app = Vue.createApp(VueApp).mount("#receiveResume");
    </script>
}
