@using JobHunting.Areas.Companies.ViewModel
@using JobHunting.Areas.Companies.Models;
@model IEnumerable<JobHunting.Areas.Companies.ViewModel.ReceiveResumeOutputModel>
@{
    ViewData["Title"] = "投遞履歷";
}
@section Styles {
    <style>
        .scrollable-div {
            height: 200px; /* 固定高度 */
            overflow-y: auto; /* 當內容超出時，顯示垂直捲軸 */
        }

        .certification:hover {
            transform: scale(3);
        }
    </style>
}

<div id="receiveResume" >
    <div class="col-10 mx-auto  mt-4" >
        <div class="row">
            <div class="col-5">
                @* <select class="" style="width:40%" id="OpTitleClass" v-model="selectedOpClassTitleId" v-on:change="selectedOpTitleId=null">
                    <option value="" selected>-----職缺類別-----</option>
                    <option v-for="item in resumes" v-bind:value="item.titleClassId">{{getTitleClassName(item.titleClassId)}}</option>
                </select> *@
                @* <template v-if="selectedOpClassTitleId">
                    <select class="" style=" width:60%" v-model="selectedOpTitleId">
                        <option value="" selected>-----職缺名稱-----</option>
                        <option v-for="item in filteredResumes" v-bind:value="item.openingId">{{item.openingTitle}}</option>
                    </select>
                </template> *@

                
                <label style=" width:60%">
                    <input type="text" class="form-control mb-2"  v-model.trim.lazy="filter" v-on:change="receiveResumeData" placeholder="篩選關鍵字">
                    @* <button class="btn btn-warning" v-on:click="clearfilter">清空全部篩選</button> *@
                </label>
                

                <span id="TitleClass"></span>
            </div>
            <div class="col-7">
                <h3 class="text-right" style="">應徵履歷</h3>
            </div>
        </div>
    </div>


    <div class="container tableOutside" >
        <table class="table table-striped" id="ChangePage" style="text-align: center">
            <thead class="table-warning">
                <tr>
                    <th class="col">應徵日期</th>
                    @* <th class="col">職缺類別</th> *@
                    <th class="col">
                        <select class="btn btn-outline-dark" v-model="selectedOpTitleId">
                            <option :value="undefined" selected>職缺名稱</option>
                            <option v-for="item in uniqueResumes" v-bind:value="item.openingTitle">{{item.openingTitle}}</option>
                        </select>
                    </th>
                    <th class="col">求職者</th>
                    <th class="col">
                        <select v-model.lazy="selectedInterviewYN" v-on:change="receiveResumeData" class="btn btn-outline-dark">
                            <option :value="undefined" selected>是否面試</option>
                            <option :value="true">已面試</option>
                            <option :value="false">未面試</option>
                        </select>
                    </th>
                    <th class="col">
                        <select v-model.lazy="selectedHireYN" v-on:change="receiveResumeData" class="btn btn-outline-dark">
                            <option :value="undefined" selected>是否錄取</option>
                            <option :value="true">已錄取</option>
                            <option :value="false">未錄取</option>
                        </select>
                    </th>
                    <th class="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in displayedResumes.slice(pageStart,pageEnd)">
                    <th>{{item.applyDate}}</th>
                    @* <td>{{getTitleClassName(item.titleClassId) }}</td> *@
                    <td>{{item.openingTitle}}</td>
                    <td>{{item.name}}</td>
                    @* 是否面試欄位 *@
                    <td v-html="selectInterviewYN(item.interviewYN)">   
                    </td>
                    @* 是否錄取欄位 *@
                    <td v-html="selectselectedHireYN(item.hireYN)">

                    </td>
                    <td>
                        <!-- Button trigger modal --> @* 查看履歷modal *@
                        <button type="button" data-bs-toggle="modal"
                                :data-bs-target="'#'+mergeID(item)" class="btn btn-primary">
                            查看履歷
                        </button>

                        <!-- Modal -->
                        <div class="modal fade"
                             :id="mergeID(item)"
                             tabindex="-1"
                             data-bs-backdrop="static"
                             data-bs-keyboard="false"
                             role="dialog"
                             aria-labelledby="modalTitleId"
                             aria-hidden="true" >
                            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl"
                                 role="document">
                                <div class="modal-content ">
                                    <div class="card modal-body bg-warning">
                                        @* 履歷純顯示 *@
                                        <div class="card-body container-fluid">
                                            <div class="modal-header" style="background-color: #f7d179;">
                                                <h5 class="modal-titl text-center" id="modal" style="width:95% ;" >
                                                    {{item.name}}的履歷
                                                </h5>
                                                <button type="button"
                                                        class="btn-close"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close">
                                                </button>
                                            </div>

                                            <div class="row" >
                                                <div class="col-sm-6">
                                                    <div class="card mb-3">
                                                        <div class="card-body">
                                                            <h5 class="card-title" style="text-align:center">個人資料</h5>
                                                            <div class="mb-3"><img class="rounded float-end mx-4 img-fluid" :src="item.headshot ? 'data:image/jpeg;base64,' + item.headshot : noimagepreview" style="width:100px;height:100px" :title="item.candidatename" /></div>
                                                            <div class="text-start" style="">
                                                                <p class="card-text ">
                                                                    <div class="col ">
                                                                        <label class="" size="10">姓名 :{{item.name}} </label>
                                                                    </div>
                                                                    <div>
                                                                        <label for="" class="mb-2">性別 : {{selectSex(item.sex)}}</label>
                                                                    </div>
                                                                    <div class="col">
                                                                        <label for="" class="mb-2">生日 : {{item.birthday}}</label>
                                                                    </div>
                                                                    <div class="col">
                                                                        <label for="" class="mb-2">電話 : {{item.phone}}</label>
                                                                        <label for="" class="mb-2 mx-3">學歷 : {{item.degree}}</label>
                                                                    </div>
                                                                    <div class="col">
                                                                        <label for="" class="mb-2">郵件 : {{item.email}}</label>
                                                                    </div>
                                                                    <div class="col">
                                                                        <label for="" class="mb-2">就業狀態 : {{item.employmentStatus}}</label>
                                                                    </div>
                                                                    <div class="card-body ">
                                                                        <h5 class="card-title text-center" style="">自我介紹：</h5>
                                                                        <p class="card-text form-control overflow-auto" style="height:200px">
                                                                            {{item.intro}}
                                                                        </p>
                                                                    </div>
                                                                </p>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="card mb-3">
                                                        <div class="card-body text-start">
                                                            <h5 class="card-title" style="text-align:center">工作經驗</h5>
                                                            <p class="card-text form-control overflow-auto" style="height:250px">
                                                                {{item.workExperience}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="card mb-3">
                                                        <div class="card-body text-start">
                                                            <h5 class="card-title" style="text-align:center">求職條件</h5>
                                                            <p class="card-text">
                                                                <div class="col">
                                                                    <label class="mb-2">上班時段: {{item.time}}</label>
                                                                </div>
                                                                <div class="col">
                                                                    <label class="">
                                                                        <span class="">希望職缺:    </span>
                                                                        {{ getTitleClassName(item.titleClassId) }}
                                                                    </label>


                                                                </div>
                                                                <div class="col">
                                                                    <label class="mb-2">希望上班地點: {{item.address}}</label>
                                                                </div>
                                                                <div class="col">
                                                                    <label for="" class="mb-2">
                                                                        證照 :
                                                                        <img v-if="item.certification != null" class=" certification rounded float-end mx-4 img-fluid" :src="'data:image/jpeg;base64,' + item.certification" style="width:50px;height:50px" title="證照" />
                                                                    </label>
                                                                </div>
                                                                <div>
                                                                    <label class="">能力標籤:</label>
                                                                    {{getTagName(item.tagId)}}
                                                                </div>
                                                            </p>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="card mb-3">
                                                        <div class="card-body text-start">
                                                            <h5 class="card-title" style="text-align:center">自傳</h5>
                                                            <p class="card-text form-control overflow-auto" style="height:200px">
                                                                {{item.autobiography}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        @* 暫存按鈕 *@
                                        <button type="button" class="btn btn-success" v-on:click="addCompanyResumeLikeRecords(item.companyId, item.resumeId)">暫存</button>
                                        @* 發送面試通知按鈕 *@
                                        <button type="button" class="btn btn-primary btn-md" data-bs-toggle="modal"
                                        @* data-bs-target="#interviewMailBtn" *@ v-on:click="openInterviewModal(item)">
                                            面試
                                        </button>


                                        @* 發送錄取通知按鈕 *@
                                        <button type="button" class="btn btn-primary btn-md" data-bs-toggle="modal"
                                        @* data-bs-target="#OfferMailBtn" *@ v-on:click="openAdmissionModal(item)">
                                            錄取
                                        </button>
                                        @*  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">拒絕</button> *@
                                    </div>

                                </div>
                            </div>
                        </div>

                        
                    </td> 
                </tr>
            </tbody>
        </table>
        @* 發送錄取通知 *@

        <div class="modal fade" id="OfferMailBtn" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
             aria-labelledby="modalTitleId " aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-warning">
                        <h3 class="CompanyNameh3 text-center" style="width:95%">錄用通知</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    @* 錄取通知內容 *@
                    <div class="modal-body">
                        <div class="container bg-light" style="border-radius: 30px;width: 100%;">
                            <div class="inputOutAreas">
                                <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                    <label for=" inputCompanyName" class="col-sm-2 col-form-label labelDate">主旨：</label>
                                    <input type="text" class="form-control inputDate" v-model="SendAdmission.AdmissionSubjectLine">
                                </div>
                                <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                    <label for=" inputCompanyName" class="col-sm-2 col-form-label labelDate">日期：</label>
                                    <input type="date" class="form-control inputDate" v-model="SendAdmission.AdmissionDate" :min="minDate">
                                </div>
                                <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                    <label for=" inputCompanyName" class="col-sm-2 col-form-label labelTime">時間：</label>
                                    <input type="time" class="form-control inputTime" v-model="SendAdmission.AdmissionTime">
                                </div>
                                <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                    <label for=" inputCompanyName" class="col-sm-2 col-form-label labelPlace">地點：</label>
                                    <input type="text" class="form-control inputPlace" v-model="SendAdmission.AdmissionPlace">
                                </div>

                                <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                    <label for=" inputCompanyName" class="col-sm-2 col-form-label labelText">訊息﹕</label>
                                    <textarea class="form-control" style="height:150px" name="錄用通知訊息" v-model="SendAdmission.AdmissionContent"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer bg-warning">
                        <button type="submit" class="btn btn-outline-secondary" v-on:click="SendAdmissionLetter">發送</button>
                    </div>
                </div>
            </div>
        </div>

        @* 發送面試通知 *@

        <div class="modal fade" id="interviewMailBtn" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
             aria-labelledby="modalTitleId" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-warning">
                        <h3 class="CompanyNameh3 text-center" style="width:95%">面試邀請</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    @* 面試通知內容 *@
                    <div class="modal-body">
                        <div class="container bg-light" style="border-radius: 30px;width: 100%;">
                            <div class="inputOutAreas">
                                <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                    <label for=" inputCompanyName" class="col-sm-2 col-form-label labelDate">主旨：</label>
                                    <input type="text" class="form-control inputDate" v-model="Sendinterview.Purpose">
                                </div>
                                <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                    <label for=" inputCompanyName" class="col-sm-2 col-form-label labelDate">日期：</label>
                                    <input type="date" class="form-control inputDate" v-model="Sendinterview.Interviewdate" :min="minDate">
                                </div>
                                <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                    <label for=" inputCompanyName" class="col-sm-2 col-form-label labelTime">時間：</label>
                                    <input type="time" class="form-control inputTime" v-model="Sendinterview.Interviewtime">
                                </div>
                                <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                    <label for=" inputCompanyName" class="col-sm-2 col-form-label labelPlace">地點：</label>
                                    <input type="text" class="form-control inputPlace" v-model="Sendinterview.place">
                                </div>

                                <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                    <label for=" inputCompanyName" class="col-sm-2 col-form-label labelText">訊息﹕</label>
                                    <textarea class="form-control " style="height:150px" name="面試邀請訊息" v-model="Sendinterview.Content"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer bg-warning">
                        <button type="submit" class="btn btn-outline-secondary" v-on:click="SendInterviewLetter">發送</button>
                    </div>
                </div>
            </div>
        </div>




        @* 分頁 *@
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" v-on:click="setPage(currentPage-1)">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li v-for="item in totalPage" class="page-item" v-on:click="setPage(item)">
                    <a class="page-link" href="#">{{item}}</a>
                </li>
                <li class="page-item" v-on:click="setPage(currentPage+1)">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

@section Scripts {
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        function convertDateOnly(dateString) {
            if (!dateString) return null; // 檢查是否為空
            const date = new Date(dateString);
            if (isNaN(date.getTime())) return null; // 檢查日期是否有效
            return date.toISOString().split('T')[0]; // 只取日期部分
        };

        function convertTimeOnly(timeString) {
            if (!timeString) return null; // 檢查是否為空
            const [hours, minutes] = timeString.split(':');
            if (!hours || !minutes) return null; // 确保分割结果有效
            const date = new Date();
            date.setHours(hours, minutes);
            return date.toTimeString().split(' ')[0]; // 返回時間部分
        };

        let VueApp = {
            data() {
                return {
                    //baseAddress: "https://duckjobhunting.azurewebsites.net",
                    baseAddress: "https://localhost:7169",
                    resumes: [], //從後端撈回來的資料存入這邊
                    noimagepreview: "/images/No_Image_Available.jpg",
                    pageStatus: 0,
                    perpage: 5, //一頁的資料數
                    currentPage: 1,
                    filter: "",
                    selectedInterviewYN: undefined,

                    selectedHireYN: undefined,
                    selectedOpClassTitleId: '',
                    selectedOpTitleId: undefined,
                    Sendinterview: {
                        Purpose: "",
                        Interviewdate: "",
                        Interviewtime: "",
                        place: "",
                        Content: "",
                        Interviewnotice: "面試邀請",
                        sendDate: new Date(),
                        interviewReplyYN: false,
                        interviewReplyFirstYN: false,
                    },
                    SendAdmission: {
                        AdmissionSubjectLine: "",
                        AdmissionDate: "",
                        AdmissionTime: "",
                        AdmissionPlace: "",
                        AdmissionContent: "",
                        AdmissionStatus: "錄取通知",
                        AdmissionsendDate: new Date(),
                        AdmissionsendReplyYN: false,
                        AdmissionsendReplyFirstYN: false,
                    },
                    selectedItem: {}, // 用儲存選中的資料
                    minDate: ''
                };
            },
            computed: {
                totalPage() {
                    return Math.ceil(this.resumes.length / this.perpage)
                    //Math.ceil()取最小整數
                },
                pageStart() {
                    return (this.currentPage - 1) * this.perpage
                    //取得該頁第一個值的index
                },
                pageEnd() {
                    return this.currentPage * this.perpage
                    //取得該頁最後一個值的index
                },
                //前端篩選職缺名稱
                displayedResumes() {
                    if (!this.selectedOpTitleId) {
                        return this.resumes;
                    } else {
                        return this.resumes.filter(item => item.openingTitle == this.selectedOpTitleId);
                    }
                    return this.resumes
                },
                //下拉式選單v-for出全部的職缺，並把重複的取一
                uniqueResumes() {
                    // 使用 reduce 去除重復
                    return this.resumes.reduce((accumulator, current) => {
                        if (!accumulator.some(item => item.openingTitle === current.openingTitle)) {
                            accumulator.push(current);
                        }
                        return accumulator;
                    }, []);
                },
            },
            methods: {
                setPage(page) {
                    if (page <= 0 || page > this.totalPage) {
                        return
                    }
                    this.currentPage = page
                },
                mergeID(item) {
                    let str = item.name.replace(/\s/g, "");
                    let num = item.resumeId;
                    strID = str + num;
                    return strID;
                },
                selectSex(item) {
                    return item == true ? '男' : '女'
                },
                //判斷是否面試，已面試 V icon 未面試 X icon
                selectInterviewYN(item) {
                    return item == true ? '<i class="fa-solid fa-square-check" style="font-size:30px"></i>' : '<i class="fa-solid fa-square-xmark" style="font-size:30px"></i>';
                },
                //判斷是否錄取，已錄取 V icon 未錄取 X icon
                selectselectedHireYN(item) {
                    return item == true ? '<i class="fa-solid fa-square-check" style="font-size:30px"></i>' : '<i class="fa-solid fa-square-xmark" style="font-size:30px"></i>';
                },
                ReturnNameId: function (item) {
                    let NameId = `NameId${item.tagName}${item.tagId}`;
                    return NameId.replace(" ", "");
                },
                ReturnTitleClassNameId: function (item) {
                    let NameId = `NameId${item.titleClassName}${item.titleClassId}`;
                    return NameId.replace(" ", "");
                },
                ReturnClassNameId: function (item) {
                    let ClassNameId = `ClassNameId${item.tagClassName}${item.tagClassId}`;
                    return ClassNameId.replace(" ", "");
                },
                Returnhashtag: function (item) {
                    return `#${item}`;
                },
                ReturnCategoryNameId: function (item) {
                    let CategoryNameId = `CategoryNameId${item.titleCategoryName}${item.titleCategoryId}`;
                    return CategoryNameId.replace(" ", "");
                },
                getTitleClassName(titleClassId) {
                    if (!Array.isArray(titleClassId)) return '未指定';
                    return titleClassId
                        .map(id => {
                            let titleClassItem = this.titleClass.find(item => item.titleClassId === id);
                            return titleClassItem ? titleClassItem.titleClassName : '未指定';
                        })
                        .join('/ ');
                },
                //列出所有被選到的能力標籤
                getTagName(tagId) {
                    if (!Array.isArray(tagId)) return '未指定';
                    return tagId
                        .map(id => {
                            let tagItem = this.Tags.find(item => item.tagId === id);
                            return tagItem ? tagItem.tagName : '未指定';
                        })
                        .join('/ ');
                },



                //投遞履歷的資料與篩選關鍵字
                receiveResumeData: function () {
                    let _this = this;
                    let request = {
                        ApplyDate: _this.filter,
                        OpeningTitle: _this.filter,
                        Name: _this.filter,
                        InterviewYN: _this.selectedInterviewYN,
                        HireYN: _this.selectedHireYN,
                    };
                    // };
                    // let possibleDate = new Date(_this.filter);
                    // if (!isNaN(possibleDate.getTime())) {
                    //     request.ApplyDate = possibleDate.toISOString().split('T')[0]; // 格式化為 YYYY-MM-DD
                    // }
                    fetch(`${_this.baseAddress}/Companies/C_Resume/ReceiveResumefilter`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"  // 指定 JSON 格式
                        },
                        body: JSON.stringify(request),  // 將數據序列化為 JSON
                    }).then(response => {
                         return response.json();
                    }).then(data => {
                        return _this.resumes = data;
                    }).catch(err => {
                            alert(JSON.stringify(err))
                    });
                },
                TitleandTag:function() {
                    let _this = this;
                    //職業類型
                    fetch(`${_this.baseAddress}/Companies/C_Resume/TitleClassJson`, {
                        method: "GET",
                    }).then(response => {
                        return response.json();
                    }).then(data => {
                        return _this.titleClass = data
                    }).catch(err => {
                        alert(JSON.stringify(err))
                    });
                    fetch(`${_this.baseAddress}/Companies/C_Resume/TagJson`, {
                        method: "GET",
                    }).then(response => {
                        return response.json();
                    }).then(data => {
                        return _this.Tags = data
                    }).catch(err => {
                        alert(JSON.stringify(err))
                    });
                },
                //打開面試modal
                openInterviewModal(item) {
                    // 將資料賦予 selectedItem
                    this.selectedItem = {
                        companyId: item.companyId,
                        candidateId: item.candidateId,
                        openingId: item.openingId,
                        resumeId: item.resumeId
                    };
                    // 打開modal
                    let modal = new bootstrap.Modal(document.getElementById('interviewMailBtn'));
                    modal.show();
                },
                //打開錄取modal
                openAdmissionModal(item) {
                    // 將資料賦予 selectedItem
                    this.selectedItem = {
                        companyId: item.companyId,
                        candidateId: item.candidateId,
                        openingId: item.openingId,
                        resumeId: item.resumeId
                    };
                    // 打開modal
                    let modal = new bootstrap.Modal(document.getElementById('OfferMailBtn'));
                    modal.show();
                },
                //發送面試通知
                SendInterviewLetter: function () {
                    let _this = this;
                    let request = {};

                    const confirmdel = confirm("確定要發送?");

                    if (confirmdel == true) {
                        request.CandidateId = _this.selectedItem.candidateId;
                        request.OpeningId = _this.selectedItem.openingId;
                        request.ResumeId = _this.selectedItem.resumeId;
                        request.Status = _this.Sendinterview.Interviewnotice;
                        request.SubjectLine = _this.Sendinterview.Purpose;
                        request.Content = _this.Sendinterview.Content;
                        request.SendDate = convertDateOnly(_this.Sendinterview.sendDate);
                        request.AppointmentDate = convertDateOnly(_this.Sendinterview.Interviewdate);
                        request.AppointmentTime = convertTimeOnly(_this.Sendinterview.Interviewtime);
                        request.Address = _this.Sendinterview.place;
                        request.ReplyYN = _this.SendAdmission.interviewReplyYN;
                        request.ReplyFirstYN = _this.SendAdmission.interviewReplyFirstYN;
                        fetch(`${_this.baseAddress}/Companies/C_Resume/SendInterview`, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"  // 指定 JSON 格式
                            },
                            body: JSON.stringify(request),  // 將數據序列化為 JSON
                        }).then(res => {
                            return res.json();
                        }).then(data => {
                            if (data.success == true) {
                                alert(data.message);
                                location.reload(); // 刷新页面
                            } else if (data.success == false) {
                                alert(data.message);
                            };
                        }).catch(err => {
                            alert(JSON.stringify(err));
                        })
                    } else {
                        alert("已取消操作")
                    }

                },
                SendAdmissionLetter: function () {
                    let _this = this;
                    let request = {};
                    let confirmdel = confirm("確定要發送?");
                    if (confirmdel == true) {
                        request.CandidateId = _this.selectedItem.candidateId;
                        request.OpeningId = _this.selectedItem.openingId;
                        request.ResumeId = _this.selectedItem.resumeId;
                        request.Status = _this.SendAdmission.AdmissionStatus,
                            request.SubjectLine = _this.SendAdmission.AdmissionSubjectLine,
                            request.Content = _this.SendAdmission.AdmissionContent,
                            request.SendDate = convertDateOnly(_this.SendAdmission.AdmissionsendDate),
                            request.AppointmentDate = convertDateOnly(_this.SendAdmission.AdmissionDate),
                            request.AppointmentTime = convertTimeOnly(_this.SendAdmission.AdmissionTime),
                            request.Address = _this.SendAdmission.AdmissionPlace,
                            request.ReplyYN = _this.SendAdmission.AdmissionsendReplyYN,
                            fetch(`${_this.baseAddress}/Companies/C_Resume/SendAdmission`, {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json"  // 指定 JSON 格式
                                },
                                body: JSON.stringify(request),  // 將數據序列化為 JSON
                            }).then(res => {
                                return res.json();
                            }).then(data => {
                                if (data.success == true) {
                                    alert(data.message);
                                    location.reload(); // 刷新页面
                                } else if (data.success == false) {
                                    alert(data.message);
                                };
                            }).catch(err => {
                                alert(JSON.stringify(err));
                            })
                    } else {
                        alert("已取消操作")
                    }
                },
                    
                addCompanyResumeLikeRecords:function(resumeId){
                     let _this = this;
                    let confirmdel = confirm("確定要收藏?");
                    if (confirmdel == true){
                        fetch(`${_this.baseAddress}/companies/C_Resume/AddCompanyResumeLikeRecords`, {
                            method: "POST",
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ ResumeId: resumeId }),
                        }).then(res => {
                            return res.json();
                        }).then(data => {
                            if (data.success == true) {
                                alert(data.message);
                                location.reload(); // 刷新页面
                            } else if (data.success == false) {
                                alert(data.message);
                            };
                        }).catch(err => {
                            alert(JSON.stringify(err));
                        });
                    }else{
                        alert("已取消操作");
                    };
                    
                },
            },
            watch: {
                
            },
            //每次重新載入網頁時會自動初始化撈出資料
            mounted() {
                this.receiveResumeData();
                this.TitleandTag();
                const today = new Date().toISOString().split('T')[0];
                this.minDate = today;
            }
        };
        let app = Vue.createApp(VueApp).mount("#receiveResume");
    </script>
}
