@{
    ViewData["Title"] = "會員中心";
}
@section Styles {
    <style>
        .scrollable-div {
            height: 200px; /* 固定高度 */
            overflow-y: auto; /* 當內容超出時，顯示垂直捲軸 */
        }
    </style>
}

<div id="resumeStorage" class="mt-5">
    <div class="container-fluid py-2">
        <div class="letters row">
            <div class="col-md-3 mb-4" v-for="item in resumes.slice(pageStart,pageEnd)">
                <div class="card" style="width: 16rem; height: 16rem;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10">
                                <span class="card-title pb-3">職缺:{{item.jobTitle}}</span>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn-close justify-content-end" disabled aria-label="Close"></button>
                            </div>
                        </div>
                        <p class="card-subtitle text-body-secondary mt-2"><i class="fa-solid fa-caret-right"></i> 姓名 :{{item.candidateName}}</p>
                        <span class="card-text"><i class="fa-solid fa-caret-right"></i> 性別 :{{selectSex(item.candidateSex)}}</span>
                        <p class="card-text"><i class="fa-solid fa-caret-right"></i> 學歷 :{{item.candidateDegree}}</p>
                        <p class="card-text"><i class="fa-solid fa-caret-right"></i> 就業狀態 :{{item.candidateEmpStatus}}</p>
                        <div class="text-center">
                            <!-- Button trigger modal --> @* 查看履歷modal *@
                            <button type="button" data-bs-toggle="modal"
                                    data-bs-target="#modalId" class="btn btn-primary">
                                查看履歷
                            </button>

                            <!-- Modal -->
                            <div class="modal fade"
                                 id="modalId"
                                 tabindex="-1"
                                 data-bs-backdrop="static"
                                 data-bs-keyboard="false"
                                 role="dialog"
                                 aria-labelledby="modalTitleId"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl"
                                     role="document">
                                    <div class="modal-content">
                                        <div class="modal-header bg-warning">
                                            <h3 class="modal-title text-center" id="modalTitleId" style="width:95%">
                                                履歷
                                            </h3>
                                            <button type="button"
                                                    class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container mb-3">
                                                <div class="card bg-warning">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="card mb-3">
                                                                    <div class="card-body" style="height:200px">
                                                                        <h5 class="card-title" style="font-weight:bold">個人資料</h5>
                                                                        <p class="card-text">
                                                                            <div class="row text-start">
                                                                                <div class="col-4">
                                                                                    <p>姓名 : XXX</p>
                                                                                </div>
                                                                                <div class="col-4">
                                                                                    <p>性別 : 女</p>
                                                                                </div>
                                                                                <div class="col-4">
                                                                                    <p>生日 : 2024/9/6</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row text-start">
                                                                                <div class="col-4">
                                                                                    <p>電話 : 0912345678</p>
                                                                                </div>
                                                                                <div class="col-8">
                                                                                    <p>學歷 : 碩士</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col text-start">
                                                                                <p>電子郵件 : abcde@gmail.com</p>
                                                                            </div>
                                                                        </p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="card mb-3">
                                                                    <div class="card-body" style="height:200px">
                                                                        <h5 class="card-title" style="font-weight:bold">工作經驗</h5>
                                                                        <p class="card-text text-start">
                                                                            123123123
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="card mb-3">
                                                                    <div class="card-body" style="height:300px">
                                                                        <h5 class="card-title" style="font-weight:bold">求職條件</h5>
                                                                        <p class="card-text">
                                                                            <div class="row text-start">
                                                                                <div class="col-6">
                                                                                    <p>就業狀態 : 待業中</p>
                                                                                </div>
                                                                                <div class="col-6">
                                                                                    <p>上班時段 : 早班</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col text-start">
                                                                                <p>希望職稱 : 全端工程師</p>
                                                                            </div>
                                                                            <div class="col text-start">
                                                                                <p>能力標籤 / 證照 :</p>
                                                                                <p>C# PHP HTML</p>
                                                                            </div>
                                                                        </p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="card mb-3">
                                                                    <div class="card-body" style="height:300px">
                                                                        <h5 class="card-title" style="font-weight:bold">自傳</h5>
                                                                        <div class="container mt-4">
                                                                            <div class="scrollable-div border p-3 text-start">
                                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque elit at libero hendrerit, ac volutpat tortor posuere. Fusce euismod, ligula id dapibus faucibus, justo metus vehicula urna, sit amet fermentum nisi risus nec elit. Suspendisse potenti. Morbi in magna a libero congue cursus vitae ut quam. Phasellus et erat risus. Nam nec arcu eget urna facilisis dignissim.</p>
                                                                                <p>Additional text...</p>
                                                                                <!-- 這裡可以放更多的內容 -->
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>







                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success">暫存</button>
                                            @* 發送面試通知按鈕 *@
                                            <button type="button" class="btn btn-primary btn-md" data-bs-toggle="modal"
                                                    data-bs-target="#interviewMailBtn">
                                                面試
                                            </button>
                                            @* 發送錄取通知按鈕 *@
                                            <button type="button" class="btn btn-primary btn-md" data-bs-toggle="modal"
                                                    data-bs-target="#OfferMailBtn">
                                                錄取
                                            </button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">拒絕</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @* 發送錄取通知 *@
                            <div class="modal fade" id="OfferMailBtn" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
                                 aria-labelledby="modalTitleId " aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header bg-warning">
                                            <h3 class="CompanyNameh3 text-center" style="width:95%">錄用通知</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container bg-light" style="border-radius: 30px;width: 100%;">
                                                <div class="inputOutAreas">
                                                    <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                                        <label for=" inputCompanyName" class="col-sm-2 col-form-label labelDate">日期：</label>
                                                        <input type="date" class="form-control inputDate">
                                                    </div>
                                                    <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                                        <label for=" inputCompanyName" class="col-sm-2 col-form-label labelTime">時間：</label>
                                                        <input type="time" class="form-control inputTime">
                                                    </div>
                                                    <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                                        <label for=" inputCompanyName" class="col-sm-2 col-form-label labelPlace">地點：</label>
                                                        <input type="text" class="form-control inputPlace">
                                                    </div>

                                                    <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                                        <label for=" inputCompanyName" class="col-sm-2 col-form-label labelText">訊息﹕</label>
                                                        <textarea class="form-control" style="height:150px" name="錄用通知訊息"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer bg-warning">
                                            <button type="submit" class="btn btn-outline-secondary">發送</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @* 發送面試通知 *@
                            <div class="modal fade" id="interviewMailBtn" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
                                 aria-labelledby="modalTitleId " aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header bg-warning">
                                            <h3 class="CompanyNameh3 text-center" style="width:95%">面試通知</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container bg-light" style="border-radius: 30px;width: 100%;">
                                                <div class="inputOutAreas">
                                                    <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                                        <label for=" inputCompanyName" class="col-sm-2 col-form-label labelDate">日期：</label>
                                                        <input type="date" class="form-control inputDate">
                                                    </div>
                                                    <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                                        <label for=" inputCompanyName" class="col-sm-2 col-form-label labelTime">時間：</label>
                                                        <input type="time" class="form-control inputTime">
                                                    </div>
                                                    <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                                        <label for=" inputCompanyName" class="col-sm-2 col-form-label labelPlace">地點：</label>
                                                        <input type="text" class="form-control inputPlace">
                                                    </div>

                                                    <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                                        <label for=" inputCompanyName" class="col-sm-2 col-form-label labelText">訊息﹕</label>
                                                        <textarea class="form-control " style="height:150px" name="錄用通知訊息"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer bg-warning">
                                            <button type="submit" class="btn btn-outline-secondary">發送</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" v-on:click="setPage(currentPage-1)">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li v-for="item in totalPage" class="page-item" v-on:click="setPage(item)">
                            <a class="page-link" href="#">{{item}}</a>
                        </li>
                        <li class="page-item" v-on:click="setPage(currentPage+1)">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let VueApp = {
            data() {
                return {
                    baseAddress: "https://localhost:7169",

                    pageStatus: 0,
                    perpage: 8, //一頁的資料數
                    currentPage: 1,
                    MessageStatus: 1,

                    resumes: [], //從後端撈回來的資料存入這邊
                    filter: "",
                };
            },
            computed: {
                totalPage() {
                    return Math.ceil(this.resumes.length / this.perpage)
                    //Math.ceil()取最小整數
                },
                pageStart() {
                    return (this.currentPage - 1) * this.perpage
                    //取得該頁第一個值的index
                },
                pageEnd() {
                    return this.currentPage * this.perpage
                    //取得該頁最後一個值的index
                }
            },
            methods: {
                setPage(page) {
                    if (page <= 0 || page > this.totalPage) {
                        return
                    }
                    this.currentPage = page
                },
                resumeStorageData: function () {
                    fetch("/companies/C_Resume/ResumeStorageJson", {
                        method: "GET",
                    }).then(response => {
                        return response.json();
                    })
                        .then(data => {
                            return this.resumes = data
                        }).catch(err => {
                            alert(JSON.stringify(err))
                        })
                },
                selectSex(item) {
                    return item == true ? '男' : '女'
                },
            },
            watch: {
                
            },
            //每次重新載入網頁時會自動初始化撈出資料
            mounted() {
                this.resumeStorageData();
            }
        }; let app = Vue.createApp(VueApp).mount("#resumeStorage");
    </script>
}