@{
    ViewData["Title"] = "會員中心";
}
@section Styles {
    <style>
        .scrollable-div {
            height: 200px; /* 固定高度 */
            overflow-y: auto; /* 當內容超出時，顯示垂直捲軸 */
        }
    </style>
}


    <div class="container-fluid py-2" id="resumeStorage">
        <div class="letters row">
            <div class="col-md-3 mb-4" v-for="item in resumes.slice(pageStart,pageEnd)">
                <div class="card" style="width: 16rem; height: 16rem;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10">
                                <span class="card-title pb-3">職缺:{{item.jobTitle}}</span>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn-close justify-content-end" disabled aria-label="Close"></button>
                            </div>
                        </div>
                            <div class="text-start">
                                <p class="card-subtitle text-body-secondary mt-2"><i class="fa-solid fa-caret-right"></i> 姓名 :{{item.name}}</p>
                                <span class="card-text"><i class="fa-solid fa-caret-right"></i> 性別 :{{selectSex(item.sex)}}</span>
                                <p class="card-text"><i class="fa-solid fa-caret-right"></i> 學歷 :{{item.degree}}</p>
                                <p class="card-text"><i class="fa-solid fa-caret-right"></i> 就業狀態 :{{item.employmentStatus}}</p>
                            </div>
                        
                        <div class="text-center mt-4">
                            <!-- Button trigger modal --> @* 查看履歷moda *@
                            <button type="button" data-bs-toggle="modal"
                                    :data-bs-target="'#'+mergeID(item)" class="btn btn-primary">
                                查看履歷
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" 
                                 :id="mergeID(item)"
                                 tabindex="-1"
                                 data-bs-backdrop="static"
                                 data-bs-keyboard="false"
                                 role="dialog"
                                 aria-labelledby="modalTitleId"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl"
                                     role="document">
                                    <div class="modal-content ">
                                        <div class="card modal-body bg-warning">
                                            @* 履歷純顯示 *@
                                            <div class="card-body container-fluid">
                                                 <div class="modal-header" style="background-color: #f7d179;">
                                                     <h5 class="modal-titl text-center" id="modal" style="width:95% ;" v-model="">
                                                    {{item.name}}的履歷
                                                     </h5>
                                                    <button type="button"
                                                        class="btn-close"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close">
                                                    </button>
                                                 </div>

                                                 <div class="row">
                                                     <div class="col-sm-6">
                                                       <div class="card mb-3">
                                                         <div class="card-body" >
                                                                 <h5 class="card-title" style="text-align:center">個人資料</h5>
                                                            <div class="mb-3"><img class="rounded float-end mx-4 img-fluid" :src="item.headshot ? 'data:image/jpeg;base64,' + item.headshot : noimagepreview" style="width:100px;height:100px" :title="item.candidatename" /></div>
                                                            <div class="text-start" style="">
                                                                <p class="card-text ">
                                                                    <div class="col ">
                                                                        <label class="" size="10">姓名 :{{item.name}} </label>
                                                                    </div>
                                                                    <div>
                                                                        <label for="" class="mb-2">性別 : {{selectSex(item.sex)}}</label>
                                                                    </div>
                                                                    <div class="col">
                                                                        <label for="" class="mb-2">生日 : {{item.birthday}}</label>
                                                                    </div>
                                                                    <div class="col">
                                                                        <label for="" class="mb-2">電話 : {{item.phone}}</label>
                                                                        <label for="" class="mb-2 mx-3">學歷 : {{item.degree}}</label>
                                                                    </div>
                                                                    <div class="col">
                                                                        <label for="" class="mb-2">郵件 : {{item.email}}</label>
                                                                    </div>
                                                                    <div class="col">
                                                                        <label for="" class="mb-2">就業狀態 : {{item.employmentStatus}}</label>
                                                                    </div>
                                                                    <div class="card-body ">
                                                                        <h5 class="card-title text-center" style="">自我介紹：</h5>
                                                                        <p class="card-text form-control overflow-auto" style="height:200px">
                                                                            {{item.intro}}
                                                                        </p>
                                                                    </div>
                                                                </p>
                                                            </div>


                                                         </div>
                                                       </div>
                                                     </div>

                                                     <div class="col-sm-6">
                                                         <div class="card mb-3">
                                                             <div class="card-body text-start">
                                                                 <h5 class="card-title" style="text-align:center">工作經驗</h5>
                                                                 <p class="card-text form-control overflow-auto" style="height:250px">
                                                                {{item.workExperience}}
                                                                 </p>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </div>

                                                 <div class="row">
                                                     <div class="col-sm-6">
                                                         <div class="card mb-3">
                                                             <div class="card-body text-start">
                                                                 <h5 class="card-title" style="text-align:center">求職條件</h5>
                                                                 <p class="card-text">
                                                                     <div class="col">
                                                                    <label class="mb-2">上班時段: {{item.time}}</label>
                                                                     </div>
                                                                     <div class="col">
                                                                         <label class="">
                                                                             <span class="">希望職缺:    </span>
                                                                        {{ getTitleClassName(item.titleClassId) }}
                                                                         </label>


                                                                     </div>
                                                                     <div class="col">
                                                                    <label class="mb-2">希望上班地點: {{item.address}}</label>
                                                                     </div>
                                                                     <div class="col">
                                                                         <label for="" class="mb-2">
                                                                             證照
                                                                         </label>
                                                                     </div>
                                                                     <div>
                                                                         <label class="">能力標籤:</label>
                                                                    {{getTagName(item.tagId)}}
                                                                     </div>
                                                                 </p>

                                                             </div>
                                                         </div>
                                                     </div>
                                                     <div class="col-sm-6">
                                                         <div class="card mb-3">
                                                             <div class="card-body text-start">
                                                                 <h5 class="card-title" style="text-align:center">自傳</h5>
                                                                 <p class="card-text form-control overflow-auto" style="height:200px">
                                                                {{item.autobiography}}
                                                                 </p>
                                                             </div>
                                                         </div>
                                                     </div>

                                                 </div>

                                            </div>
                                        </div>







                                        <div class="modal-footer">
                                            @* 發送面試通知按鈕 *@
                                            <button type="button" class="btn btn-primary btn-md" data-bs-toggle="modal"
                                                    data-bs-target="#interviewMailBtn">
                                                面試
                                            </button>
                                            @* 發送錄取通知按鈕 *@
                                            <button type="button" class="btn btn-primary btn-md" data-bs-toggle="modal"
                                                    data-bs-target="#OfferMailBtn">
                                                錄取
                                            </button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">拒絕</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @* 發送錄取通知 *@
                            <div class="modal fade" id="OfferMailBtn" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
                                 aria-labelledby="modalTitleId " aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header bg-warning">
                                            <h3 class="CompanyNameh3 text-center" style="width:95%">錄用通知</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container bg-light" style="border-radius: 30px;width: 100%;">
                                                <div class="inputOutAreas">
                                                    <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                                        <label for=" inputCompanyName" class="col-sm-2 col-form-label labelDate">日期：</label>
                                                        <input type="date" class="form-control inputDate">
                                                    </div>
                                                    <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                                        <label for=" inputCompanyName" class="col-sm-2 col-form-label labelTime">時間：</label>
                                                        <input type="time" class="form-control inputTime">
                                                    </div>
                                                    <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                                        <label for=" inputCompanyName" class="col-sm-2 col-form-label labelPlace">地點：</label>
                                                        <input type="text" class="form-control inputPlace">
                                                    </div>

                                                    <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                                        <label for=" inputCompanyName" class="col-sm-2 col-form-label labelText">訊息﹕</label>
                                                        <textarea class="form-control" style="height:150px" name="錄用通知訊息"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer bg-warning">
                                            <button type="submit" class="btn btn-outline-secondary">發送</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @* 發送面試通知 *@
                            <div class="modal fade" id="interviewMailBtn" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
                                 aria-labelledby="modalTitleId " aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header bg-warning">
                                            <h3 class="CompanyNameh3 text-center" style="width:95%">面試通知</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container bg-light" style="border-radius: 30px;width: 100%;">
                                                <div class="inputOutAreas">
                                                    <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                                        <label for=" inputCompanyName" class="col-sm-2 col-form-label labelDate">日期：</label>
                                                        <input type="date" class="form-control inputDate">
                                                    </div>
                                                    <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                                        <label for=" inputCompanyName" class="col-sm-2 col-form-label labelTime">時間：</label>
                                                        <input type="time" class="form-control inputTime">
                                                    </div>
                                                    <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                                        <label for=" inputCompanyName" class="col-sm-2 col-form-label labelPlace">地點：</label>
                                                        <input type="text" class="form-control inputPlace">
                                                    </div>

                                                    <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                                        <label for=" inputCompanyName" class="col-sm-2 col-form-label labelText">訊息﹕</label>
                                                        <textarea class="form-control " style="height:150px" name="錄用通知訊息"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer bg-warning">
                                            <button type="submit" class="btn btn-outline-secondary">發送</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" v-on:click="setPage(currentPage-1)">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li v-for="item in totalPage" class="page-item" v-on:click="setPage(item)">
                            <a class="page-link" href="#">{{item}}</a>
                        </li>
                        <li class="page-item" v-on:click="setPage(currentPage+1)">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>



@section Scripts {
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let VueApp = {
            data() {
                return {
                    baseAddress: "https://localhost:7169",
                    pageStatus: 0,
                    perpage: 8, //一頁的資料數
                    currentPage: 1,
                    MessageStatus: 1,
                    noimagepreview: "/images/No_Image_Available.jpg",
                    resumes: [], //從後端撈回來的資料存入這邊
                    filter: "",
                    TagClasses: [],
                    Tags: [],

                    titleClass: [],
                    titleCategory: [],
                };
            },
            computed: {
                totalPage() {
                    return Math.ceil(this.resumes.length / this.perpage)
                    //Math.ceil()取最小整數
                },
                pageStart() {
                    return (this.currentPage - 1) * this.perpage
                    //取得該頁第一個值的index
                },
                pageEnd() {
                    return this.currentPage * this.perpage
                    //取得該頁最後一個值的index
                }
            },
            methods: {
                setPage(page) {
                    if (page <= 0 || page > this.totalPage) {
                        return
                    }
                    this.currentPage = page
                },
                mergeID(item) {
                    let str = item.name.replace(/\s/g, "");
                    let num = item.resumeId;
                    strID = str + num;
                    return strID;
                },
                // ReturnNameId: function (item) {
                //     let NameId = `NameId${item.tagName}${item.tagId}`;
                //     return NameId.replace(" ", "");
                // },
                // ReturnTitleClassNameId: function (item) {
                //     let NameId = `NameId${item.titleClassName}${item.titleClassId}`;
                //     return NameId.replace(" ", "");
                // },
                // ReturnClassNameId: function (item) {
                //     let ClassNameId = `ClassNameId${item.tagClassName}${item.tagClassId}`;
                //     return ClassNameId.replace(" ", "");
                // },
                // Returnhashtag: function (item) {
                //     return `#${item}`;
                // },
                // ReturnCategoryNameId: function (item) {
                //     let CategoryNameId = `CategoryNameId${item.titleCategoryName}${item.titleCategoryId}`;
                //     return CategoryNameId.replace(" ", "");
                // },
                getTitleClassName(titleClassId) {
                    if (!Array.isArray(titleClassId)) return '未指定';
                    return titleClassId
                        .map(id => {
                            let titleClassItem = this.titleClass.find(item => item.titleClassId === id);
                            return titleClassItem ? titleClassItem.titleClassName : '未指定';
                        })
                        .join('/ ');
                },
                //列出所有被選到的能力標籤
                getTagName(tagId) {
                    if (!Array.isArray(tagId)) return '未指定';
                    return tagId
                        .map(id => {
                            let tagItem = this.Tags.find(item => item.tagId === id);
                            return tagItem ? tagItem.tagName : '未指定';
                        })
                        .join('/ ');
                },
                resumeStorageData: function () {
                    let _this = this
                    let CompanyId = 1;
                    fetch(`${_this.baseAddress}/companies/C_Resume/ResumeStorageResult/${CompanyId}`, {
                        method: "GET",
                    }).then(response => {
                        return response.json();
                    })
                    .then(data => {
                        return this.resumes = data
                    }).catch(err => {
                        alert(JSON.stringify(err))
                    });
                    //職業類型
                    fetch(`${_this.baseAddress}/Companies/C_Resume/TitleClassJson`, {
                        method: "GET",
                    }).then(response => {
                        return response.json();
                    }).then(data => {
                        return _this.titleClass = data
                    }).catch(err => {
                        alert(JSON.stringify(err))
                    });

                    fetch(`${_this.baseAddress}/Companies/C_Resume/TagJson`, {
                        method: "GET",
                    }).then(response => {
                        return response.json();
                    }).then(data => {
                        return _this.Tags = data
                    }).catch(err => {
                        alert(JSON.stringify(err))
                    });
                },

                selectSex(item) {
                    return item == true ? '男' : '女'
                },
            },
            watch: {

            },
            //每次重新載入網頁時會自動初始化撈出資料
            mounted() {
                this.resumeStorageData();
            }
        }; let app = Vue.createApp(VueApp).mount("#resumeStorage");
    </script>
}