@section Styles
{
    
}

<div class="container py-2">
    <div class="card mb-4">
        <h1 class="align-self-center text-muted mb-0">會員資料</h1>
        <button type="button" class="btn btn-outline-secondary">修改會員資料</button>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">姓名</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">Norman Nobody</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">性別</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">阿帕契直升機</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">生日</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">2000 / 01 / 01</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">電子信箱</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">example@example.com</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">手機號碼</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">0987-654-321</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">住址</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">100 台北市 中正區 重慶南路一段 122號</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">學歷</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">高中</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">就業狀態</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">在職中</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">兵役</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">役畢</p>
                </div>
            </div>
        </div>
    </div>
</div>

    

@section Scripts
{

}