@section Styles{
    <style>

    </style>
}

<div class="mb-3">
    <button type="button"
            data-bs-toggle="modal"
            data-bs-target="#modalId"
            class="btn btn-primary">
        職缺內容
    </button>
</div>
<div class="modal fade scrollbar"
     id="modalId"
     tabindex="-1"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     role="dialog"
     aria-labelledby="modalTitleId"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl"
         role="document">
        <div class="modal-content col-md-4">
            <div class="modal-header" style="background-color: #f7d179;">
                <h5 class="modal-titl text-center" id="modalTitleId" style="width:95% ;">
                    職缺名稱
                </h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        style="width:5% ;">
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="">職缺名稱:</label>
                                <input type="text" v-model="title" class="form-control" />
                                <label class="">公司名稱:</label>
                                <input type="text" v-model="companyName" class="form-control" />
                                <label class="">工作地點:</label>
                                <input type="text" v-model="address" class="form-control" />
                                <label class="">連絡電話:</label>
                                <input type="text" v-model="contactPhone" class="form-control" />
                                <label class="">電子郵件:</label>
                                <input type="text" v-model="contactEmial" class="form-control" />
                                <label class="">薪資條件:</label>
                                <input type="text" v-model="salary" class="form-control" />
                                <label class="">上班時段:</label>
                                <input type="text" v-model="time" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label class="">職缺類別:</label>
                                <select>
                                    <optgroup label="資訊科技">
                                        <option>前端工程師</option>
                                        <option>全端工程師</option>
                                    </optgroup>
                                    <optgroup label="醫療保健">
                                        <option>醫師</option>
                                        <option>護理師</option>
                                    </optgroup>
                                </select>
                                <label class="">學歷要求:</label>
                                <select>
                                    <option>大學</option>
                                    <option>國中</option>
                                    <option>高中</option>
                                </select>
                            </div>
                            <div>
                                <partial name="_Tags" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="form-textarea" class="col-form-label">福利:</label>
                                <textarea class="form-control" id="benefits" style="height:100px"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="form-textarea" class="col-form-label">工作內容:</label>
                                <textarea class="form-control" id="description" style="height:300px"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
