<div class="container py-2">
    <div class="card mb-4">
        <table class="table">
            <thead>
                <tr>
                    <th scope="row"></th>
                    <th>公司</th>
                    <th>職缺</th>
                    <th>履歷</th>
                    <th>應徵日期</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in jobclass.slice(pageStart, pageEnd)">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.companyName}}</td>
                    <td>{{item.jobName}}</td>
                    <td>{{item.resume}}</td>
                    <td>{{item.data}}</td>
                    <td><partial name="_OpeningDetailBtnModal" /></td>
                </tr>
            </tbody>
        </table>
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" v-on:click="setPage(currentPage-1)">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li v-for="item in totalPage" class="page-item" v-on:click="setPage(item)">
                        <a class="page-link" href="#">{{item}}</a>
                    </li>
                    <li class="page-item" v-on:click="setPage(currentPage+1)">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>