@model IEnumerable<JobHunting.Areas.Candidates.Models.Candidate>

@{
    ViewData["Title"] = "會員中心";
}

@section Styles
{
    <style>

    </style>
}


<div class="container py-2" id="indexApp">
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-1">
                <div class="card-body text-center">
                    <img src="~/images/pepethefrog.jpg" alt="avatar" class="img-thumbnail img-fluid" style="width: 60%;" />
                    <h5 class="my-1">{{CandidateMemberData.name}}</h5>
                    <p class="text-muted mb-1">{{CandidateMemberData.titleClassName}}</p>
                    <p class="text-muted mb-4">台灣</p>
                </div>
            </div>
            <div class="card mb-1 mb-lg-0">
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush rounded-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="fas fa-globe fa-lg text-warning"></i>
                            <p class="mb-0">https://mdbootstrap.com</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="fab fa-github fa-lg text-body"></i>
                            <p class="mb-0">mdbootstrap</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                            <p class="mb-0">mdbootstrap</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                            <p class="mb-0">mdbootstrap</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">姓名</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{CandidateMemberData.name}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">電子信箱</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{CandidateMemberData.email}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">手機號碼</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{CandidateMemberData.phone}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">住址</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{CandidateMemberData.address}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">就業狀態</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{CandidateMemberData.employmentStatus}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-4 mb-md-0 h-100">
                        <div class="card-body">
                            <button type="button" class="mb-2 astext" v-on:click="function(){pageStatus=2}">
                                <h4>
                                    <span class="text-primary font-italic me-1">我的</span>履歷
                                </h4>
                            </button>
                            <div class="row row-cols-1 row-cols-md-1 g-4">
                                <template v-for="Resume in CandidateResumes">
                                    <div class="col">
                                        <div class="card overcard h-100">
                                            <div class="card-body">
                                                <p class="card-title">{{Resume.title}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-4 mb-md-0 h-100">
                        <div class="card-body">
                            <button type="button" class="mb-2 astext" v-on:click="function(){pageStatus=3}">
                                <h4>
                                    <span class="text-primary font-italic me-1">收藏</span>職缺
                                </h4>
                            </button>
                            <div class="row row-cols-1 row-cols-md-1 g-4">
                                <template v-for="Opening in CandidateOpeningLikeRecords">
                                    <div class="col">
                                        <div class="card overcard h-100">
                                            <div class="card-body">
                                                <p class="card-title">{{Opening.openingTitle}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let VueApp = {
            data() {
                return {
                    baseAddress: "https://localhost:7169",
                    CandidateId: 1,
                    CandidateMemberData: {},
                    CandidateResumes: [],
                    CandidateOpeningLikeRecords: [],
                    pageStatus: 0,
                    perpage: 3, //一頁的資料數
                    currentPage: 1,
                    MessageStatus: 1,
                    jobclass: [
                        { id: 1, companyName: "星宇航空", jobName: "軟體工程師", resume: "履歷1", data: "2024/10/02" },
                        { id: 2, companyName: "台積電", jobName: "硬體工程師", resume: "履歷2", data: "2024/10/12" },
                        { id: 3, companyName: "台達電", jobName: "作業員", resume: "履歷3", data: "2024/10/05" },
                        { id: 4, companyName: "台大醫院", jobName: "護理師", resume: "履歷4", data: "2024/10/04" },                        
                    ],
                    TagClasses: [
                        { TagClassID: 1, TagClass: "電腦科學"},
                        { TagClassID: 2, TagClass: "數學" },
                        { TagClassID: 3, TagClass: "醫學" },
                    ],
                    Tags: [
                        { TagClassID: 1, TagID: 1, TagName: "C#" },
                        { TagClassID: 1, TagID: 2, TagName: "JavaScript" },
                        { TagClassID: 1, TagID: 3, TagName: "Azure" },
                        { TagClassID: 2, TagID: 4, TagName: "高等微積分" },
                        { TagClassID: 2, TagID: 5, TagName: "複變數函數" },
                        { TagClassID: 3, TagID: 6, TagName: "肛腸科" },
                        { TagClassID: 3, TagID: 7, TagName: "精神科" },
                    ],
                    TagCheckedResume: [],
                };
            },
            computed: {
                totalPage() {
                    return Math.ceil(this.jobclass.length / this.perpage)
                    //Math.ceil()取最小整數
                },
                pageStart() {
                    return (this.currentPage - 1) * this.perpage
                    //取得該頁第一個值的index
                },
                pageEnd() {
                    return this.currentPage * this.perpage
                    //取得該頁最後一個值的index
                }
            },
            methods: {
                getCandidateMemberData:function(){
                    axios.post(`${this.baseAddress}/Candidates/Home/GetCandidateMemberData`, this.CandidateId, {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(response => this.CandidateMemberData = response.data[0])
                        .catch(err => alert(err));
                },
                getCandidateResumes: function () {
                    axios.post(`${this.baseAddress}/Candidates/Home/GetCandidateResumes`, this.CandidateId, {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(response => this.CandidateResumes = response.data)
                        .catch(err => alert(err));
                },
                getCandidateOpeningLikeRecords: function () {
                    axios.post(`${this.baseAddress}/Candidates/Home/GetCandidateOpeningLikeRecords`, this.CandidateId, {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(response => this.CandidateOpeningLikeRecords = response.data)
                        .catch(err => alert(err));
                },
                setPage(page) {
                    if (page <= 0 || page > this.totalPage) {
                        return
                    }
                    this.currentPage = page
                },
                filterTagClass:function(ClassID) {
                    let _this = this;
                    return _this.Tags.filter(function (item) {
                        return item.TagClassID == ClassID;
                    });
                },
                ReturnhashtagID:function(item){
                    return `#${item.TagClass}`;
                },
                changeTagNameTo: function (TagName) {
                    let _this = this;
                    return `${TagName}BindID`;
                },
            },
            mounted:function(){
                this.getCandidateMemberData();
                this.getCandidateResumes();
                this.getCandidateOpeningLikeRecords();
            },
        };
        let app = Vue.createApp(VueApp).mount("#indexApp");
    </script>
}