@section Styles
{

}

<div class="container-fluid py-2" id="OpeningApp">
    <div class="letters row">
        <div class="col-md-3 mb-4">
            <div class="card rounded-5" style="width: 15rem; height: 15rem;">
                <div class="card-body">
                    <div class="text-center">
                        <span class="card-title mb-3 ms-5">職缺履歷</span>
                        <button type="button" class="btn-close ms-5" disabled aria-label="Close"></button>
                    </div>
                    <p class="card-subtitle text-body-secondary mt-2"><i class="fa-solid fa-caret-right"></i> 類別 :</p>
                    <span class="card-text"><i class="fa-solid fa-caret-right"></i> 寄件人 :</span>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 內容 :</p>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 處理狀態 :</p>
                    <div class="text-center">
                        <partial name="../Partial/_OpeningDetailBtnModal.cshtml" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card rounded-5" style="width: 15rem; height: 15rem;">
                <div class="card-body">
                    <div class="text-center">
                        <span class="card-title pb-3 ms-5">職缺履歷</span>
                        <button type="button" class="btn-close ms-5" disabled aria-label="Close"></button>
                    </div>
                    <p class="card-subtitle text-body-secondary mt-2"><i class="fa-solid fa-caret-right"></i> 錄取結果 :</p>
                    <span class="card-text"><i class="fa-solid fa-caret-right"></i> 收件人 :</span>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 內容 :</p>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 回覆狀態 :</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-info">查看</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card rounded-5" style="width: 15rem; height: 15rem;">
                <div class="card-body">
                    <div class="text-center">
                        <span class="card-title mb-3 ms-5">職缺履歷</span>
                        <button type="button" class="btn-close ms-5" disabled aria-label="Close"></button>
                    </div>
                    <p class="card-subtitle text-body-secondary mt-2"><i class="fa-solid fa-caret-right"></i> 時間 :</p>
                    <span class="card-text"><i class="fa-solid fa-caret-right"></i> 收件人 :</span>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 內容 :</p>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 回覆狀態 :</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-info">查看</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card rounded-5" style="width: 15rem; height: 15rem;">
                <div class="card-body">
                    <div class="text-center">
                        <span class="card-title mb-3 ms-5">職缺履歷</span>
                        <button type="button" class="btn-close ms-5" disabled aria-label="Close"></button>
                    </div>
                    <p class="card-subtitle text-body-secondary mt-2"><i class="fa-solid fa-caret-right"></i> 類別 :</p>
                    <span class="card-text"><i class="fa-solid fa-caret-right"></i> 寄件人 :</span>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 內容 :</p>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 處理狀態 :</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-info">查看</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card rounded-5" style="width: 15rem; height: 15rem;">
                <div class="card-body">
                    <div class="text-center">
                        <span class="card-title mb-3 ms-5">職缺履歷</span>
                        <button type="button" class="btn-close ms-5" disabled aria-label="Close"></button>
                    </div>
                    <p class="card-subtitle text-body-secondary mt-2"><i class="fa-solid fa-caret-right"></i> 類別 :</p>
                    <span class="card-text"><i class="fa-solid fa-caret-right"></i> 寄件人 :</span>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 內容 :</p>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 處理狀態 :</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-info">查看</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card rounded-5" style="width: 15rem; height: 15rem;">
                <div class="card-body">
                    <div class="text-center">
                        <span class="card-title mb-3 ms-5">職缺履歷</span>
                        <button type="button" class="btn-close ms-5" disabled aria-label="Close"></button>
                    </div>
                    <p class="card-subtitle text-body-secondary mt-2"><i class="fa-solid fa-caret-right"></i> 類別 :</p>
                    <span class="card-text"><i class="fa-solid fa-caret-right"></i> 寄件人 :</span>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 內容 :</p>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 處理狀態 :</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-info">查看</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card rounded-5" style="width: 15rem; height: 15rem;">
                <div class="card-body">
                    <div class="text-center">
                        <span class="card-title mb-3 ms-5">職缺履歷</span>
                        <button type="button" class="btn-close ms-5" disabled aria-label="Close"></button>
                    </div>
                    <p class="card-subtitle text-body-secondary mt-2"><i class="fa-solid fa-caret-right"></i> 類別 :</p>
                    <span class="card-text"><i class="fa-solid fa-caret-right"></i> 寄件人 :</span>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 內容 :</p>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 處理狀態 :</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-info">查看</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card rounded-5" style="width: 15rem; height: 15rem;">
                <div class="card-body">
                    <div class="text-center">
                        <span class="card-title mb-3 ms-5">職缺履歷</span>
                        <button type="button" class="btn-close ms-5" disabled aria-label="Close"></button>
                    </div>
                    <p class="card-subtitle text-body-secondary mt-2"><i class="fa-solid fa-caret-right"></i> 類別 :</p>
                    <span class="card-text"><i class="fa-solid fa-caret-right"></i> 寄件人 :</span>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 內容 :</p>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 處理狀態 :</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-info">查看</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let VueApp = {
            data() {
                return {
                    pageStatus: 0,
                    perpage: 3, //一頁的資料數
                    currentPage: 1,
                    MessageStatus: 1,
                    jobclass: [
                        { id: 1, companyName: "星宇航空", jobName: "軟體工程師", resume: "履歷1", data: "2024/10/02" },
                        { id: 2, companyName: "台積電", jobName: "硬體工程師", resume: "履歷2", data: "2024/10/12" },
                        { id: 3, companyName: "台達電", jobName: "作業員", resume: "履歷3", data: "2024/10/05" },
                        { id: 4, companyName: "台大醫院", jobName: "護理師", resume: "履歷4", data: "2024/10/04" },
                    ],
                    TagClasses: [
                        { TagClassID: 1, TagClass: "電腦科學"},
                        { TagClassID: 2, TagClass: "數學" },
                        { TagClassID: 3, TagClass: "醫學" },
                    ],
                    Tags: [
                        { TagClassID: 1, TagID: 1, TagName: "C#" },
                        { TagClassID: 1, TagID: 2, TagName: "JavaScript" },
                        { TagClassID: 1, TagID: 3, TagName: "Azure" },
                        { TagClassID: 2, TagID: 4, TagName: "高等微積分" },
                        { TagClassID: 2, TagID: 5, TagName: "複變數函數" },
                        { TagClassID: 3, TagID: 6, TagName: "肛腸科" },
                        { TagClassID: 3, TagID: 7, TagName: "精神科" },
                    ],
                    TagCheckedResume: [],
                };
            },
            computed: {
                totalPage() {
                    return Math.ceil(this.jobclass.length / this.perpage)
                    //Math.ceil()取最小整數
                },
                pageStart() {
                    return (this.currentPage - 1) * this.perpage
                    //取得該頁第一個值的index
                },
                pageEnd() {
                    return this.currentPage * this.perpage
                    //取得該頁最後一個值的index
                }
            },
            methods: {
                setPage(page) {
                    if (page <= 0 || page > this.totalPage) {
                        return
                    }
                    this.currentPage = page
                },
                filterTagClass:function(ClassID) {
                    let _this = this;
                    return _this.Tags.filter(function (item) {
                        return item.TagClassID == ClassID;
                    });
                },
                ReturnhashtagID:function(item){
                    return `#${item.TagClass}`;
                },
                changeTagNameTo: function (TagName) {
                    let _this = this;
                    return `${TagName}BindID`;
                },
            },
        };
        let app = Vue.createApp(VueApp).mount("#OpeningApp");
    </script>
}