@section Styles {
    <style>
        .form-label {
            color: steelblue;
            font-weight: bold;
        }
    </style>
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <form id="registerForm" method="post">
            <h2 class="text-center">新會員註冊</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="text-center pb-3">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-warning" for="btnradio1">求職者</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-warning" for="btnradio2">徵才者</label>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input id="Input.NationalID" name="Input.NationalID" class="form-control rounded-pill bg-danger bg-opacity-25" aria-required="true" placeholder="身分證字號" />
                <label id="Input.NationalID" name="Input.NationalID" class="form-label">身分證字號</label>
                <span class="text-danger field-validation-valid" data-valmsg-for="Input.NationalID" data-valmsg-replace="true"></span>
            </div>
            <div class="form-floating mb-3">
                <input id="Input.Email" name="Input.Email" class="form-control rounded-pill bg-danger bg-opacity-25" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label id="Input.Email" name="Input.Email" class="form-label">電子信箱</label>
                <span class="text-danger field-validation-valid" data-valmsg-for="Input.Email" data-valmsg-replace="true"></span>
            </div>
            <div class="form-floating mb-3">
                <input id="Input.Password" name="Input.Password" class="form-control rounded-pill bg-danger bg-opacity-25" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label id="Input.Password" name="Input.Password" class="form-label">密碼</label>
                <span class="text-danger field-validation-valid" data-valmsg-for="Input.Password" data-valmsg-replace="true"></span>
            </div>
            <div class="form-floating mb-3">
                <input id="Input.ConfirmPassword" name="Input.ConfirmPassword" class="form-control rounded-pill bg-danger bg-opacity-25" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label id="Input.ConfirmPassword" name="Input.ConfirmPassword" class="form-label">確認密碼</label>
                <span class="text-danger field-validation-valid" data-valmsg-for="Input.ConfirmPassword" data-valmsg-replace="true"></span>
            </div>
            <div class="text-center">
                <button id="registerSubmit" type="submit" class="w-50 btn btn-md btn-warning rounded-pill">註冊</button>
                <p>
                    <a asp-area="Candidates" asp-controller="Home" asp-action="Login">已有會員?登入</a>
                    <partial name="_BtnRegister" />
                </p>
            </div>
        </form>
    </div>
