@section Styles
{
    <style>
        
    </style>
}

<div class="container-fluid py-2" id="ResumeApp">
    <div class="letters row">
        <div class="col-md-3 mb-4">
            <div class="card rounded-5" style="width: 15rem; height: 15rem;">
                <div class="card-body">
                    <h2 class="text-center">新增<br />履歷</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4" v-for="item in Resume.slice(pageStart,pageEnd)">
            <div class="card rounded-5" style="width: 15rem; height: 15rem;">
                <div class="card-body" style="border:1px solid red">
                    <div class="" style="text-align:right">
                         <button type="button" class="btn-close text-right"  aria-label="Close"></button>
                    </div>
                    <div class="">
                        <p class="card-title pb-3 text-center fs-2">{{item.resumeTitle.slice(1,15)}}</p>
                        </div>
                    
                    <div class="text-center">
                        <partial name="../Partial/_ResumeBtnModal.cshtml" />
                    </div>
                </div>
            </div>
        </div>

        
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let VueApp = {
            data() {
                return {
                    pageStatus: 0,
                    perpage: 7, //一頁的資料數
                    currentPage: 1,
                    MessageStatus: 1,
                    Resume: [],
                    TagClasses: [
                        { TagClassID: 1, TagClass: "電腦科學"},
                        { TagClassID: 2, TagClass: "數學" },
                        { TagClassID: 3, TagClass: "醫學" },
                    ],
                    Tags: [
                        { TagClassID: 1, TagID: 1, TagName: "C#" },
                        { TagClassID: 1, TagID: 2, TagName: "JavaScript" },
                        { TagClassID: 1, TagID: 3, TagName: "Azure" },
                        { TagClassID: 2, TagID: 4, TagName: "高等微積分" },
                        { TagClassID: 2, TagID: 5, TagName: "複變數函數" },
                        { TagClassID: 3, TagID: 6, TagName: "肛腸科" },
                        { TagClassID: 3, TagID: 7, TagName: "精神科" },
                    ],
                };
            },
        
            computed: {
                totalPage() {
                    return Math.ceil(this.Resume.length / this.perpage)
                    //Math.ceil()取最小整數
                },
                pageStart() {
                    return (this.currentPage - 1) * this.perpage
                    //取得該頁第一個值的index
                },
                pageEnd() {
                    return this.currentPage * this.perpage
                    //取得該頁最後一個值的index
                }
            },
            methods: {
                setPage(page) {
                    if (page <= 0 || page > this.totalPage) {
                        return
                    }
                    this.currentPage = page
                },

                filterTagClass:function(ClassID) {
                        let _this = this;
                    return _this.Tags.filter(function (item) {
                        return item.TagClassID == ClassID;
                        });
                },
                ReturnhashtagID:function(item){
                    return `#${item.TagClass}`;
                },
                changeTagNameTo: function (TagName) {
                    let _this = this;
                    return `${TagName}BindID`;
                },
                    ResumeInformation: function () {
                    fetch("/Candidates/Resume/ResumeResult", {
                        method:"POST",
                    }).then(response=>{
                        return response.json();
                    }).then(data=> {
                        return this.Resume = data
                    }).catch(err=>{
                        alert(JSON.stringify(err))
                    })
                },
            },
            mounted:function(){
                this.ResumeInformation();
            }
        };
        let app = Vue.createApp(VueApp).mount("#ResumeApp");
    </script>

}