


@section Styles {
    @* ViewData["Title"] = "Home Page"; *@
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" asp-append-version="true" />
    <style>

    </style>

}

<div id="app2">
    @* 搜尋列 *@
    <div class="container border border-2 col-10 mb-4">
        <div class="row calculator-dropdown py-md-2">
            <div class="col-sm-3">
                <label class="calculator-dropdown-label" for="apiChoice">選擇地區</label>
                <select class="select" name="" id="" style="width:150px;height:30px" ;>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label class="calculator-dropdown-label" for="apiChoice">技能類別</label>
                <select class="select" name="" id="" style="width:150px;height:30px" ;>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label class="calculator-dropdown-label" for="apiChoice">學歷</label>
                <select class="select" name="" id="" style="width:150px;height:30px" ;>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </div>
        </div>
        <div class="row py-md-2">
            <div class="col-10 mb-0">
                <input type="text" class="form-control" placeholder="請輸入關鍵字" />
            </div>
            <div class="col-2 mb-0">
                <button class="btn btn-warning">搜尋</button>
            </div>
        </div>
    </div>

    <br />

    @* 履歷清單 *@

    @* 履歷清單2 *@
    <div id="homeList" class="container">
        <button v-on:click="beforeMount">2323</button>
        <table class="table table-striped table-hover">
            <thead class="table-warning" align="center">
                <tr>
                    <td>姓名</td>
                    <td>年紀</td>
                    <td>性別</td>
                    <td>學歷</td>
                    <td>所在地</td>
                    <td>技能</td>
                    <td></td>
                </tr>
                
            </thead>
            <tbody align="center"> 
                <tr v-for="item in candidates.slice(pageStart,pageEnd)">
                    <td><a class="" asp-area="Candidates" asp-controller="Home" asp-action="Login">{{item.name}}</a></td>
                    <td>{{item.age}}</td>
                    <td>{{selectSex(item.sex)}}</td>
                    <td>{{item.degree}}</td>
                    <td>{{item.address}}</td>
                    <td><button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalId">預覽</button></td>
                </tr>
            </tbody>
        </table>
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" v-on:click="setPage(currentPage-1)">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li v-for="item in totalPage" class="page-item" v-on:click="setPage(item)">
                        <a class="page-link" href="#">{{item}}</a>
                    </li>
                    <li class="page-item" v-on:click="setPage(currentPage+1)">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="modal fade"
         id="modalId"
         tabindex="-1"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         role="dialog"
         aria-labelledby="modalTitleId"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                            style="width:5% ;">
                    </button>
                </div>
                <div class="modal-body "style="background-color: #f7d179">
                    <div class="row">
                        <div class="col-sm-5 ">
                            <div class="row">
                                <h5 class="text-center">個人資料</h5>
                                <div class="col-12 col-sm-12">
                                    <label>姓名:</label>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <label>性別:</label>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <label>學歷:</label>
                                </div>
                                <h5 class="text-center">專業技能</h5>
                                <div class="col-12 col-sm-12">
                                    <label>C#、Java</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7 ">
                            <div class="row">
                                <div class="col-12 col-sm-12">
                                    <p>工作經驗詳述</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-warning">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">暫存</button>
                    <button type="button" class="btn btn-primary">詳細</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let vueList = {
            data() {
                return {
                    candidates: @Json.Serialize(Model),
                    cab: [{}],
                    in: 1,
                    perpage: 5, //一頁的資料數
                    currentPage: 1,
                }
            },
            computed: {
                totalPage() {
                    return Math.ceil(this.candidates.length / this.perpage)
                    //Math.ceil()取最小整數
                },
                pageStart() {
                    return (this.currentPage - 1) * this.perpage
                    //取得該頁第一個值的index
                },
                pageEnd() {
                    return this.currentPage * this.perpage
                    //取得該頁最後一個值的index
                },
              
                
            },
            methods: {
                setPage(page) {
                    if (page <= 0 || page > this.totalPage) {
                        return
                    }
                    this.currentPage = page
                },
                selectSex(item) {
                        if (item == false)
                            return item = "男";
                        else
                            return item = "女";
                },
                send() {
                    let url = 'https://localhost:7169/Home/GetCandidate';
                    let request = {
                        method: 'GET',
                        cache: 'no-cache',
                        headers: new Headers({
                            'Content-Type': 'application/json'
                        })
                    };
                    fetch(url, request)
                        .then(response => {
                            return response.json();
                        })
                        .then(model => {
                            this.cab = model
                            console.log(this.cab);
                        })
                        .catch(error => {
                            console.error(error);
                        });
                },
            }
        };
        let vacancies = Vue.createApp(vueList).mount("#homeList");
    </script>
}