@section Styles {
    @* ViewData["Title"] = "Home Page"; *@

    <style>

    </style>
}
<div id="app2" class="container">
    @* 搜尋列 *@
    <div class="container border border-2 col-10 mb-4">
        <div class="row calculator-dropdown py-md-2">
            <div class="col-sm-3" >
                <label class="calculator-dropdown-label" for="apiChoice">地區篩選</label>
                @* <div id="twzipcode"></div> *@
                <select v-model="area">
                    <option v-for="(item,index) in city" :value="index">{{item.CityName}}</option>
                </select>
                <select>
                 @*    <option v-for="item in city[index].areaList" :value="index">{{item.areaName}}</option> *@
                </select>
            </div>
            <div class="col-sm-3">
                <label class="calculator-dropdown-label" for="apiChoice">技能類別</label>
                <select v-model="skill">
                    <optgroup v-for="(item,index) in tagClasses" :label="item.tagClassName">
                        <option v-for="tag in tagClasses[index].tagObj" :value="tag.tagId">{{tag.tagName}}</option>
                    </optgroup>
                </select>
            </div>
            <div class="col-sm-3">
                <label class="calculator-dropdown-label" for="apiChoice">學歷</label>
                <select class="select" v-model="edu" style="width:150px;height:30px">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </div>
        </div>
        <div class="row py-md-2">
            <div class="col-10 mb-0">
                <input type="text" class="form-control" placeholder="請輸入關鍵字" v-on:keyup="filterResumes" v-model="filter" />
            </div>
            <div class="col-2 mb-0">
                <button class="btn btn-warning" v-on:click="filterResumes">搜尋</button>
            </div>
        </div>
    </div>

    <br />

    @* 履歷清單 *@
    <div id="homeList" class="container">
        <table class="table table-striped table-hover">
            <thead id="listHeader" class="table-warning" align="center">
                <tr>
                    <td>姓名</td>
                    <td>年紀</td>
                    <td>性別</td>
                    <td>學歷</td>
                    <td>所在地</td>
                    <td>技能</td>
                    <td></td>
                </tr>

            </thead>
            <tbody id="listItem" align="center">
                <tr v-for="(item,index) in resumes.slice(pageStart,pageEnd)">
                    <td><a class="" asp-area="Candidates" asp-controller="Home" asp-action="Login">{{item.name}}</a></td>
                    <td>{{item.age}}歲</td>
                    <td>{{selectSex(item.sex)}}</td>
                    <td>{{item.degree}}</td>
                    <td>{{item.address}}</td>
                    <td>{{selectTagName(item.tagObj)}}</td>
                    <td><button class="btn btn-info" data-bs-toggle="modal" :data-bs-target="'#'+mergeID(item)">預覽</button></td>
                </tr>
            </tbody>
        </table>
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" v-on:click="setPage(currentPage-1)">
                        <a class="page-link" href="#homeList" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li v-for="item in totalPage" class="page-item" v-on:click="setPage(item)">
                        <a class="page-link" href="#homeList">{{item}}</a>
                    </li>
                    <li class="page-item" v-on:click="setPage(currentPage+1)">
                        <a class="page-link" href="#homeList" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div v-for="item in resumes" class="modal fade"
         :id="mergeID(item)"
         tabindex="-1"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         role="dialog"
         aria-labelledby="modalTitleId"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                            style="width:5% ;">
                    </button>
                </div>
                <div class="modal-body " style="background-color: #f7d179">
                    <div class="row">
                        <div class="col-sm-5 ">
                            <div class="row text-center">
                                <h5>個人資料</h5>
                                <div class="col-12 col-sm-12">
                                    <label>{{item.name}}</label>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <label>性別:{{selectSex(item.sex)}}</label>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <label>學歷:{{item.degree}}</label>
                                </div>
                                <h5 class="text-center">專業技能</h5>
                                <div class="col-12 col-sm-12">
                                    <label class="text-center">{{selectTagName(item.tagObj)}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7 ">
                            <div class="row">
                                <h5 class="text-center">簡介</h5>
                                <div class="col-12 col-sm-12">
                                    <p>{{item.intro}}</p>
                                </div>
                                <h5 class="text-center">工作經驗</h5>
                                <div class="col-12 col-sm-12">
                                    <p>{{item.workExperience}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-warning">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">暫存</button>
                    <button type="button" class="btn btn-primary">詳細</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.4/axios.min.js" integrity="sha512-6VJrgykcg/InSIutW2biLwA1Wyq+7bZmMivHw19fI+ycW0jIjsadm8wKQQLlfv3YUS4owfMDlZU38NtaAK6fSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-twzipcode@1.7.14/jquery.twzipcode.min.js"></script>
    <script>
        let vueList = {
            data() {
                return {
                    area: [],
                    skill: "1",
                    edu: "A", 
                    filter: "",
                    resumes: [],
                    tagClasses: [],
                    perpage: 5, //一頁的資料數
                    currentPage: 1,
                    city:[],
                };
            },
            computed: {
                totalPage() {
                    return Math.ceil(this.resumes.length / this.perpage)
                    //Math.ceil()取最小整數
                },
                pageStart() {
                    return (this.currentPage - 1) * this.perpage
                    //取得該頁第一個值的index
                },
                pageEnd() {
                    return this.currentPage * this.perpage
                    //取得該頁最後一個值的index
                },
                
            },
            methods: {
                setPage(page) {
                    if (page <= 0 || page > this.totalPage) {
                        return
                    }
                    this.currentPage = page
                },
                selectSex(item) {
                    return item == true ? "男" : "女";
                },
                selectTagName(item){
                    let s = "";
                    for (let i = 0; i < item.length; i++) {
                        s += `${i+1}.${item[i].tagName} `;
                    }
                    return s
                },
                mergeID(item) {
                    let str = item.name.replace(/\s/g, "");
                    let num = item.resumeID;
                    strID = str + num;
                    return strID;
                },
                indexList() {
                    let self = this;
                    axios.post('https://localhost:7169/Home/CompanyIndexList', {
                        Headers: { 'Content-Type': 'application/json' },
                    }).then(res => {
                        self.resumes = res.data
                    }).catch(error => {
                                console.error(error);
                    });     
                },
                filterResumes() {
                    let self = this;
                    let today = new Date().getFullYear();
                    var request = {
                        sex: self.filter == "男",
                        serchText: self.filter,
                        area: self.area,
                        edu: self.edu,
                        skill: self.skill
                    };
                    axios.post('https://localhost:7169/Home/SelectIndexList', request, {
                            Headers: { 'Content-Type': 'application/json' },
                        }).then(res => {
                             self.resumes = res.data
                        for (var n = 0; n < self.resumes.length; n++) {
                            self.resumes[n].edit = false;
                            }
                        }).catch(err => JSON.stringify(err))
                },
              
                getTag() {
                    let request = {
                        method: 'GET',
                        cache: 'no-cache',
                        headers: new Headers({
                            'Content-Type': 'application/json'
                        })
                    };
                    fetch('https://localhost:7169/Home/TagClasses', request)
                        .then(response => {
                            return response.json();
                        })
                        .then(model => {
                            return this.tagClasses = model
                        })
                        .catch(error => {
                            console.error(error);
                        });
                },
                getCity(){
                    axios.get('/json/CityCountyData.json')  //根目錄資料
                        .then(model => {
                            return this.city = model.data;
                            // 在這裡處理你的 JSON 資料
                        })
                        .catch(function (error) {
                            console.error(error);
                        });
                },
                // getArea(){
                //     for (let i = 0; i < this.city.length; i++) { 
                //         this.area[i] = this.city[i].AreaList
                //     }
                //     return area
                // }
            },
            mounted() {
                this.getTag();
                this.getCity();
                this.indexList();
                // this.getArea();
            }
        };
        let vacancies = Vue.createApp(vueList).mount("#app2");
        $("#twzipcode").twzipcode({
            zipcodeIntoDistrict: true, // 郵遞區號自動顯示在地區
            // css: ["city form-control", "town form-control"], // 自訂 "城市"、"地區" class 名稱
            countyName: "city", // 自訂城市 select 標籤的 name 值
            districtName: "town" // 自訂地區 select 標籤的 name 值
        });
            $("#twzipcode").children("select").val()
        
    </script>
}