@section Styles{
    @* ViewData["Title"] = "Home Page"; *@
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" asp-append-version="true" />

}

@* 搜尋列 *@

<div class="container border border-2" style="width:1000px;height:120px">
    <div class="row">
        <div class="col">
            <div class="mb-3 mt-3 calculator-dropdown">
                <label class="calculator-dropdown-label" for="apiChoice">選擇地區</label>
                <select class="select" name="" id="" style="width:150px;height:30px" ;>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
                <label class="calculator-dropdown-label" for="apiChoice">選擇工時</label>
                <select class="select" name="" id="" style="width:150px;height:30px" ;>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
                <label class="calculator-dropdown-label" for="apiChoice">職業類別</label>
                <select class="select" name="" id="" style="width:150px;height:30px" ;>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
                <label class="calculator-dropdown-label" for="apiChoice">能力標籤</label>
                <select class="select" name="" id="" style="width:150px;height:30px" ;>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-10 mb-0">
                <input type="text" class="form-control" placeholder="請輸入關鍵字" />
            </div>
            <div class="col-2 mb-0">
                <button class="btn btn-warning">搜尋</button>
            </div>
        </div>
    </div>
</div>

<br />

@* 表頭 *@
<div class="container align-items-center">
    <div class="row mb-3 text-center" style="font-weight:bold; font-size:20px;">
        <div class="col">職稱</div>
        <div class="col">公司名稱</div>
        <div class="col">地區</div>
        <div class="col-4">工作內容</div>
    </div>
</div>


@* 履歷清單 *@

<div class="container align-items-center">
    <partial name="IndexJobModal" />
    <partial name="IndexJobModal" />
    <partial name="IndexJobModal" />
    <partial name="IndexJobModal" />
    <partial name="IndexJobModal" />
</div>

@* 分頁 *@
<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>
