@{
    ViewData["Title"] = "首頁";
}

@section Styles
{
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" asp-append-version="true" />
}

<div class="pt-2" id="app">
    @* 搜尋列 *@
    <div class="container border border-2 col-10 mb-4">
        <div class="row calculator-dropdown py-md-2">
            <div class="col-sm-3">
                <label class="calculator-dropdown-label" for="">選擇地區</label>
                <select class="select" name="" id="" style="width:150px;height:30px">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label class="calculator-dropdown-label" for="">選擇工時</label>
                <select class="select" name="" id="" style="width:150px;height:30px">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label class="calculator-dropdown-label" for="">職業類別</label>
                <select class="select" name="" id="" style="width:150px;height:30px">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </div>
            <div class="col-sm-3" id="app2">
                <partial name="_TagsBtnModal" />
            </div>
        </div>
        <div class="row py-md-2">
            <div class="col-10 mb-0">
                <input type="text" class="form-control" placeholder="請輸入關鍵字" />
            </div>
            <div class="col-2 mb-0">
                <button class="btn btn-warning">搜尋</button>
            </div>
        </div>
    </div>

    @* 履歷清單 *@
    <div class="container">
        <table class="table table-striped table-hover">
            <thead class="table-warning" align="center">
                <tr>
                    <td>職稱</td>
                    <td>公司名稱</td>
                    <td>地區</td>
                    <td>工作內容</td>
                    <td>應徵 / 儲存</td>
                </tr>
            </thead>
            <tbody align="center">
                <tr>
                    <td>助理工程師</td>
                    <td>XX公司</td>
                    <td>台北市信義區</td>
                    <td>dhfjfodshfl</td>
                    <td>
                        <button class="btn btn-info">應徵</button>
                        <button class="btn btn-danger">儲存</button>
                    </td>
                </tr>
                <tr>
                    <td>工程師</td>
                    <td>KK公司</td>
                    <td>台北市信義區</td>
                    <td>eieuwla</td>
                    <td>
                        <button class="btn btn-info">應徵</button>
                        <button class="btn btn-danger">儲存</button>
                    </td>
                </tr>
                <tr>
                    <td>資深工程師</td>
                    <td>UU公司</td>
                    <td>台北市信義區</td>
                    <td>hfihwflaifh</td>
                    <td>
                        <button class="btn btn-info">應徵</button>
                        <button class="btn btn-danger">儲存</button>
                    </td>
                </tr>
                <tr>
                    <td>AAAAA</td>
                    <td>AA公司</td>
                    <td>台北市信義區</td>
                    <td>hfihwflaifh</td>
                    <td>
                        <button class="btn btn-info">應徵</button>
                        <button class="btn btn-danger">儲存</button>
                    </td>
                </tr>
                <tr>
                    <td>AAAAA</td>
                    <td>AA公司</td>
                    <td>台北市信義區</td>
                    <td>hfihwflaifh</td>
                    <td>
                        <button class="btn btn-info">應徵</button>
                        <button class="btn btn-danger">儲存</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    TagClasses:[
                        { TagClassID: 1, TagClass: "電腦科學" },
                        { TagClassID: 2, TagClass: "數學" },
                        { TagClassID: 3, TagClass: "醫學" },
                    ],
                    Tags: [
                        { TagClassID: 1, TagID: 1, TagName: "C#" },
                        { TagClassID: 1, TagID: 2, TagName: "JavaScript" },
                        { TagClassID: 1, TagID: 3, TagName: "Azure" },
                        { TagClassID: 2, TagID: 4, TagName: "高等微積分" },
                        { TagClassID: 2, TagID: 5, TagName: "複變數函數" },
                        { TagClassID: 3, TagID: 6, TagName: "肛腸科" },
                        { TagClassID: 3, TagID: 7, TagName: "精神科" },
                    ],
                    TagCheckedResume: [],
                };
            },
            methods: {
                filterTagClass: function (ClassID) {
                    let _this = this;
                    return _this.Tags.filter(function (item) {
                        return item.TagClassID == ClassID;
                    });
                },
                ReturnhashtagID: function (item) {
                    return `#${item.TagClass}`;
                },
                changeTagNameTo: function (TagName) {
                    let _this = this;
                    return `${TagName}BindID`;
                },
            },
        }).mount("#app");
    </script>
}