@{
    ViewData["Title"] = "首頁";
}

@section Styles
{
    <style>
        td{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        a:link {   /* 未瀏覽過的超連結 */
            text-decoration: none;
        }

    </style>
}

<div class="pt-2" id="app1" v-cloak>
    <!-- Header-->
    <header class="bg-warning py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                @* <h1 class="display-4 fw-bolder">Home Page</h1> *@
                <label style="font-size:700%;">小鴨<img src="~/gif/9e25a15f2aae61fb18f7782b65b6baf7.gif" style="width:30%" />上工</label>
            </div>
        </div>
    </header>
    <br />
    <br />
    @* 搜尋列 *@
    <div class="container border border-2 col-10 mb-4 ">
        <div class="row calculator-dropdown py-md-2 ">
            <div class="col-lg-4">
                <label class="calculator-dropdown-label mx-2" for="apiChoice">地區篩選</label>
              
                <select class="form-control rounded-2 col-form-label mx-1" v-model="city" v-on:change="getArea" style="width:90px;height:32.95px;display:inline-block" >
                    <option v-for="(item,index) in cityList" :key="item.CityName" :value="item.CityName">{{item.CityName}}</option>
                </select>
                <select class="form-control rounded-2 mx-0" v-model="areaName" style="width:90px;height:32.95px;display:inline-block">
                    <option v-for="item in area" :value="item.AreaName">{{item.AreaName}}</option>
                </select>
            </div>
            <div class="col-lg-3">
                <label class="calculator-dropdown-label mx-2" for="">期望薪資</label>
                
                <input class="form-control rounded-2 " type="number" value="0" v-model="salary" min="0" step="1000" required style="width:150px;height:32.95px;display:inline-block" />
            </div>
            <div class="col-lg-4">
                <label class="calculator-dropdown-label mx-2" for="">職缺職業類別</label>
                <select class="form-control rounded-2 " v-model="classNumber" style="width:150px;height:32.95px;display:inline-block">
                    <optgroup v-for="(item,index) in titleClassList" :label="item.titleCategoryName">
                        <option v-for="titleclass in titleClassList[index].titleClassObj" :value="titleclass.titleClassId">{{titleclass.titleClassName}}</option>
                    </optgroup>
                </select>
            </div>
            <div class="col-lg-1">
                <button class="btn btn-warning text-light" v-on:click="clearSearch()">清空</button>
            </div>
        </div>
        <div class="row py-md-2">
            <div class="col-11 mb-0">
                <input type="text" class="form-control rounded-2" placeholder="請輸入關鍵字" v-on:keyup.lazy="filterOpenings" v-model.trim="filter" />
            </div>
            <div class="col-1 mb-0">
                <button class="btn btn-warning text-light" v-on:click="filterOpenings">搜尋</button>
            </div>
        </div>
    </div>
    <div class="container text-center">
    <div class="row " >
        <div class="col-sm-2 ms-auto row">
            <div class="col-sm-10">
                <label class="mx-1">第</label>
                <select class="form-control rounded-2 mx-1" v-model="currentPageSafe" v-on:change="turnPage(currentPageSafe)" style="width:50px; height:32px;display:inline-block;">
                    <option v-for="page in totalPage" :value="page">{{page}}</option>
                </select>
                <label>頁</label>
            </div>
       </div>
        <div class="col-sm-8 ms-auto">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                        <li class="page-item" v-on:click="setPage(currentPageSafe-1)">
                        <button type="button" class="page-link" aria-label="Previous" v-bind:disabled="isturnPagePreviousDisabled">
                            <span aria-hidden="true">&laquo;</span>
                        </button>
                    </li>
                    <li v-for="page in totalPage" class="page-item" v-on:click="turnPage(page)">
                        <button type="button" class="page-link">{{page}}</button>
                    </li>
                        <li class="page-item" v-on:click="setPage(currentPageSafe+1)">
                        <button type="button" class="page-link" aria-label="Next" v-bind:disabled="isturnPageNextDisabled">
                            <span aria-hidden="true">&raquo;</span>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-2 ms-auto row">
            <div class="col-sm-10">
                <label class="mx-1">一頁</label>
                <select class="form-control rounded-2 mx-1" v-model="perpageSafe" v-on:change="perPage(perpageSafe)" style="width:50px; height:32px;display:inline-block;">
                    <option v-for="per in selectPer" :value="per">{{per}}</option>
                </select>
                <label>筆</label>
            </div>
        </div>
    </div>
    </div>

    @* 履歷清單 *@
    <div class="container">
        <table class="table table-striped table-hover">
            <thead class="table-warning" align="center">
                <tr>
                    <td>職稱</td>
                    <td>公司名稱</td>
                    <td>地區</td>
                    <td>職缺類別</td>
                    <td>薪資條件</td>
                    <template v-if="memberRole=='candidate'">
                        <td>應徵 / 儲存</td>
                    </template>
                    <template v-else>
                        <td></td>
                    </template>
                </tr>
            </thead>
            <tbody align="center">
                <tr v-for="(item,index) in openings">
                    <td><a target="_blank" :href=`${baseAddress}/Candidate/OpeningDetail/?companyId=${item.companyId}&openingId=${item.openingId}`>{{item.title}}</a></td>
                    <td>{{item.companyName}}</td>
                    <td>{{item.address}}</td>
                    <td><p>{{getTagTitleClass(item.titleClass)}}</p></td>
                    <td>{{item.salaryMin}}~{{item.salaryMax}}</td>
                    <td>
                        <button type="button" class="btn btn-info text-light" v-on:click="showOpeningDataModal(item.openingId)">
                            預覽
                        </button>
                            <template v-if="memberRole=='candidate'">
                                <template v-if="item.likeYN == false">
                                    <button class="btn btn-danger" v-on:click="addFavorite(item)">儲存</button>
                                </template>
                                <template v-else>
                                    <button class="btn btn-outline-danger" v-on:click="deleteFavorite(item)">已存</button>
                                </template>
                            </template>
                    </td>
                </tr>
            </tbody>
        </table>

        @* 未登入職缺詳細 *@
        <div class="modal fade" id="applyJobUnLoginModal" tabindex="-1" data-bs-keyboard="false" role="dialog" aria-labelledby="applyJobUnLoginModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-warning">
                        <h3 class="CompanyNameh3 text-center text-light" id="applyJobUnLoginModalLabel">{{openingModal.openingTitle}} - </h3>
                        <button class="astext h3 text-light" style="margin: 0 0 7px;">{{openingModal.companyName}}</button>
                        <span class="text-light px-3">已有: {{openingModal.resumeNumber}}人投遞履歷</span>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" v-on:click="cancelApplyJob()"></button>
                    </div>
                    <div class="modal-body">
                        <label class="h3">介紹: </label>
                        <h5>{{openingModal.description}}</h5>
                        <hr />
                        <label class="h4">職業類別: </label>
                        <template v-for="(titleClass,index) in openingModal.titleClassName">
                            <template v-if="index + 1 == openingModal.titleClassName.length">
                                <button class="astext h5">{{titleClass}}</button>
                            </template>
                            <template v-else>
                                <button class="astext h5">{{titleClass}}</button>、
                            </template>
                        </template>
                        <br />
                        <label class="h4">薪資:  </label>
                        <span class="h5 text-warning">月薪{{openingModal.salaryMin}}~{{openingModal.salaryMax}}元</span>
                        <br />
                        <label class="h4">工作時段: </label>
                        <button class="astext h5">{{openingModal.time}}</button>
                        <br />
                        <label class="h4">工作地址: </label>
                        <span class="h5">{{openingModal.address}}</span>
                        <br />
                        <label class="h4">需求人數: </label>
                        <span class="h5 px-1">{{openingModal.requiredNumber}}人</span>
                        <hr />
                        <label class="h4">學歷要求: </label>
                        <span class="h5">{{openingModal.degree}}</span>
                        <br />
                        <label class="h4">擅長能力: </label>
                        <template v-for="(tag,index) in openingModal.tagName">
                            <template v-if="index + 1 == openingModal.tagName.length">
                                <button class="astext h5">{{tag}}</button>
                            </template>
                            <template v-else>
                                <button class="astext h5">{{tag}}</button>、
                            </template>
                        </template>
                        <hr />
                        <label class="h4">福利制度: </label>
                        <h5>{{openingModal.benefit}}</h5>
                    </div>
                </div>
            </div>
        </div>

        @* 登入後職缺詳細 *@
        <div class="modal fade" id="applyJobModal" tabindex="-1" data-bs-keyboard="false" role="dialog" aria-labelledby="applyJobModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-warning">
                        <h3 class="CompanyNameh3 text-center text-light">{{openingModal.openingTitle}} - </h3>
                        <button class="astext h3 text-light" style="margin: 0 0 7px;">{{openingModal.companyName}}</button>
                        <span class="text-light px-3">已有: {{openingModal.resumeNumber}}人投遞履歷</span>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" v-on:click="cancelApplyJob()"></button>
                    </div>
                    <div class="modal-body">
                        <label class="h3">介紹: </label>
                        <h5>{{openingModal.description}}</h5>
                        <hr />
                        <label class="h4">職業類別: </label>
                        <template v-for="(titleClass,index) in openingModal.titleClassName">
                            <template v-if="index + 1 == openingModal.titleClassName.length">
                                <button class="astext h5">{{titleClass}}</button>
                            </template>
                            <template v-else>
                                <button class="astext h5">{{titleClass}}</button>、
                            </template>
                        </template>
                        <br />
                        <label class="h4">薪資:  </label>
                        <span class="h5 text-warning">月薪{{openingModal.salaryMin}}~{{openingModal.salaryMax}}元</span>
                        <br />
                        <label class="h4">工作時段: </label>
                        <button class="astext h5">{{openingModal.time}}</button>
                        <br />
                        <label class="h4">工作地址: </label>
                        <span class="h5">{{openingModal.address}}</span>
                        <br />
                        <label class="h4">需求人數: </label>
                        <span class="h5 px-1">{{openingModal.requiredNumber}}人</span>
                        <hr />
                        <label class="h4">學歷要求: </label>
                        <span class="h5">{{openingModal.degree}}</span>
                        <br />
                        <label class="h4">擅長能力: </label>
                        <template v-for="(tag,index) in openingModal.tagName">
                            <template v-if="index + 1 == openingModal.tagName.length">
                                <button class="astext h5">{{tag}}</button>
                            </template>
                            <template v-else>
                                <button class="astext h5">{{tag}}</button>、
                            </template>
                        </template>
                        <hr />
                        <label class="h4">福利制度: </label>
                        <h5>{{openingModal.benefit}}</h5>
                    </div>
                    <div class="modal-footer">
                        <template v-if="applyJobYN == false">
                            <button class="btn btn-primary" v-on:click="getResumes()">應徵</button>
                        </template>
                        <template v-else>
                            <select v-model="selectedResumeId">
                                <option v-for="resume in resumes" v-bind:value="resume.resumeId">{{resume.resumeTitle}}</option>
                            </select>
                            <button class="btn btn-primary" v-on:click="applyJob()">確認送出</button>
                            <button class="btn btn-secondary" v-on:click="cancelApplyJob()">取消</button>
                        </template>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item" v-on:click="setPage(currentPageSafe-1)">
                        <button type="button" class="page-link" aria-label="Previous" v-bind:disabled="isturnPagePreviousDisabled">
                            <span aria-hidden="true">&laquo;</span>
                        </button>
                    </li>
                    <li v-for="page in totalPage" class="page-item" v-on:click="turnPage(page)">
                        <button type="button" class="page-link">{{page}}</button>
                    </li>
                    <li class="page-item" v-on:click="setPage(currentPageSafe+1)">
                        <button type="button" class="page-link" aria-label="Next" v-bind:disabled="isturnPageNextDisabled">
                            <span aria-hidden="true">&raquo;</span>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    @* 沒有驗證信件or完整填寫會員資料Modal *@
    <div class="modal fade" id="turnPageToMemberModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="turnPageToMemberModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h3 class="modal-title text-light" id="turnPageToMemberModalLabel">尚未{{alertTextGetData}}</h3>
                </div>
                <div class="modal-body">
                    <h5>請問是否移動至 會員資料 頁面 {{alertTextGetData}}?</h5>
                </div>
                <div class="modal-footer">
                    <form asp-area="Candidates" asp-controller="Member" asp-action="TurnPageToMember" method="get">
                        <button type="submit" class="btn btn-warning text-light" data-bs-dismiss="modal">移動頁面</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>


</div>

@section Scripts
{
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.4/axios.min.js" integrity="sha512-6VJrgykcg/InSIutW2biLwA1Wyq+7bZmMivHw19fI+ycW0jIjsadm8wKQQLlfv3YUS4owfMDlZU38NtaAK6fSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        let vueList = {
            data() {
                return {
                    baseAddress: "https://localhost:7169",
                    // baseAddress: "https://duckjobhunting.azurewebsites.net",

                    perpage: 5, //一頁的資料數
                    selectPer:[5,10,15,20,25],
                    perpageSafe: null,
                    currentPage: 1,
                    currentPageSafe: null,
                    totalDataCount: null,
                    totalPage: null,
                    openings: [],
                    cityList: [],
                   
                    titleClassList: [],
                    tiltleClassList: [],
                    city: "",
                    area: [],
                    areaName: "",
                    classNumber: null,
                    salary:null,
                    filter:"",
                    alertStatus: null,
                    alertText: "",

                    isturnPagePreviousDisabled: false,
                    isturnPageNextDisabled: false,

                    openingModal: {},
                    resumes: [],
                    applyJobYN: false,
                    selectedOpeningId: null,
                    selectedResumeId: null,

                    memberRole: "",

                    alertTextGetData: "",
                };
            },
            methods: {
                clearSearch: function () {
                    this.filter = "";
                        this.city = "";
                        this.areaName = "";
                        this.salary = null;
                        this.classNumber = null;
                        this.area = "";
                        this.filterOpenings();
                },
                setPage(page) {     //當按到第幾頁顯示的資料
                    if (page <= 0 || page > this.totalPage) {
                        return
                    }
                    this.currentPage = page
                    this.filterOpenings();
                },
                perPage(per){
                    this.perpage = per;
                    this.filterOpenings();
                },
                turnPage: function (page) {
                    this.currentPage = page;
                    this.filterOpenings();
                },
                getTagTitleClass(item) {
                    let str = "";
                    for (let i = 0; i < item.length; i++) {
                        str += item[i].titleClassName
                        if (i < item.length - 1) {
                            str += "、"
                        }
                    }
                    return str;
                },
                filterOpenings(){
                    let self = this;
                    this.currentPageSafe = this.currentPage == null || this.currentPage == "" ? 1 : this.currentPage;
                    this.perpageSafe = this.perpage == null || this.perpage == "" ? 5 : this.perpage;
                    var request = {
                        page: self.currentPageSafe,
                        count: self.perpageSafe,
                        searchText: self.filter,
                        areaName: self.city + self.areaName,
                        salary: self.salary,
                        classNumber: self.classNumber,
                    };
                    axios.post('@Url.Action("SelectOpeningsList", "Home")', request, {
                            headers: { 'Content-Type': 'application/json' },
                        }).then(res => {
                            self.openings = res.data.openingsIndexOutput;
                            self.totalDataCount = res.data.totalDataCount;
                            self.totalPage = Number.isInteger((res.data.totalDataCount) / (self.perpageSafe)) ? parseInt((res.data.totalDataCount) / (self.perpageSafe)) : parseInt((res.data.totalDataCount) / (self.perpageSafe)) + 1;
                            self.currentPage = 1;
                        }).catch(err => JSON.stringify(err))
                          .finally(() => {
                              if (this.currentPageSafe <= 1) {
                                  this.currentPageSafe = 1;
                                  this.isturnPagePreviousDisabled = true;
                              }
                              else {
                                  this.isturnPagePreviousDisabled = false;
                              }

                              if (this.currentPageSafe >= this.totalPage) {
                                  this.currentPageSafe = this.totalPage;
                                  this.isturnPageNextDisabled = true;
                              }
                              else {
                                  this.isturnPageNextDisabled = false;
                              }
                          });
                },
                showOpeningDataModal:function(openingId){
                    if(this.memberRole=='candidate'){
                        this.getOpening(openingId);
                        $("#applyJobModal").modal("show");
                    }
                    else{
                        this.getOpening(openingId);
                        $("#applyJobUnLoginModal").modal("show");
                    }
                },
                getCity() {
                    axios.get('@Url.Content("~/cityjson/CityCountyData.json")')  //根目錄資料
                        .then(model => {
                            this.cityList = model.data;
                        })
                        .catch(function (error) {
                            console.error(error);
                        });
                },
                getArea() {
                    this.area = this.cityList.find(x => x.CityName === this.city).AreaList;
                },
                getTitleClass() {
                    let self = this;
                    axios.get('@Url.Action("TitleClassSelect", "Home")')
                                .then(model => {
                            self.titleClassList = model.data;
                        })
                        .catch(function (error) {
                            console.error(error);
                        });
                },
                addFavorite(item) {
                    let self = this;
                    request = {
                        openingId: item.openingId,
                    };
                    axios.post(`${self.baseAddress}/Home/AddFavorite`, request, {
                        headers: { 'Content-Type': 'application/json' },
                    }).then(res => {
                        item.likeYN = true;
                    }).catch(error => {
                        console.error(error);
                    })
                },
                deleteFavorite: function (item) {
                    let self = this;
                    let request = {
                        OpeningId: item.openingId,
                    };

                    axios.post(`${self.baseAddress}/Home/DeleteFavorite`, request, {
                        headers: { 'Content-Type': 'application/json' },
                    }).then(res => {
                        item.likeYN = false;
                    }).catch(error => {
                        console.error(error);
                    })
                },
                getOpening: function (openingId) {
                    this.selectedOpeningId = openingId;
                    axios.get(`${this.baseAddress}/Home/GetOpening`,
                        {
                            params: { id: this.selectedOpeningId },
                            headers: {
                                "Content-Type": "application/json",
                            },
                        })
                        .then(response => this.openingModal = response.data)
                        .catch(err => { alert(err) });
                },
                getResumes: function () {
                    axios.get(`${this.baseAddress}/Candidates/OpeningStorage/GetCandidateData`,
                        {
                            headers: {
                                "Content-Type": "application/json",
                            },
                        })
                        .then(response => {
                            if (response.data.dataStatus) {
                                this.chooseResume();
                                this.alertTextGetData = response.data.alertText;
                            }
                            else if (!response.data.dataStatus) {
                                this.alertTextGetData = response.data.alertText;
                                $("#turnPageToMemberModal").modal("show");
                            }
                            else {
                                alert(response.data.alertText);
                            }
                        })
                        .catch(err => { alert(err) });
                },
                chooseResume: function () {
                    this.applyJobYN = true;
                    axios.get(`${this.baseAddress}/Home/ResumesJson`,
                        {
                            headers: {
                                "Content-Type": "application/json",
                            },
                        })
                        .then(response => {
                            if (response.data.length == 0) {
                                alert("請新增至少一筆履歷")
                                window.location.href = '@Url.Action("Index", "Resume", new { area = "Candidates" })'
                            }
                            else {
                                this.resumes = response.data
                            }
                        })   
                        .catch(err => { alert(err) });
                },
                applyJob: function () {
                    let request = {};
                    request.resumeId = this.selectedResumeId;
                    request.openingId = this.selectedOpeningId;
                    axios.post(`${this.baseAddress}/Home/ApplyJob`, request, {
                        headers: {
                            "Content-Type": "application/json",
                        }
                    })
                        .then(response => {
                            alert(response.data.alertText);
                            this.alertStatus = response.data.alertStatus;
                            this.getOpening(this.selectedOpeningId);
                        })
                        .catch(err => { alert(err) })
                        .finally(() => this.applyJobYN = false);
                },
                cancelApplyJob: function () {
                    this.applyJobYN = false;
                    this.selectedResumeId = null;
                },
                getRole: function () {
                    let self = this;
                    axios({
                        method: 'get',
                        url: `${self.baseAddress}/Home/GetRole`,
                    })
                        .then(function (response) {
                            self.memberRole = response.data;
                            console.log(response.data);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
            },
            mounted() {
                let self = this;
                self.getRole();
                self.filterOpenings();
                self.getCity();
                self.getTitleClass();
            }
        };
        let listData = Vue.createApp(vueList).mount("#app1");
    </script>
}