@using JobHunting.ViewModel

@section Styles {
    <style>
        .form-label {
            color: steelblue;
            font-weight: bold;
        }
        a{
            text-decoration: none;
        }
    </style>
}
<div id="RegisterApp">
    <div class="row justify-content-center">
        <div class="col-md-4">
                <h2 class="text-center">會員註冊</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="text-center pb-3">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" value="candidate" v-model="role">
                        <label class="btn btn-outline-warning" for="btnradio1">求職者</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value="company" v-model="role">
                        <label class="btn btn-outline-warning" for="btnradio2">徵才者</label>
                    </div>
                </div>

                @* 求職端註冊 *@
                <template v-if="role=='candidate'">
                    <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-pill bg-danger bg-opacity-25" v-model="NationalId" aria-required="true" placeholder="身分證字號" maxlength="10" />
                        <label class="form-label" for="NationalId">身分證字號</label>
                        <span  class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control rounded-pill bg-danger bg-opacity-25" v-model="Email" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label class="form-label" for="Email">電子信箱</label>
                        <span  class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                    <input type="password" class="form-control rounded-pill bg-danger bg-opacity-25" v-model="Password" autocomplete="new-password" aria-required="true" placeholder="password" maxlength="15" />
                        <label class="form-label" for="Password">密碼</label>
                        <span  class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                    <input type="password" class="form-control rounded-pill bg-danger bg-opacity-25" v-model="ConfirmPassword" v-on:input="validateConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="ConfirmPassword" maxlength="15" />
                        <label class="form-label" for="ConfirmPassword">密碼確認</label>
                        <span class="text-danger" v-if="ConfirmPasswordError">{{ConfirmPasswordError}}</span>
                    </div>
                    <div class="text-center">
                        <button id="registerSubmit" type="submit" class="w-50 btn btn-md btn-warning rounded-pill" v-on:click="AddCandidate">註冊</button>
                    </div>
                <div class="d-flex justify-content-between" style="">
                    <div><a class="" asp-controller="Home" asp-action="Login">已有會員?登入</a></div>
                    <div><a class="" asp-controller="Home" asp-action="ResendVerificationLetter">重新發送驗證信件</a></div>
                </div>
                    
                

                </template>
                @* 公司端註冊 *@
            <template v-else>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-pill bg-danger bg-opacity-25"
                           autocomplete="CompanyName" aria-required="true" placeholder="公司名稱" v-model="addCompanies.CompanyName" />
                    <label class="form-label">公司名稱</label>
                    <span class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control rounded-pill bg-danger bg-opacity-25"
                           autocomplete="Email" aria-required="true" placeholder="name@example.com" v-model="addCompanies.ContactEmail" />
                    <label class="form-label">電子郵件</label>
                    <span class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-pill bg-danger bg-opacity-25"
                           autocomplete="GUINumber" aria-required="true" placeholder="統一編號" v-model="addCompanies.GUINumber" maxlength="8" />
                    <label class="form-label">統一編號</label>
                    <span class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-pill bg-danger bg-opacity-25"
                           autocomplete="ContactPhone" aria-required="true" placeholder="通訊電話" v-model="addCompanies.ContactPhone" maxlength="10" />
                    <label class="form-label">通訊電話</label>
                    <span class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-pill bg-danger bg-opacity-25"
                           autocomplete="Address" aria-required="true" placeholder="通訊地址" v-model="addCompanies.Address" />
                    <label class="form-label">通訊地址</label>
                    <span class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-pill bg-danger bg-opacity-25"
                           autocomplete="ContactName" aria-required="true" placeholder="聯絡人" v-model="addCompanies.ContactName" />
                    <label class="form-label">聯絡人</label>
                    <span class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control rounded-pill bg-danger bg-opacity-25"
                           autocomplete="current-password" aria-required="true" placeholder="password" v-model="Password" v-on:input="validateConfirmPassword" maxlength="15" />
                    <label class="form-label">密碼</label>
                    <span class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control rounded-pill bg-danger bg-opacity-25" v-model="ConfirmPassword" v-on:input="validateConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="password" maxlength="15" />
                    <label class="form-label" for="ConfirmPassword">確認密碼</label>
                    <span class="text-danger" v-if="ConfirmPasswordError">{{ConfirmPasswordError}}</span>
                </div>
                <div class="text-center">
                    <button id="registerSubmit" type="submit" class="w-50 btn btn-md btn-warning rounded-pill" v-on:click="AddCompany">註冊</button>
                    <p>
                        <a asp-controller="Home" asp-action="Login">已有會員?登入</a>
                    </p>
                </div>
            </template>
                
                

        </div>
    </div>
</div>

@section Scripts {
    <script>
        function convertToFullDateTime(dateObject) {
            if (!dateObject) return null;
            return dateObject.toISOString(); // 生成完整的 ISO 日期时间格式 (YYYY-MM-DDTHH:mm:ss.sssZ)
        }; 
        let vuereg = {
            data() {
                return {
                    role: 'candidate',
                    baseAddress: "https://localhost:7169",
                    NationalId:"",
                    Email:"",
                    Password:"",
                    ConfirmPassword:"",
                    ConfirmPasswordError: "",
                    VerifyEmailYN:false,
                    RegisterTime: new Date(),
                    addCompanies:{
                        GUINumber:"",
                        CompanyName:"",
                        ContactName:"",
                        ContactPhone:"",
                        ContactEmail:"",
                        Date: new Date(),
                        Address: "",
                    },
                }
            },
            methods: {
                AddCandidate:function(){
                    let _this = this;
                    let request = {
                            // role:_this.role,
                            NationalId:_this.NationalId,
                            Email:_this.Email,
                            Password:_this.Password,
                            VerifyEmailYN:_this.VerifyEmailYN,
                            RegisterTime:convertToFullDateTime(_this.RegisterTime),
                          };
                            fetch(`${_this.baseAddress}/Home/AddCandidateRedgister`, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"  // 指定 JSON 格式
                            },
                            body: JSON.stringify(request),  // 將數據序列化為 JSON
                        }).then(res => {
                            return res.json();
                        }).then(data => {
                            if (data.success == true) {
                                alert(data.message);
                                location.reload(); // 刷新页面
                            } else if (data.success == false) {
                                alert(data.message);
                            };
                        }).catch(err => {
                            alert(JSON.stringify(err));
                        })
                },
                validateConfirmPassword:function() {
                    let _this  = this;
                    _this.ConfirmPasswordError = '';
                    if (!_this.ConfirmPassword) {
                        _this.ConfirmPasswordError = '請再次輸入密碼';
                    } else if (_this.ConfirmPassword !== _this.Password) {
                        _this.ConfirmPasswordError = '密碼與確認密碼不一致';
                    } else if (_this.ConfirmPassword == _this.Password) {
                        _this.ConfirmPasswordError = "";
                    }
              },
              AddCompany:function(){
                    let _this = this;
                    let request = {
                            // role:_this.role,
                        GUINumber: _this.addCompanies.GUINumber,
                        CompanyName: _this.addCompanies.CompanyName,
                        ContactName: _this.addCompanies.ContactName,
                        ContactPhone: _this.addCompanies.ContactPhone,
                        ContactEmail: _this.addCompanies.ContactEmail,
                        Status: _this.addCompanies.Status,
                        Date: convertToFullDateTime(_this.addCompanies.Date),
                        Address: _this.addCompanies.Address,
                        Password: _this.Password,
                          };
                        fetch(`${_this.baseAddress}/Home/AddCompanyRedgister`, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"  // 指定 JSON 格式
                            },
                            body: JSON.stringify(request),  // 將數據序列化為 JSON
                        }).then(res => {
                            return res.json();
                        }).then(data => {
                            if (data.success == true) {
                                alert(data.message);
                                location.reload(); // 刷新页面
                            } else if (data.success == false) {
                                alert(data.message);
                            };
                        }).catch(err => {
                            alert(JSON.stringify(err));
                        })
                },

            }
        };
        Vue.createApp(vuereg).mount("#RegisterApp")
    </script>
}
