@model JobHunting.ViewModel.ResumesIntroViewModel

<head>
    <link rel="icon" type="image/x-icon" href="~/resumeInrro/assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/resumeInrro/css/styles.css" rel="stylesheet" />
</head> 
<div id ="pagetop">


<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-warning fixed-top" id="sideNav" >
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Clarence Taylor</span>
            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" :src=`${baseAddress}/Company/GetPicture/${resumeId}` alt="..." /></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive" >
        <ul class="navbar-nav" >
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Awards</a></li>
        </ul>
        <button type="button" class="btn btn-primary btn-md" data-bs-toggle="modal"
                data-bs-target="#interviewMailBtn">
            面試
        </button>
            <button type="button" class="btn btn-primary btn-md" v-on:click="addFavorite">
            暫存
        </button>    
    </div>
</nav>
<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Clarence
                <span class="text-primary">Taylor</span>
            </h1>
            <div class="subheading mb-5">
                3542 Berry Street · Cheyenne Wells, CO 80810 · (317) 585-8468 ·
                <a href="mailto:name@email.com">name@email.com</a>
            </div>
            <p class="lead mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
            <div class="social-icons">
                <a class="social-icon" href="#!"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">工作經驗</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Senior Web Developer</h3>
                    <div class="subheading mb-3">Intelitec Solutions</div>
                    <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">March 2013 - Present</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Web Developer</h3>
                    <div class="subheading mb-3">Intelitec Solutions</div>
                    <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">December 2011 - March 2013</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Junior Web Designer</h3>
                    <div class="subheading mb-3">Shout! Media Productions</div>
                    <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">July 2010 - December 2011</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Web Design Intern</h3>
                    <div class="subheading mb-3">Shout! Media Productions</div>
                    <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">September 2008 - June 2010</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">學歷</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">University of Colorado Boulder</h3>
                    <div class="subheading mb-3">Bachelor of Science</div>
                    <div>Computer Science - Web Development Track</div>
                    <p>GPA: 3.23</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">August 2006 - May 2010</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">James Buchanan High School</h3>
                    <div class="subheading mb-3">Technology Magnet Program</div>
                    <p>GPA: 3.56</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">August 2002 - May 2006</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">專業技能</h2>
            <div class="subheading mb-3">Programming Languages & Tools</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                <li class="list-inline-item"><i class="fab fa-react"></i></li>
                <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                <li class="list-inline-item"><i class="fab fa-sass"></i></li>
                <li class="list-inline-item"><i class="fab fa-less"></i></li>
                <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
                <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
                <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
                <li class="list-inline-item"><i class="fab fa-npm"></i></li>
            </ul>
            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Mobile-First, Responsive Design
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Cross Browser Testing & Debugging
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Cross Functional Teams
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Agile Development & Scrum
                </li>
            </ul>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Awards-->
    <section class="resume-section" id="awards">
        <div class="resume-section-content">
            <h2 class="mb-5">證書與獎項</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Google Analytics Certified Developer
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Mobile Web Specialist - Google Certification
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    1
                    <sup>st</sup>
                    Place - University of Colorado Boulder - Emerging Tech Competition 2009
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    1
                    <sup>st</sup>
                    Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    2
                    <sup>nd</sup>
                    Place - University of Colorado Boulder - Emerging Tech Competition 2008
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    1
                    <sup>st</sup>
                    Place - James Buchanan High School - Hackathon 2006
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    3
                    <sup>rd</sup>
                    Place - James Buchanan High School - Hackathon 2005
                </li>
            </ul>
        </div>
    </section>
</div>
    @* 發送面試通知 *@
    <div class="modal fade" id="interviewMailBtn" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
         aria-labelledby="modalTitleId " aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h3 class="CompanyNameh3 text-center" style="width:95%">面試通知</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container bg-light" style="border-radius: 30px;width: 100%;">
                        <div class="inputOutAreas">
                            <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                <label for=" inputCompanyName" class="col-sm-2 col-form-label labelDate">選擇職缺：</label>
                                <select v-model="openingId">
                                    <option v-for="(item,index) in openings" :key="item.openingId" :value="item.openingId">{{item.title}}</option>
                                </select>
                            </div>
                            <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                <label for=" inputCompanyName" class="col-sm-2 col-form-label labelDate">日期：</label>
                                <input type="date" class="form-control inputDate" v-model="date">
                            </div>
                            <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                <label for=" inputCompanyName" class="col-sm-2 col-form-label labelTime">時間：</label>
                                <input type="time" class="form-control inputTime" v-model="time">
                            </div>
                            <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                <label for=" inputCompanyName" class="col-sm-2 col-form-label labelPlace">地點：</label>
                                <input type="text" class="form-control inputPlace" v-model="address">
                            </div>
                            <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                <label for=" inputCompanyName" class="col-sm-2 col-form-label labelText">主旨﹕</label>
                                <input type="text" class="form-control inputSubjectLine" v-model="subjectLine">
                            </div>
                            <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                                <label for=" inputCompanyName" class="col-sm-2 col-form-label labelText">訊息﹕</label>
                                <textarea class="form-control " style="height:150px" name="錄用通知訊息" v-model="content"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-warning">
                    <button type="submit" class="btn btn-outline-secondary" v-on:click="sendLetter()">發送</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.4/axios.min.js" integrity="sha512-6VJrgykcg/InSIutW2biLwA1Wyq+7bZmMivHw19fI+ycW0jIjsadm8wKQQLlfv3YUS4owfMDlZU38NtaAK6fSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script> https://unpkg.com/vue-router@4.0.15/dist/vue-router.global.js</script>
        <script>
            let vueList = {
                data() {
                    return {
                        resumeId : "@Html.DisplayFor(model => model.ResumeId)",
                        candidateId: "@Html.DisplayFor(model => model.CandidateId)",
                        companyId:2,
                        openings: [],
                        openingId:"",
                        date:"",
                        time:"",
                        address:"",
                        subjectLine:"",
                        content: "",
                        baseAddress: "https://localhost:7169",
                    };
                },
                methods: {
                    convertTimeOnly(timeString) {
                        if (!timeString) return null; 
                        const [hours, minutes] = timeString.split(':');
                        if (!hours || !minutes) return null; 
                        const date = new Date();
                        date.setHours(hours, minutes);
                        return date.toTimeString().split(' ')[0]; 
                    },
                    sendLetter(){
                        let self = this;
                        let request = {
                            ResumeId:self.resumeId,
                            CandidateId:self.candidateId,
                            CompanyId:self.companyId,
                            OpeningId:self.openingId,
                            AppointmentDate: self.date,
                            AppointmentTime: "",
                            Status:"面試邀請",
                            Address:self.address,
                            SubjectLine:self.subjectLine,
                            Content: self.content,
                        };
                        request.AppointmentTime = self.convertTimeOnly(self.time);
                        axios.post(`${self.baseAddress}/Company/AddInterview`,request, {
                            headers: { 'Content-Type': 'application/json' },
                        }).then(res => {
                            alert(res.data)
                        }).catch(error => {
                            console.error(error);
                        })
                    },
                    addFavorite(){
                        let self = this;
                        request = {
                            compnyId: self.companyId,
                            resumeId: self.resumeId
                        };
                        axios.post(`${self.baseAddress}/Company/AddInterview`, request, {
                        headers: { 'Content-Type': 'application/json' },
                        }).then(res => {
                            alert(res.data)
                        }).catch(error => {
                            console.error(error);
                        })
                    },
                    getOpenings() {
                        let self = this;
                        axios.get(`${self.baseAddress}/Company/GetOpenings/${self.companyId}`,{
                            headers: { 'Content-Type': 'application/json' },
                        }).then(res => {
                            self.openings = res.data;
                        }).catch(error => {
                            console.error(error);
                        })
                    },
                },
                mounted() {
                    this.getOpenings();
                },
            };
            let app3 = Vue.createApp(vueList).mount("#pagetop")
        </script>
}
