@section Styles {
    <style>
        .form-label {
            color: steelblue;
            font-weight: bold;
        }
    </style>
}

@* <div class="mb-3">
    <button type="button"
            data-bs-toggle="modal"
            data-bs-target="#modalId"
            class="btn btn-warning">
        登入
    </button>
</div> *@
<div class="modal fade scrollbar"
     id="Login"
     tabindex="-1"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     role="dialog"
     aria-labelledby="modalTitleId"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg"
         role="document">
        <div class="modal-content col-md-4">
            <div class="modal-header" style="background-color: #f7d179;">
                <h5 class="modal-title text-center" id="modalTitleId" style="width:95% ;">
                    來到小鴨，馬上上工
                </h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        style="width:5% ;">
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <h2 class="text-center">會員登入</h2>
                        <section>
                            <form id="account" method="post">
                                <hr />
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="text-center pb-3">
                                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                                        <label class="btn btn-outline-warning" for="btnradio1">求職者</label>

                                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
                                        <label class="btn btn-outline-warning" for="btnradio2">徵才者</label>
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input id="Input.GUINumber" name="Input.GUINumber" class="form-control rounded-pill bg-danger bg-opacity-25"
                                           autocomplete="GUINumber" aria-required="true" placeholder="統一編號" />
                                    <label id="Input.GUINumber" name="Input.GUINumber" class="form-label">統一編號</label>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.GUINumber" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input id="Input.Password" name="Input.Password" class="form-control rounded-pill bg-danger bg-opacity-25"
                                           autocomplete="current-password" aria-required="true" placeholder="password" />
                                    <label id="Input.Password" name="Input.Password" class="form-label">密碼</label>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.GUINumber" data-valmsg-replace="true"></span>
                                </div>
                                <div class="text-center">
                                    <button id="login-submit" type="submit"
                                            class="w-50 btn btn-md btn-warning rounded-pill py-2">
                                        登入
                                    </button><br />
                                    <p>
                                        <a id="registerSubmit" class="mr-auto" href="#" data-bs-dismiss="modal" data-bs-toggle="modal"
                                           data-bs-target="#Register">註冊會員</a>
                                    </p>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="modal fade scrollbar"
     id="Register"
     tabindex="-1"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     role="dialog"
     aria-labelledby="modalTitleId"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg"
         role="document">
        <div class="modal-content col-md-4">
            <div class="modal-header" style="background-color: #f7d179;">
                <h5 class="modal-title text-center" id="modalTitleId" style="width:95% ;">
                    來到小鴨，馬上上工
                </h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        style="width:5% ;">
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <h2 class="text-center">註冊公司資料</h2>
                        <section>
                            <form id="account" method="post">
                                <hr />
                                <div class="text-center pb-3">
                                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">

                                        <label class="btn btn-outline-warning" for="btnradio1">求職者</label>

                                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
                                               checked>
                                        <label class="btn btn-outline-warning" for="btnradio2">徵才者</label>
                                    </div>
                                </div>
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-floating mb-3">
                                    <input id="Input.CompanyID" name="Input.CompanyID" class="form-control rounded-pill bg-danger bg-opacity-25"
                                           autocomplete="CompanyID" aria-required="true" placeholder="公司名稱" />
                                    <label id="Input.CompanyID" name="Input.CompanyID" class="form-label">公司名稱</label>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.CompanyID" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input id="Input.Email" name="Input.Email" class="form-control rounded-pill bg-danger bg-opacity-25"
                                           autocomplete="Email" aria-required="true" placeholder="name@example.com" />
                                    <label id="Input.Email" name="Input.Email" class="form-label">電子郵件</label>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.Email" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input id="Input.GUINumber" name="Input.GUINumber" class="form-control rounded-pill bg-danger bg-opacity-25"
                                           autocomplete="GUINumber" aria-required="true" placeholder="統一編號" />
                                    <label id="Input.GUINumber" name="Input.GUINumber" class="form-label">統一編號</label>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.GUINumber" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input id="Input.ContactPhone" name="Input.ContactPhone" class="form-control rounded-pill bg-danger bg-opacity-25"
                                           autocomplete="ContactPhone" aria-required="true" placeholder="通訊電話" />
                                    <label id="Input.ContactPhone" name="Input.ContactPhone" class="form-label">通訊電話</label>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.ContactPhone" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input id="Input.Address" name="Input.Address" class="form-control rounded-pill bg-danger bg-opacity-25"
                                           autocomplete="Address" aria-required="true" placeholder="通訊地址" />
                                    <label id="Input.Address" name="Input.Address" class="form-label">通訊地址</label>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.Address" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input id="Input.ContactName" name="Input.ContactName" class="form-control rounded-pill bg-danger bg-opacity-25"
                                           autocomplete="ContactName" aria-required="true" placeholder="聯絡人" />
                                    <label id="Input.ContactName" name="Input.ContactName" class="form-label">聯絡人</label>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.ContactName" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input id="Input.password" name="Input.password" class="form-control rounded-pill bg-danger bg-opacity-25"
                                           autocomplete="current-password" aria-required="true" placeholder="password" />
                                    <label id="Input.password" name="Input.password" class="form-label">密碼</label>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.password" data-valmsg-replace="true"></span>
                                </div>
                                <div class="text-center">
                                    <button id="login-submit" type="submit"
                                            class="w-50 btn btn-md btn-warning rounded-pill py-2">
                                        註冊
                                    </button><br />
                                    <p>
                                        <a class="mr-auto" href="#" data-bs-dismiss="modal" data-bs-toggle="modal"
                                           data-bs-target="#Login">已有會員?登入</a>
                                    </p>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<a class="btn btn-warning m-4" data-bs-toggle="modal" href="#Login" role="button">
    登入
</a>
