    <div class="container py-2">
        <div class="col-lg">
            <div class="card mb-1">
                <div class="card-body">
                    <h1 class="card-title">公司名稱</h1>
                    <p class="card-text">公司簡介sdjfjsadijfailgasjfoisjgiujfkmdsijkdjgmdsjgk</p>
                    <p class="card-text"><small class="text-muted">成立於1920年</small></p>

                    <div class="card text-white col-lg-11 align-self-center">
                        <img src="~/images/memelovetriangle_297886754.jpg" style="height: 200px"/>
                    </div>
                </div>
            </div>
        </div>

            <div class="col-lg">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">統一編號</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">748937464
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">地址</p>
                            </div>
                            <div class="col-sm-9">
                        <p class="text-muted mb-0">100 台北市 中正區 重慶南路一段 122號</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">聯絡人姓名</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">佩佩蛙</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                            <p class="mb-0">聯絡人電話</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">0987-654-321</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">聯絡人信箱</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">example@exam.com</p>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4 mb-md-0 h-100">
                    <div class="card-body">
                        <button type="button" class="mb-4 astext" v-on:click="function(){pageStatus=3}">
                            <h4>
                                <span class="text-primary font-italic me-1">我的</span>職缺
                            </h4>
                        </button>
                        <div class="row row-cols-1 row-cols-md-1 g-4">
                            <div class="col">
                                <div class="card overcard">
                                    <div class="card-body">
                                        <h5 class="card-title">職缺名稱</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card overcard">
                                    <div class="card-body">
                                        <h5 class="card-title">職缺名稱</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card overcard">
                                    <div class="card-body">
                                        <h5 class="card-title">職缺名稱</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card overcard">
                                    <div class="card-body">
                                        <h5 class="card-title">職缺名稱</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4 mb-md-0 h-100">
                    <div class="card-body">
                        <button type="button" class="mb-4 astext" v-on:click="function(){pageStatus=4}">
                            <h4>
                                <span class="text-primary font-italic me-1">收藏</span>履歷
                            </h4>
                        </button>
                        <div class="row row-cols-1 row-cols-md-1 g-4">
                            <div class="col">
                                <div class="card overcard">
                                    <div class="card-body">
                                        <h5 class="card-title">履歷名稱</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card overcard">
                                    <div class="card-body">
                                        <h5 class="card-title">履歷名稱</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card overcard">
                                    <div class="card-body">
                                        <h5 class="card-title">履歷名稱</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card overcard">
                                    <div class="card-body">
                                        <h5 class="card-title">履歷名稱</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


