

<div class="container text-center bg-light mt-3 " style="border-radius: 30px;">
    <div class="inputOutAreas align-items-center pt-3">
        <h3 class="CompanyNameh3">公司資料</h3>
        <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
            <label for=" inputCompanyName" class="col-sm-2 col-form-label labelCompanyName">
                公司名稱<span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control inputCompanyName col">
            <button class="btn btn-outline-secondary">編輯</button>
        </div>
        <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
            <label for=" inputCompanyName" class="col-sm-2 col-form-label labelCompanyName">
                電子郵件<span class="text-danger">*</span>
            </label>
            <input type="email" class="form-control inputCompanyName col">
            <button class="btn btn-outline-secondary">編輯</button>
        </div>
        <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
            <label for=" inputCompanyName" class="col-sm-2 col-form-label labelCompanyName">
                統一編號<span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control inputCompanyName col">
            <button class="btn btn-outline-secondary">編輯</button>
        </div>
        <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
            <label for=" inputCompanyName" class="col-sm-2 col-form-label labelCompanyName">
                通訊電話<span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control inputCompanyName col">
            <button class="btn btn-outline-secondary">編輯</button>
        </div>
        <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
            <label for=" inputCompanyName" class="col-sm-2 col-form-label labelCompanyName">
                通訊地址<span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control inputCompanyName col">
            <button class="btn btn-outline-secondary">編輯</button>
        </div>
        <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
            <label for=" inputCompanyName" class="col-sm-2 col-form-label labelCompanyName">
                聯絡人<span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control inputCompanyName col">
            <button class="btn btn-outline-secondary">編輯</button>
        </div>
        <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
            <label for=" inputCompanyName" class="col-sm-2 col-form-label labelCompanyName">
                密碼<span class="text-danger">*</span>
            </label>
            <input type="password" class="form-control inputCompanyName col">
            <button class="btn btn-outline-secondary">編輯</button>
        </div>
    </div>
</div>