@section Styles {
    <style>
        .card-title {
            font-size: 20px;
        }
    </style>
}

<div class="selectbutton align-self-center py-2">
    <button type="button" class="btn btn-outline-danger btn-md">面試邀約</button>
    <button type="button" class="btn btn-outline-danger btn-md">結果通知</button>
    <button type="button" class="btn btn-outline-danger btn-md">意見信件</button>
</div>
<div class="container-fluid py-1">
    <div class="letters row">
        <div class="col-md-3 mb-4">
            <div class="card rounded-5" style="width: 15rem; height: 15rem;">
                <div class="card-body">
                    <h2 class="text-center">新增<br />職缺</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card rounded-5" style="width: 15rem; height: 15rem;">
                <div class="card-body">
                    <div class="text-center">
                        <span class="card-title mb-3 ms-5">職缺名稱</span>
                        <button type="button" class="btn-close ms-5" disabled aria-label="Close"></button>
                    </div>
                    <p class="card-subtitle text-body-secondary mt-2"><i class="fa-solid fa-caret-right"></i> 時間 :</p>
                    <span class="card-text"><i class="fa-solid fa-caret-right"></i> 收件人 :</span>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 內容 :</p>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 回覆狀態 :</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-info">查看</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card rounded-5" style="width: 15rem; height: 15rem;">
                <div class="card-body">
                    <div class="text-center">
                        <span class="card-title mb-3 ms-5">職缺名稱</span>
                        <button type="button" class="btn-close ms-5" disabled aria-label="Close"></button>
                    </div>
                    <p class="card-subtitle text-body-secondary mt-2"><i class="fa-solid fa-caret-right"></i> 時間 :</p>
                    <span class="card-text"><i class="fa-solid fa-caret-right"></i> 收件人 :</span>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 內容 :</p>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 回覆狀態 :</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-info">查看</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card rounded-5" style="width: 15rem; height: 15rem;">
                <div class="card-body">
                    <div class="text-center">
                        <span class="card-title mb-3 ms-5">信件標題</span>
                        <button type="button" class="btn-close ms-5" disabled aria-label="Close"></button>
                    </div>
                    <p class="card-subtitle text-body-secondary mt-2"><i class="fa-solid fa-caret-right"></i> 類別 :</p>
                    <span class="card-text"><i class="fa-solid fa-caret-right"></i> 寄件人 :</span>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 內容 :</p>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 處理狀態 :</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-info">查看</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card rounded-5" style="width: 15rem; height: 15rem;">
                <div class="card-body">
                    <div class="text-center">
                        <span class="card-title mb-3 ms-5">信件標題</span>
                        <button type="button" class="btn-close ms-5" disabled aria-label="Close"></button>
                    </div>
                    <p class="card-subtitle text-body-secondary mt-2"><i class="fa-solid fa-caret-right"></i> 類別 :</p>
                    <span class="card-text"><i class="fa-solid fa-caret-right"></i> 寄件人 :</span>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 內容 :</p>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 處理狀態 :</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-info">查看</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card rounded-5" style="width: 15rem; height: 15rem;">
                <div class="card-body">
                    <div class="text-center">
                        <span class="card-title mb-3 ms-5">信件標題</span>
                        <button type="button" class="btn-close ms-5" disabled aria-label="Close"></button>
                    </div>
                    <p class="card-subtitle text-body-secondary mt-2"><i class="fa-solid fa-caret-right"></i> 類別 :</p>
                    <span class="card-text"><i class="fa-solid fa-caret-right"></i> 寄件人 :</span>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 內容 :</p>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 處理狀態 :</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-info">查看</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card rounded-5" style="width: 15rem; height: 15rem;">
                <div class="card-body">
                    <div class="text-center">
                        <span class="card-title mb-3 ms-5">信件標題</span>
                        <button type="button" class="btn-close ms-5" disabled aria-label="Close"></button>
                    </div>
                    <p class="card-subtitle text-body-secondary mt-2"><i class="fa-solid fa-caret-right"></i> 類別 :</p>
                    <span class="card-text"><i class="fa-solid fa-caret-right"></i> 寄件人 :</span>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 內容 :</p>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 處理狀態 :</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-info">查看</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card rounded-5" style="width: 15rem; height: 15rem;">
                <div class="card-body">
                    <div class="text-center">
                        <span class="card-title mb-3 ms-5">信件標題</span>
                        <button type="button" class="btn-close ms-5" disabled aria-label="Close"></button>
                    </div>
                    <p class="card-subtitle text-body-secondary mt-2"><i class="fa-solid fa-caret-right"></i> 類別 :</p>
                    <span class="card-text"><i class="fa-solid fa-caret-right"></i> 寄件人 :</span>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 內容 :</p>
                    <p class="card-text"><i class="fa-solid fa-caret-right"></i> 處理狀態 :</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-info">查看</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>