@* 意見信件modalByn *@
<button type="button" class="btn btn-primary btn-md" data-bs-toggle="modal"
        data-bs-target="#modalId">
    意見信件
</button>

@* 意見信件modal *@

<div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
     aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning ">
                <h3 class="CompanyNameh3 text-center " style="width:95%">意見信件</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container bg-light" style="border-radius: 30px;">
                    <div class="inputOutAreas" style="width:95%">
                        
                        <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around" >
                            <label for=" inputCompanyName" class="col-sm-2 col-form-label">客服類別</label>
                            <select class="form-control">
                                    <option value="value">網站使用問題</option>
                                    <option value="value">申訴/檢舉公司</option>
                                    <option value="value">建議</option>
                            </select>
                        </div>
                        <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                            <label for=" inputCompanyName" class="col-sm-2 col-form-label ">主旨</label>
                            <input type="text" class="form-control ">
                        </div>
                        <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                            <label for=" inputCompanyName" class="col-sm-2 col-form-label ">夾帶檔案</label>
                            <input type="file" class="form-control ">
                        </div>

                        <div class="d-sm-flex my-1 py-3 inputAreas justify-content-around">
                            <label for=" inputCompanyName" class="col-sm-2 col-form-label labelText">訊息﹕</label>
                            <textarea class="form-control"style="height:150px" name="意見信件訊息"></textarea>
                        </div>
                        
                    </div>
                    <div class="text-center pb-3 "><label class="fw-bold">目前處理狀態 : 處理中/已處理</label></div>
                </div>
            </div>
            
        </div>
    </div>
</div>