@using JobHunting.Areas.Companies.ViewModel
@using JobHunting.Areas.Companies.Models;
@model IEnumerable<JobHunting.Areas.Companies.ViewModel.ReceiveResumeViewModel>

<div class="col-10 mx-auto  mt-4">
    <div class="row">
        <div class="col-5">
            <select class="mt-1" style="width:40%">
                <option value="">-----請選擇-----</option>
                <option value="">職缺類別</option>
                <option value="">職缺名稱</option>
            </select>
            <select class="mt-1 d-inline" style="width:60%">
                <option value="">-----請選擇-----</option>
                <option value="">前端工程師</option>
                <option value="">緯育美術班-前端工程師</option>
            </select>
        </div>
        <div class="col-7">
            <h3 class="text-right" style="">應徵履歷</h3>
        </div>
    </div>
</div>


<div class="container tableOutside ">
    <table class="table table-striped" id="ChangePage" style="text-align: center">
        <thead class="table-warning">
            <tr>
                <th class="col">應徵日期</th>
                <th class="col">職缺類別</th>
                <th class="col">職缺名稱</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.ApplyDate</th>
                    <td>@item.Title</td>
                    <td>@item.TitleClassName</td>
                    <td><partial name="_ResumeBtnModal"></td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination ">
            <li class="page-item me-auto"><a class="page-link" href="#">上一頁</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item ms-auto"><a class="page-link" href="#">下一頁</a></li>
        </ul>
    </nav>
</div>
