@section Styles {
    <style>
        .card-title {
            font-size: 20px;
        }
    </style>
}





<div v-if="ResumeStatus == 1">
    <partial name="_ResumeStorage" />
</div>
<div v-else>
    <partial name="_ReceiveResume" />
</div>
