<p>
    <label>
        <button class="btn btn-outline-primary " type="button" data-bs-toggle="collapse" data-bs-target="#TagsCollapse" aria-expanded="false" aria-controls="TagsCollapse">能力標籤</button>
        check: {{TagCheckedResume}}<label><span class="badge bg-primary" v-for="item in "></span></label>
    </label>
</p>
<div class="collapse" id="TagsCollapse">
    <div class="card card-body">
        <template v-for="(item,index) in TagClasses">
            <button class="astext overcard" type="button" data-bs-toggle="collapse" v-bind:data-bs-target="ReturnhashtagID(item)" aria-expanded="false" v-bind:aria-controls="item.TagClass">{{item.TagClass}}</button>
            <div class="collapse" v-bind:id="item.TagClass">
                <div>
                    <template class="px-2" v-for="Tag in filterTagClass(item.TagClassID)">
                        <input type="checkbox" v-bind:id="changeTagNameTo(Tag.TagName)" v-bind:value="Tag.TagID" v-model="TagCheckedResume" />
                        <label v-bind:for="changeTagNameTo(Tag.TagName)">{{Tag.TagName}}</label>
                    </template>
                </div>
            </div>
            <hr />
        </template>
    </div>
</div>