

@{
    ViewData["Title"] = "會員中心";
}

@section Styles
{

}

<div id="indexApp">
    <div class="container py-2">
        <div class="col-lg">
            <div class="card mb-1">
                <div class="card-body">
                    <h1 class="card-title">{{CompanyMemberData.companyName}}</h1>
                    <p class="card-text">公司簡介 : {{CompanyMemberData.intro}}</p>
                    <p class="card-text"><small class="text-muted">成立於1920年</small></p>

                    <div class="card text-white col-lg-11 align-self-center">
                        <img class="card-img-top img-fluid "
                             :src=`${baseAddress}/Companies/Home/GetPicture/${CompanyMemberData.companyId}`
                             style="height:240px" />
                        @* <img src="~/images/memelovetriangle_297886754.jpg" style="height: 200px" /> *@
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg">
            <div class="card mb-1">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">統一編號</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{CompanyMemberData.guiNumber}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">地址</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{CompanyMemberData.address}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">聯絡人姓名</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{CompanyMemberData.contactName}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">聯絡人電話</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{CompanyMemberData.contactPhone}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">聯絡人信箱</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{CompanyMemberData.contactEmail}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-4 mb-md-0 h-100">
                        <div class="card-body">
                            <div class="mb-3">
                                <span class="text-primary font-italic me-1" style="font-size:20px">我的</span>
                                <a class="astext" style="font-size:1.25rem; font-weight:bold; text-decoration:none" asp-area="Companies" asp-controller="Openings" asp-action="Index">
                                    職缺
                                </a>
                            </div>
                            <div class="row row-cols-1 row-cols-md-1 g-4">
                                <template v-for="Opening in CompanyOpenings">
                                    <div class="col">
                                        <div class="card overcard">
                                            <div class="card-body">
                                                <h5 class="card-title">{{Opening.title}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-4 mb-md-0 h-100">
                        <div class="card-body">
                            <div class="mb-3">
                                <span class="text-primary font-italic me-1" style="font-size:20px">收藏</span>
                                <a class="astext" style="font-size:1.25rem; font-weight:bold; text-decoration:none" asp-area="Companies" asp-controller="C_Resume" asp-action="ResumeStorageList">
                                    履歷
                                </a>
                            </div>
                            <div class="row row-cols-1 row-cols-md-1 g-4">
                                <template v-for="Resume in CompanyResumesLikeRecords">
                                    <div class="col">
                                        <div class="card overcard">
                                            <div class="card-body">
                                                <h5 class="card-title">{{Resume.title}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let VueApp = {
            data() {
                return {
                    //baseAddress: "https://duckjobhunting.azurewebsites.net",
                    baseAddress: "https://localhost:7169",
                    CompanyMemberData: {},
                    CompanyOpenings: [],
                    CompanyResumesLikeRecords: [],
                };
            },
            methods: {
                getCompanyMemberData: function () {
                    axios.post(`${this.baseAddress}/Companies/Home/GetCompanyMemberData`, {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(response => this.CompanyMemberData = response.data)
                        .catch(err => alert(err));
                },

                getCompanyOpenings: function () {
                    axios.post(`${this.baseAddress}/Companies/Home/GetCompanyOpenings`, {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(response => this.CompanyOpenings = response.data)
                        .catch(err => alert(err));
                },
                getCompanyResumesLikeRecords: function () {
                    axios.post(`${this.baseAddress}/Companies/Home/GetCompanyResumeLikeRecords`, {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(response => this.CompanyResumesLikeRecords = response.data)
                        .catch(err => alert(err));
                },
            },
            mounted: function () {
                this.getCompanyMemberData();
                this.getCompanyOpenings();
                this.getCompanyResumesLikeRecords();
            },
        };

        let app = Vue.createApp(VueApp).mount("#indexApp");

    </script>

}


