@model IEnumerable<JobHunting.Areas.Candidates.Models.Candidate>

@{
    ViewData["Title"] = "會員中心";
}

@section Styles
{
    <style>
        .astext {
            background: none;
            border: none;
            margin: 0;
            cursor: pointer;
        }
    </style>
}

<div class="sb-nav-fixed" id="app">
    @* 上方導覽列 *@
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-warning">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" role="button"><i class="fa-regular fa-building" style="color: #ffffff;"></i>     會員帳號</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle"><i class="fas fa-bars"></i></button>
        <!-- Navbar Return-->
        <div class="d-none d-md-inline-block form-inline mx-auto ">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" style="color:lightgray;"><h3>小鴨上工</h3></a>
        </div>
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="mx-2"><a class="nav-link" role="button" asp-area="" asp-controller="Home" asp-action="Index">返回首頁</a></li>
            <li class="mx-2"><a class="nav-link" role="button">登出</a></li>
        </ul>
    </nav>

    @* 左側導覽列 *@
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <!-- left-Navbar-->
            <nav class="sb-sidenav sb-sidenav-warning" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
@*                         <div class="sb-sidenav-menu-heading">會員中心</div> *@
                        <button type="button" class="nav-link astext" v-on:click="function(){pageStatus=0}"><h4>會員首頁</h4></button>
                        <nav class="sb-sidenav-menu-nested nav">
                            <button type="button" class="nav-link astext" v-on:click="function(){pageStatus=1}">會員資料</button>
                        </nav>
                        <nav class="sb-sidenav-menu-nested nav">
                            <button type="button" class="nav-link astext" v-on:click="function(){pageStatus=2}">公司介紹</button>
                        </nav>
                        <nav class="sb-sidenav-menu-nested nav">
                            <button type="button" class="nav-link astext" v-on:click="function(){pageStatus=3}">職缺刊登</button>
                        </nav>
                        <nav class="sb-sidenav-menu-nested nav">
                            <button type="button" class="nav-link collapsed astext" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts" v-on:click="function(){pageStatus=4}">
                                履歷瀏覽
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </button>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <button type="button" class="nav-link astext" v-on:click="function(){pageStatus=4;ResumeStatus = 1;}">履歷暫存</button>
                                </nav>
                                <nav class="sb-sidenav-menu-nested nav">
                                    <button type="button" class="nav-link astext" v-on:click="function(){pageStatus=4;ResumeStatus = 2;}">面試邀約</button>
                                </nav>
                                <nav class="sb-sidenav-menu-nested nav">
                                    <button type="button" class="nav-link astext" v-on:click="function(){pageStatus=4;ResumeStatus = 3;}">已獲錄取</button>
                                </nav>
                            </div>
                        </nav>
                        <nav class="sb-sidenav-menu-nested nav">
                            <button type="button" class="nav-link collapsed astext" data-bs-toggle="collapse" data-bs-target="#collapseMessage" aria-expanded="false" aria-controls="collapseLayouts" v-on:click="function(){pageStatus=5}">
                                訊息總覽
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </button>
                            <div class="collapse" id="collapseMessage" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <button type="button" class="nav-link astext" v-on:click="function(){pageStatus=5;MessageStatus = 1;}">應徵訊息</button>
                                </nav>
                                <nav class="sb-sidenav-menu-nested nav">
                                    <button type="button" class="nav-link astext" v-on:click="function(){pageStatus=5;MessageStatus = 2;}">意見訊息</button>
                                </nav>
                            </div>
                        </nav>
                        <nav class="sb-sidenav-menu-nested nav">
                            <button type="button" class="nav-link astext" v-on:click="function(){pageStatus=6}">方案選擇</button>
                        </nav>
                    </div>
                </div>
                @* <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    公司帳號
                </div> *@
            </nav>
        </div>

        @* 求職者會員中心內容 *@
        <div id="layoutSidenav_content">
            <template v-if="pageStatus == 0">
                <partial name="_Home" />
            </template>
            <template v-if="pageStatus == 1">
                <partial name="_Member" />
            </template>
            <template v-else-if="pageStatus == 2">
                <partial name="_Intro" />
            </template>
            <template v-else-if="pageStatus == 3">
                <partial name="_Opening" />
            </template>
            <template v-else-if="pageStatus == 4">
                <partial name="_Resume" />
            </template>
            <template v-else-if="pageStatus == 5">
                <partial name="_Message" />
            </template>
            <template v-else>
                <partial name="_PricingPlans" />
            </template>
        </div>

    </div>
</div>

@section Scripts
{
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let VueApp = {
            data() {
                return {
                    pageStatus: 0,
                    ResumeStatus: 1,
                    MessageStatus: 1,
                };
            },
            methods:{

            },
        };

        let app = Vue.createApp(VueApp).mount("#app");
    </script>
}
    

