@{
    ViewData["Title"] = "會員中心";
}
@section Styles {
    <style>
        .card-title {
            font-size: 20px;
        }
    </style>
}





<div v-if="MessageStatus == 1">
    <partial name="_Notifications" />
</div>
<div v-else>
    <partial name="_OpinionLetters" />
</div>


