@{
    ViewData["Title"] = "取號完成";

    NewebPayTakeNumberTradeInfoViewModel? result = ViewData["CallbackTakeNumberReturnResult"] as NewebPayTakeNumberTradeInfoViewModel;
}

<div style="height: 70vh;" id="CallbackTakeNumberReturnResultVue" v-cloak>
    <div class="contentCallback">
        <h3>藍新金流交易序號: {{result.tradeNo}}</h3>
        <h3>訂單編號: {{result.merchantOrderNo}}</h3>
        <h3>金額: {{result.amt}}</h3>
        <template v-if="result.paymentType == 'CVS'">
             <h3>繳費截止時間: {{result.expireDate}} {{result.expireTime}}</h3>
        </template>
        <template v-else>
            <h3>繳費截止日期: {{result.expireDate}}</h3>
        </template>
        <h3>支付方式: {{PaymentTypeText()}}</h3>
        <template v-if="result.paymentType == 'VACC'">
            <h3>金融機構代碼: {{result.bankCode}}</h3>
            <h3>繳費代碼: {{result.aTMCodeNo}}</h3>
        </template>
        <template v-if="result.paymentType == 'CVS'">
            <h3>繳費代碼: {{result.codeNo}}</h3>
        </template>
        @* <template v-if="result.paymentType == 'BARCODE'">
            <h3>第一段條碼: {{result.barcode_1}}</h3>
            <img v-bind:src="textToBase64Barcode(result.Barcode_1)" v-bind:alt="result.Barcode_1" />
            <h3>第二段條碼: {{result.barcode_2}}</h3>
            <img v-bind:src="textToBase64Barcode(result.Barcode_2)" v-bind:alt="result.Barcode_2" />
            <h3>第三段條碼: {{result.barcode_3}}</h3>
            <img v-bind:src="textToBase64Barcode(result.Barcode_3)" v-bind:alt="result.Barcode_3" />
        </template> *@
    </div>
</div>

@section Scripts
{
    <script>
        let TakeNumberReturnVueApp = {
            data() {
                return {
                    result: JSON.parse('@Html.Raw(Json.Serialize(ViewData["CallbackTakeNumberReturnResult"]))'),
                };
            },
            methods: {
                textToBase64Barcode: function (text) {
                    var canvas = document.createElement("canvas");
                    JsBarcode(canvas, text, { format: "CODE39" });
                    return canvas.toDataURL("image/png");
                },
                PaymentTypeText: function(){
                    switch(this.result.paymentType){
                        case 'VACC':
                            return "ATM轉帳";
                        case 'CVS':
                            return "超商代碼繳費";
                        case 'BARCODE':
                            return "超商條碼繳費";
                    }
                }
            },
        };
        let appTakeNumberReturn = Vue.createApp(TakeNumberReturnVueApp).mount("#CallbackTakeNumberReturnResultVue");
    </script>
}