@{
    ViewData["Title"] = "付款完成";

    NewebPayReturnTradeInfoOutViewModel? resultOut = ViewData["CallbackReturnResult"] as NewebPayReturnTradeInfoOutViewModel;
}

<div style="height: 70vh;">
    <div class="contentCallback">
        <h1>付款完成</h1>
        <h3>訂單編號: @resultOut.MerchantOrderNo</h3>
        <h3>金額: @resultOut.Amt</h3>
        <h3>付款時間: @resultOut.PayTime</h3>
    </div>
</div>