@{
    ViewData["Title"] = "付款完成";

    NewebPayReturnTradeInfoViewModel? result = ViewData["CallbackReturnResult"] as NewebPayReturnTradeInfoViewModel;
}

<div style="height: 70vh;">
    <div class="contentCallback">
        <h1>付款完成</h1>
        <h3>訂單編號: @result.MerchantOrderNo</h3>
        <h3>金額: @result.Amt</h3>
        <h3>付款時間: @result.PayTime</h3>
    </div>
</div>