@section Styles
{

}


<div class="container py-2">
    <div class="card mb-4">
        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="row"></th>
                    <th>公司名稱</th>
                    <th>統一編號</th>
                    <th>審核狀態</th>
                    <th>審核日期</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="CandidateOpeningRecords">
                <tr class="overcard">
                    <th scope="row">item.id</th>
                    <td >hihi</td>
                    <td>item.jobName</td>
                    <td>item.resume</td>
                    <td>item.data</td>
                    <td><button>審核</button></td>
                </tr>
            </tbody>
        </table>
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

@section Scripts
{

}