<!-- Button trigger modal -->
<div class="text-center">
    <button type="button" data-bs-toggle="modal" data-bs-target="#modalId" class="btn btn-primary">
        編輯方案
    </button>
</div>


<!-- Modal -->
<div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
     aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">
                    編輯方案
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row  justify-content-center align-items-center">
                    <div class="col-md-11">
                        <div class="card mb-4 mb-md-0 h-100">
                            <div class="card-body" style="background-color:blanchedalmond">
                                <h4 align="center">方案選擇</h4>
                                <div class="row row-cols-1 row-cols-md-1 g-3">
                                    <button type="button" class="btn btn-outline-warning">
                                        <div class="col">
                                            <div class="card" style="height:60px">
                                                <div class="card-body">
                                                    <div class="row justify-content-center">
                                                        <div class="col-6">
                                                            <span>刊登天數：</span>
                                                            <input type="text" style="width:150px" value="7天">
                                                        </div>
                                                        <div class="col-6">
                                                            <span>售價：$</span>
                                                            <input type="text" style="width:150px" value="380">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </button>
                                    <button type="button" class="btn btn-outline-warning">
                                        <div class="col">
                                            <div class="card overcard" style="height:50px">
                                                <div class="card-body">
                                                    <div class="row justify-content-center">
                                                        <div class="col-6">
                                                            <span>刊登天數：</span>
                                                            <input type="text" style="width:150px" value="30天">
                                                        </div>
                                                        <div class="col-6">
                                                            <span>售價：$</span>
                                                            <input type="text" style="width:150px" value="4200">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </button>
                                    <button type="button" class="btn btn-outline-warning">
                                        <div class="col">
                                            <div class="card overcard" style="height:50px">
                                                <div class="card-body">
                                                    <div class="row justify-content-center">
                                                        <div class="col-6">
                                                            <span>刊登天數：</span>
                                                            <input type="text" style="width:150px" value="60天">
                                                        </div>
                                                        <div class="col-6">
                                                            <span>售價：$</span>
                                                            <input type="text" style="width:150px" value="6800">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </button>
                                    <button type="button" class="btn btn-outline-warning">
                                        <div class="col">
                                            <div class="card overcard" style="height:50px">
                                                <div class="card-body">
                                                    <div class="row justify-content-center">
                                                        <div class="col-6">
                                                            <span>刊登天數：</span>
                                                            <input type="text" style="width:150px" value="90天">
                                                        </div>
                                                        <div class="col-6">
                                                            <span>售價：$</span>
                                                            <input type="text" style="width:150px" value="8400">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </button>
                                    <button type="button" class="btn btn-outline-warning">
                                        <div class="col">
                                            <div class="card overcard" style="height:50px">
                                                <div class="card-body">
                                                    <div class="row justify-content-center">
                                                        <div class="col-6">
                                                            <span>刊登天數：</span>
                                                            <input type="text" style="width:150px" value="180天">
                                                        </div>
                                                        <div class="col-6">
                                                            <span>售價：$</span>
                                                            <input type="text" style="width:150px" value="15750">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </button>
                                    <button type="button" class="btn btn-outline-warning">
                                        <div class="col">
                                            <div class="card overcard" style="height:50px">
                                                <div class="card-body">
                                                    <div class="row justify-content-center">
                                                        <div class="col-6">
                                                            <span>刊登天數：</span>
                                                            <input type="text" style="width:150px" value="365天">
                                                        </div>
                                                        <div class="col-6">
                                                            <span>售價：$</span>
                                                            <input type="text" style="width:150px" value="31500">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">編輯完成</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>