

<div class="col-10 mx-auto  mt-4 position-relative" style="">
        <select class=" position-absolute bottom-0" style="width:35%">
        <option value=""></option>
        <option value="">公司名稱</option>
        <option value="">訂單ID</option>
        <option value="">方案名稱</option>
        <option value="">到期日</option>
        <option value="">訂購日期</option>
        </select>

    <h3 class="text-center" style="">訂單紀錄</h3>
</div>

<div class="container tableOutside ">
    <table class="table table-striped text-center mt-5" id="ChangePage" style="">
        <thead class="table-warning">
            <tr>
                <th class="col ">訂單ID</th>
                <th class="col">公司名稱</th>
                <th class="col">方案名稱</th>
                <th class="col">訂購日期</th>
                <th class="col">到期日</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>你好有限公司</td>
                <td>1天</td>
                <td>昨日</td>
                <td>2024/09/15</td>

            </tr>
            <tr>
                <th>2</th>
                <td>我不好有限公司</td>
                <td>30天</td>
                <td>昨日</td>
                <td>2024/09/15</td>
            </tr>
            <tr>
                <th>3</th>
                <td>我不好有限公司</td>
                <td>30天</td>
                <td>昨日</td>
                <td>2024/09/15</td>
            </tr>
            <tr>
                <th>4</th>
                <td>我不好有限公司</td>
                <td>30天</td>
                <td>昨日</td>
                <td>2024/09/15</td>
            </tr>
            <tr>
                <th>5</th>
                <td>我不好有限公司</td>
                <td>30天</td>
                <td>昨日</td>
                <td>2024/09/15</td>
            </tr>
            <tr>
                <th>6</th>
                <td>我不好有限公司</td>
                <td>30天</td>
                <td>昨日</td>
                <td>2024/09/15</td>
            </tr>
            <tr>
                <th>7</th>
                <td>我不好有限公司</td>
                <td>30天</td>
                <td>昨日</td>
                <td>2024/09/15</td>
            </tr>
            <tr>
                <th>8</th>
                <td>我不好有限公司</td>
                <td>30天</td>
                <td>昨日</td>
                <td>2024/09/15</td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination ">
            <li class="page-item me-auto"><a class="page-link" href="#">上一頁</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item ms-auto"><a class="page-link" href="#">下一頁</a></li>
        </ul>
    </nav>
</div>

