@section Styles
{

}


<div class="container py-2" id="app">
    <table class="table text-center table-striped table-hover">
        <thead>
            <tr>
                <td>求職者ID</td>
                <td>姓名</td>
                <td>性別</td>
                <td>年齡</td>
                <td>學歷</td>
                <td>地區</td>
            </tr>
        </thead>
        <tbody id="CandidateOpeningRecords">
            <tr v-for="item in candidateList" class="overcard">
                <td>{{item.candidateID}}</td>
                <td>{{item.name}}</td>
                <td>{{item.sex}}</td>
                <td>{{item.birthday}}</td>
                <td>{{item.degree}}</td>
                <td>{{item.address}}</td>
            </tr>
        </tbody>
    </table>
    <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
</div>

@section Scripts
{
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    candidateList: [],
                }
            }, methods: {
                CandidateListData: function () {
                    // alert("AAA");
                    fetch("/Admins/CandidateList/IndexJson_candidate", {
                        method:"GET"
                    }).then(response => { 
                        return response.json();
                    }).then(data => { 
                        return this.candidatelist=data
                    }).catch(err => { 
                        alert(JSON.stringify(err))
                    })
                }
            }, mounted() { this.CandidateListData()},
        }).mount("#app");
    </script>
}