@model IEnumerable<JobHunting.Areas.Candidates.Models.Candidate>

@{
    ViewData["Title"] = "管理中心";
}
  
@section Styles
{
    <style>

    </style>
}

<div class="text-center">
    <iframe title="求職者性別年紀學歷" width="1180" height="670" src="https://app.powerbi.com/view?r=eyJrIjoiNWVlYzI3N2MtNjJlNy00OTc5LThmZjUtMzEwNDgxNDZiYTg4IiwidCI6IjFlZTkyMjE4LTAxYmUtNGNlYy04NmNhLTg0ZWVkOTUyNzYzYyIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
</div>

