@model IEnumerable<JobHunting.Areas.Candidates.Models.Candidate>

@{
    ViewData["Title"] = "管理中心";
}
  
@section Styles
{
    <style>

    </style>
}

<div class="text-center">
    <iframe title="求職者性別年紀學歷" width="1180" height="670" src="https://app.powerbi.com/view?r=eyJrIjoiNWVlYzI3N2MtNjJlNy00OTc5LThmZjUtMzEwNDgxNDZiYTg4IiwidCI6IjFlZTkyMjE4LTAxYmUtNGNlYy04NmNhLTg0ZWVkOTUyNzYzYyIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
</div>

@* <h1>首頁  </h1>
<div id=""></div>
<button type="button" class="btn btn-outline-warning" v-for="item in PricingPlans">
    <div class="col">
        <div class="card overcard" style="height:50px">
            <div class="card-body">
                <iframe title="求職者性別" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiYjBjNWQ1MWMtYjkwZC00MGI0LWE5ZjEtODA0MTg0OWU3MWM5IiwidCI6IjFlZTkyMjE4LTAxYmUtNGNlYy04NmNhLTg0ZWVkOTUyNzYzYyIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>                <div class="row row-cols-3 align-items-center">
                    <p>{{item.Title}}</p>
                    <p>{{item.Intro}}</p>
                    <p>售價：{{item.Price}}</p>
                </div>
            </div>
        </div>
    </div>
</button> *@

@* @section Scripts
{
    <script>
        let VueAppIndex = {
            data() {
                return {
                    
                };
            },
            methods:{
                
            },
            watch: {
                
            },
        };
        let app = Vue.createApp(VueAppIndex).mount("#app");
    </script>
} *@