@model IEnumerable<JobHunting.Areas.Candidates.Models.Candidate>

@{
    ViewData["Title"] = "管理中心";
}

@section Styles
{
    <style>

    </style>
}

<h1>首頁</h1>

@section Scripts
{
    <script>
        let VueAppIndex = {
            data() {
                return {
                    
                };
            },
            methods:{
                
            },
            watch: {
                
            },
        };
        let app = Vue.createApp(VueAppIndex).mount("#app");
    </script>
}