@model IEnumerable<JobHunting.Areas.Candidates.Models.Candidate>

@{
    ViewData["Title"] = "管理中心";
}

@section Styles
{
    <style>

    </style>
}

<h1>首頁</h1>
<div id=""></div>
<button type="button" class="btn btn-outline-warning" v-for="item in PricingPlans">
    <div class="col">
        <div class="card overcard" style="height:50px">
            <div class="card-body">
                <div class="row row-cols-3 align-items-center">
                    <p>{{item.Title}}</p>
                    <p>{{item.Intro}}</p>
                    <p>售價：{{item.Price}}</p>
                </div>
            </div>
        </div>
    </div>
</button>

@section Scripts
{
    <script>
        let VueAppIndex = {
            data() {
                return {
                    
                };
            },
            methods:{
                
            },
            watch: {
                
            },
        };
        let app = Vue.createApp(VueAppIndex).mount("#app");
    </script>
}