@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>小鴨上工-登入</title>
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="~/css/oldstyles.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <style>
        .form-group {
            margin: 30px;
        }
    </style>
</head>

<div id="adminLogin">
    <body class="bg-warning">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div><h3 class="text-center font-weight-light my-4">登入</h3></div>
                                    <div class="card-body">
                                            <div class="form-group">
                                                <label class="control-label">員工編號:</label>
                                                <input v-model="PersonnelCode" class="form-control rounded-pill" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">密碼 :</label>
                                            <input v-model="Password" class="form-control rounded-pill" type="password" v-on:keyup.enter.exact="DoLogin" />
                                            </div>
                                            <div class="form-group text-center">
                                            <input type="submit" value="登入" class="btn btn-primary rounded-pill" v-on:click="DoLogin"  />
                                            </div>
                                            <div class="small"><a href="register.html">註冊</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </main>
            </div>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.4/axios.min.js" integrity="sha512-6VJrgykcg/InSIutW2biLwA1Wyq+7bZmMivHw19fI+ycW0jIjsadm8wKQQLlfv3YUS4owfMDlZU38NtaAK6fSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            const adminLogin = {
                data() {
                    return {
                        baseAddress: "https://localhost:7169",
                        PersonnelCode: '',
                        Password: '',
                    };
                },
                methods: {
                    DoLogin: function (event) {
                        
                        let _this = this;
                        event.preventDefault();
                        let request = {
                            PersonnelCode: _this.PersonnelCode,
                            Password: _this.Password
                        };

                        axios({
                            method: 'post',
                            url: `${_this.baseAddress}/Home/AdminDoLogin`,
                            data: request
                        })
                            .then(function (response) {
                                console.log(response.data);
                                window.location.href = '/Admins';
                            })
                            .catch(function (error) {
                                console.log(error);
                            });

                        // axios.post(`${_this.baseAddress}/Admins/Home/AdminDoLogin`, request)
                        //     .then(response => {
                        //         if (response.data.success) {
                        //             window.location.href = '/Admins';  // 替換為你希望登入後跳轉的頁面
                        //         } else {
                        //             alert('登入失敗：' + response.data.message);
                        //         }
                        //     })
                        //     .catch(error => {
                        //         console.error(error);
                        //         alert('登入過程中發生錯誤');
                        //     });
                    }
                }
            };
            Vue.createApp(adminLogin).mount("#adminLogin");
        </script>

    </body>
</html>