@{
    ViewData["Title"] = "訂單紀錄";
}

@section Styles
{
    <style>

    </style>
}

<div id="PricingOrderHistory">
    <div class="col-10 mx-auto  mt-4 position-relative" style="">
        <div class="position-absolute col-10 mt-2">
            <select class="" style="width:17%" id="OrderOpTitle2" v-model="orderSelA">
                <option :value="idx" v-for="items,idx in OptionDetail">{{items.Detail}}</option>

            </select>
            <select class="" style=" width:20%" id="OrdOpDetails" v-model="orderSelB">
                <option value=0 v-if="orderSelA==0" v-for="item,idx in OptionDetails">{{item.name}}</option>
                <option value=1 v-else-if="orderSelA==1" v-for="item,idx in OptionDetails">{{item.OrderName}}</option>
                <option value=2 v-else-if="orderSelA==2" v-for="item,idx in OptionDetails">{{item.OrderDate}}</option>
                <option value=3 v-else-if="orderSelA==3" v-for="item,idx in OptionDetails">{{item.ExpireDate}}</option>
                <option value=4 v-else="orderSelA==4" v-for="item,idx in OptionDetails">{{item.PaymentStatus}}</option>
            </select>
        </div>


        <h3 class="text-center" style="">訂單紀錄</h3>
    </div>

    <div class="container tableOutside ">
        <table class="table table-striped text-center mt-5" id="ChangePage" style="">
            <thead class="table-warning">
                <tr>
                    <th class="col ">訂單ID</th>
                    <th class="col">公司名稱</th>
                    <th class="col">方案名稱</th>
                    <th class="col">訂購日期</th>
                    <th class="col">到期日</th>
                    <th class="col">付款狀態</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in OptionDetails">
                    <th>{{item.OrderID}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.OrderName}}</td>
                    <td>{{item.OrderDate}}</td>
                    <td>{{item.ExpireDate}}</td>
                    <td><button class="btn btn-light btn-sm">{{item.PaymentStatus}}</button></td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination ">
                <li class="page-item me-auto"><a class="page-link" href="#">上一頁</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item ms-auto"><a class="page-link" href="#">下一頁</a></li>
            </ul>
        </nav>
    </div>
</div>

@section Scripts
{
    <script>
        let VueAppPricingOrderHistory = {
            data(){
                return {
                    isShow:false,
                    orderSelA: "",
                    orderSelB: "",
                    OptionDetails:
                    [
                        {OrderID:1,name:"你好好有限公司",OrderName:"1天",OrderDate:"昨日",ExpireDate:"2024/09/15",PaymentStatus:"尚未付款"},
                        {OrderID:2,name:"你不好有限公司",OrderName:"30天",OrderDate:"昨日",ExpireDate:"2024/10/15",PaymentStatus:"尚未付款"},
                        {OrderID:3,name:"我不好有限公司",OrderName:"15天",OrderDate:"昨日",ExpireDate:"2024/09/30",PaymentStatus:"已付款"},
                    ],
                    OptionDetail: 
                    [
                        {Detail: "公司名稱" },
                        {Detail: "方案名稱" },
                        {Detail: "訂購日期" },
                        {Detail: "到期日" },
                        {Detail: "付款狀態" },
                    ],
                };
            },
            computed:{
                orderSelA: function (selval) {
                    this.orderSelB = selval
                },
            },
            methods:{

            },
            watched:{

            },
        };
        let app = Vue.createApp(VueAppPricingOrderHistory).mount("#PricingOrderHistory");
    </script>
}