@{
    ViewData["Title"] = "方案管理";
}

@section Styles
{

}

<div class="row  justify-content-center align-items-center">
    <div class="col-md-11">
        <div class="card mb-4 mb-md-0 h-100">
            <div class="card-body" style="background-color:blanchedalmond">
                <h4 align="center">方案管理</h4>
                <div class="row row-cols-1 row-cols-md-1 g-3 mb-2">
                    <button type="button" class="btn btn-outline-warning">
                        <div class="col">
                            <div class="card overcard" style="height:50px">
                                <div class="card-body">
                                    <div class="row row-cols-2 align-items-center">
                                        <p>刊登天數：7天</p>
                                        <p>售價：$380</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                    <button type="button" class="btn btn-outline-warning">
                        <div class="col">
                            <div class="card overcard" style="height:50px">
                                <div class="card-body">
                                    <div class="row row-cols-2 align-items-center">
                                        <p>刊登天數：30天</p>
                                        <p>售價：$4,200</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                    <button type="button" class="btn btn-outline-warning">
                        <div class="col">
                            <div class="card overcard" style="height:50px">
                                <div class="card-body">
                                    <div class="row row-cols-2 align-items-center">
                                        <p>刊登天數：60天</p>
                                        <p>售價：$6,800</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                    <button type="button" class="btn btn-outline-warning">
                        <div class="col">
                            <div class="card overcard" style="height:50px">
                                <div class="card-body">
                                    <div class="row row-cols-2 align-items-center">
                                        <p>刊登天數：90天</p>
                                        <p>售價：$8,400</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                    <button type="button" class="btn btn-outline-warning">
                        <div class="col">
                            <div class="card overcard" style="height:50px">
                                <div class="card-body">
                                    <div class="row row-cols-2 align-items-center">
                                        <p>刊登天數：180天</p>
                                        <p>售價：$15,750</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                    <button type="button" class="btn btn-outline-warning">
                        <div class="col">
                            <div class="card overcard" style="height:50px">
                                <div class="card-body">
                                    <div class="row row-cols-2 align-items-center">
                                        <p>刊登天數：365天</p>
                                        <p>售價：$31,500</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
                <div style="text-align:center;">
                    <partial name="_EditPricingPlanBtn" class="mt-2"/>
                    <button class="btn btn-primary mt-2" type="submit">新增</button>
                    &nbsp;&nbsp;
                    <button class="btn btn-secondary mt-2" type="submit">刪除</button>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script>
        let 
    </script>
}