@{
    ViewData["Title"] = "職缺刊登";
}
@section Styles {
    <style>
        .card-title {
            font-size: 20px;
        }
    </style>
}


@* 通知 *@
<div id="createOpening">
    @* <div class="container-fluid row py-2">
        <label class="form-label">關鍵字搜尋：</label>
        <input type="text" class="form-control" v-model="filter" placeholder="請輸入篩選關鍵字" v-on:keyup.lazy="filterOpenings" />
    </div> *@
    <div class="pt-2 px-1 bg-blanchedalmond" style="position: relative">
        <template v-if="alertStatus == '成功'">
            <div id="alert" class="alert alert-primary alert-dismissible fade show" role="alert" style="position: absolute; z-index:100;">
                <strong>{{alertText}}</strong>
                <button type="button" class="btn-close" aria-label="Close" v-on:click="alertStatus=''"></button>
            </div>
        </template>
        <template v-else-if="alertStatus == '失敗'">
            <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert" style="position: absolute; z-index:100;">
                <strong>{{alertText}}</strong>
                <button type="button" class="btn-close" aria-label="Close" v-on:click="alertStatus=''"></button>
            </div>
        </template>
    </div>
    @* 新增職缺 *@
    <div class="container-fluid py-1 mt-2">
        <div class="letters row">
            <div class="col-md-3 mb-4">
                <a href="#" data-bs-toggle="modal" data-bs-target="#insertmodelID" style="text-decoration:none;" v-on:click="selectedTagId=[];selectedtitleClassId=[]">
                    <div class="card" style="width: 16rem; height: 16rem;">
                        <div class="card-body">
                            <h2 class="text-center mt-5">
                                新增<br />職缺
                            </h2>
                        </div>
                    </div>
                </a>
            </div>
            @* 職缺card *@
            <div class="col-md-3 mb-4" v-for="item in openings.slice(pageStart,pageEnd)">
                <div class="card" style="width: 16rem; height: 16rem;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10">
                                <span class="card-title mb-3">{{item.title}}</span>
                            </div>
                            @* 刪除履歷 *@
                            <div class="col-2">
                                <button type="button" class="astext" aria-label="Close" v-on:click="deleteOpening(item)"><i class="fa-solid fa-trash"></i></button>
                            </div>
                        </div>
                        <p class="card-text"><i class="fa-solid fa-caret-right mt-2"></i> 工作地點 : {{item.address}}</p>
                        <p class="card-text"><i class="fa-solid fa-caret-right"></i> 工作時間 : {{item.time}}</p>
                        <p class="card-text"><i class="fa-solid fa-caret-right"></i> 履歷數量 : {{item.resumeNumber}}</p>
                        @* 履歷內容按鈕 *@
                    </div>
                    <div class="card-footer text-center" style="background-color:transparent">
                            <button type="button" data-bs-toggle="modal"
                                    :data-bs-target="'#'+mergeID(item)" class="btn btn-primary">
                                詳細
                            </button>
                            <template v-if="item.releaseYN==true">
                                <button type="button" class="btn btn-danger ms-1" v-on:click="toggleStatusToFalse(item);">停用</button>
                            </template>
                            <template v-else>
                                <button type="button" class="btn btn-warning ms-1 text-light" v-on:click="toggleStatusToTrue(item);">啟用</button>
                            </template>
                    </div>
                </div>
            </div>

            @* 新增職缺modal *@
            <div class="modal fade"
                 id="insertmodelID"
                 tabindex="-1"
                 data-bs-backdrop="static"
                 data-bs-keyboard="false"
                 role="dialog"
                 aria-labelledby="modalTitleId"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl"
                     role="document">
                    <div class="modal-content col-md-4">
                        <div class="modal-header" style="background-color: #f7d179;">
                            <h5 class="modal-title text-center" id="modal" style="width:95% ;">
                                新增職缺
                            </h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                    style="width:5% ;" v-on:click="selectedTagId=[];selectedtitleClassId=[]">
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="">職缺名稱:</label>
                                            <input type="text" class="form-control" name="title" value="" placeholder="請輸入職缺名稱" v-model="Title" />
                                            <label class="">需求人數:</label>
                                            <input type="text" class="form-control" name="RequiredNumber" value="" placeholder="請輸入需求人數" v-model.number.trim="RequiredNumber" />
                                            <label class="">工作地點:</label>
                                            <input type="text" class="form-control" name="Address" value="" placeholder="請輸入地址" v-model="Address" />
                                            <label class="">連絡人:</label>
                                            <input type="text" class="form-control" name="ContactName" value="" placeholder="請輸入聯絡人姓名" v-model="ContactName" />
                                            <label class="">連絡電話:</label>
                                            <input type="text" class="form-control" name="ContactPhone" value="" placeholder="請輸入聯絡電話" v-model="ContactPhone" />
                                            <label class="">電子郵件:</label>
                                            <input type="text" class="form-control" name="ContactEmail" value="" placeholder="請輸入聯絡電子郵件" v-model="ContactEmail" />
                                            <label class="">薪資條件:</label>
                                            <div class="">
                                                <input type="text" value="" v-model="SalaryMin" class="text-center" placeholder="最低薪資" />
                                                <span> -- </span>
                                                <input type="text" value="" v-model="SalaryMax" class="text-center" placeholder="最高薪資" />
                                            </div>
                                            <label class="">上班時段:</label>
                                            <input type="text" value="" v-model="Time" class="form-control" />
                                        </div>

                                        <div class="mb-3">
                                            <p>
                                                <label>
                                                    <button class="btn btn-outline-primary " type="button" data-bs-toggle="collapse" data-bs-target="#TitleClassCollapse" aria-expanded="false" aria-controls="TitleClassCollapse">職缺類型</button>
                                                </label>
                                            </p>
                                            <div class="collapse" id="TitleClassCollapse">
                                                <div class="card card-body">
                                                    <template v-for="item in titleCategory">
                                                        <button class="astext overcard" type="button" data-bs-toggle="collapse" v-bind:data-bs-target="Returnhashtag(ReturnCategoryNameId(item))" aria-expanded="false" v-bind:aria-controls="ReturnCategoryNameId(item)">
                                                            {{item.titleCategoryName}}
                                                            <span class="badge bg-warning" v-if="selectedFilterTitleCategory(item.titleCategoryId,TitleClassChecked) > 0">{{selectedFilterTitleCategory(item.titleCategoryId,TitleClassChecked)}}</span>
                                                        </button>
                                                        <div class="collapse" v-bind:id="ReturnCategoryNameId(item)">
                                                            <div class="row">
                                                                <div class="px-2" v-for="TitleClass in filterTitleCategory(item.titleCategoryId)">
                                                                    <input type="checkbox" v-bind:id="ReturnTitleClassNameId(TitleClass)" v-bind:value="TitleClass.titleClassId" v-model="selectedtitleClassId" />
                                                                    <label v-bind:for="ReturnTitleClassNameId(TitleClass)">{{TitleClass.titleClassName}}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr />
                                                    </template>
                                                    <button class="astext overcard" type="button" data-bs-toggle="collapse" data-bs-target="#otherClass" aria-expanded="false" aria-controls="otherClass">
                                                        其他
                                                        <span class="badge bg-warning" v-if="selectedFilterTitleCategory(0,TitleClassChecked) > 0">{{selectedFilterTitleCategory(0,TitleClassChecked)}}</span>
                                                    </button>
                                                    <div class="collapse" id="otherClass">
                                                        <div class="row">
                                                            <div class="col-2" v-for="TitleClass in filterTitleCategory(0)">
                                                                <input type="checkbox" v-bind:id="ReturnTitleClassNameId(TitleClass)" v-bind:value="TitleClass.titleClassId" v-model="TitleClassChecked" />
                                                                <label v-bind:for="ReturnTitleClassNameId(TitleClass)">{{TitleClass.titleClassName}}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <label class="">學歷要求:</label>
                                            <select v-model="selectedDegreeName">
                                                <option value="" selected>--請選擇--</option>
                                                <option v-for="item in DegreeRequired" :value="item.DegreeName">{{item.DegreeName}}</option>
                                            </select>
                                        </div>
                                        <div>
                                            <p>
                                                <label>
                                                    <button class="btn btn-outline-primary " type="button" data-bs-toggle="collapse" data-bs-target="#TagsCollapse" aria-expanded="false" aria-controls="TagsCollapse">能力標籤</button>
                                                    <label><span class="badge bg-primary" v-for="item in TagCheckedOpening"></span></label>
                                                </label>
                                            </p>
                                            <div class="collapse" id="TagsCollapse">
                                                <div class="card card-body">
                                                    <template v-for="item in TagClasses">
                                                        <button class="astext overcard" type="button" data-bs-toggle="collapse" v-bind:data-bs-target="Returnhashtag(ReturnClassNameId(item))" aria-expanded="false" v-bind:aria-controls="ReturnClassNameId(item)">
                                                            {{item.tagClassName}}
                                                            <span class="badge bg-warning" v-if="selectedFilterTagClass(item.tagClassId,TagChecked) > 0">{{selectedFilterTagClass(item.tagClassId,TagChecked)}}</span>
                                                        </button>
                                                        <div class="collapse" v-bind:id="ReturnClassNameId(item)">
                                                            <div class="row">
                                                                <div class="col-4" v-for="Tag in filterTagClass(item.tagClassId)">
                                                                    <input type="checkbox" v-bind:id="ReturnNameId(Tag)" v-bind:value="Tag.tagId" v-model="selectedTagId" />
                                                                    <label v-bind:for="ReturnNameId(Tag)">{{Tag.tagName}}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr />
                                                    </template>
                                                    <button class="astext overcard" type="button" data-bs-toggle="collapse" data-bs-target="#otherClass" aria-expanded="false" aria-controls="otherClass">
                                                        其他
                                                        <span class="badge bg-warning" v-if="selectedFilterTagClass(0,TagChecked) > 0">{{selectedFilterTagClass(0,TagChecked)}}</span>
                                                    </button>
                                                    <div class="collapse" id="otherClass">
                                                        <div class="row">
                                                            <div class="col-2" v-for="Tag in filterTagClass(0)">
                                                                <input type="checkbox" v-bind:id="ReturnNameId(Tag)" v-bind:value="Tag.tagId" v-model="TagChecked" />
                                                                <label v-bind:for="ReturnNameId(Tag)">{{Tag.tagName}}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="form-textarea" class="col-form-label">福利:</label>
                                            <textarea class="form-control" id="benefits" v-model="Benefits" value="" style="height:100px"></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <label for="form-textarea" class="col-form-label">工作內容:</label>
                                            <textarea class="form-control" id="description" v-model="Description" value="" style="height:300px"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success " v-on:click="createOpening">新增</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="ReceiveOpeningData">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            @* 職缺內容Modal *@
            <div class="modal fade" v-for="item in openings"
                 :id="mergeID(item)"
                 tabindex="-1"
                 data-bs-backdrop="static"
                 data-bs-keyboard="false"
                 role="dialog"
                 aria-labelledby="modalTitleId"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl"
                     role="document">
                    <div class="modal-content col-md-4">
                        @* 職缺編輯 *@
                        <template v-if="item.edit == true">
                            <div class="modal-header" style="background-color: #f7d179;">
                                <h3 class="modal-title text-center text-light" id="modal" style="width:80%;">
                                    {{item.title}}
                                </h3>
                                <span class="text-light">已有 {{item.resumeNumber}}份履歷</span>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                        style="width:5% ;">
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="">職缺名稱:</label>
                                                <input type="text" v-model="item.title" class="form-control" />
                                                <label class="">需求人數:</label>
                                                <input type="text" v-model.number.trim="item.requiredNumber" class="form-control" />
                                                <label class="">工作地點:</label>
                                                <input type="text" v-model="item.address" class="form-control" />
                                                <label class="">連絡人:</label>
                                                <input type="text" v-model="item.contactName" class="form-control" />
                                                <label class="">連絡電話:</label>
                                                <input type="text" v-model="item.contactPhone" class="form-control" />
                                                <label class="">電子郵件:</label>
                                                <input type="text" v-model="item.contactEmail" class="form-control" />
                                                <label class="">薪資條件:</label>
                                                <div class="">
                                                    <input type="text" v-model="item.salaryMin" class="text-center" placeholder="最低薪資" />
                                                    <span> - </span>
                                                    <input type="text" v-model="item.salaryMax" class="text-center" placeholder="最高薪資" />
                                                </div>
                                                <label class="">上班時段:</label>
                                                <input type="text" v-model="item.time" class="form-control" />
                                            </div>

                                            <div class="mb-3">
                                                @* 職缺類別 *@
                                                <p>
                                                    <label>
                                                        <button class="btn btn-outline-primary " type="button" data-bs-toggle="collapse" data-bs-target="#TitleClassCollapse" aria-expanded="false" aria-controls="TitleClassCollapse">職缺類型</button>
                                                    </label>
                                                </p>
                                                <div class="collapse" id="TitleClassCollapse">
                                                    <div class="card card-body">
                                                        <template v-for="item in titleCategory">
                                                            <button class="astext overcard" type="button" data-bs-toggle="collapse" v-bind:data-bs-target="Returnhashtag(ReturnCategoryNameId(item))" aria-expanded="false" v-bind:aria-controls="ReturnCategoryNameId(item)">
                                                                {{item.titleCategoryName}}
                                                                <span class="badge bg-warning" v-if="selectedFilterTitleCategory(item.titleCategoryId,selectedtitleClassId) > 0">{{selectedFilterTitleCategory(item.titleCategoryId,selectedtitleClassId)}}</span>
                                                            </button>
                                                            <div class="collapse" v-bind:id="ReturnCategoryNameId(item)">
                                                                <div class="row">
                                                                    <div class="px-2" v-for="TitleClass in filterTitleCategory(item.titleCategoryId)">
                                                                        <input type="checkbox" v-bind:id="ReturnTitleClassNameId(TitleClass)" v-bind:value="TitleClass.titleClassId" v-model="selectedtitleClassId" />
                                                                        <label v-bind:for="ReturnTitleClassNameId(TitleClass)">{{TitleClass.titleClassName}}</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr />
                                                        </template>
                                                        <button class="astext overcard" type="button" data-bs-toggle="collapse" data-bs-target="#otherClass" aria-expanded="false" aria-controls="otherClass">
                                                            其他
                                                            <span class="badge bg-warning" v-if="selectedFilterTitleCategory(0,selectedtitleClassId) > 0">{{selectedFilterTitleCategory(0,TitleClassChecked)}}</span>
                                                        </button>
                                                        <div class="collapse" id="otherClass">
                                                            <div class="row">
                                                                <div class="col-2" v-for="TitleClass in filterTitleCategory(0)">
                                                                    <input type="checkbox" v-bind:id="ReturnTitleClassNameId(TitleClass)" v-bind:value="TitleClass.titleClassId" v-model="selectedtitleClassId" />
                                                                    <label v-bind:for="ReturnTitleClassNameId(TitleClass)">{{TitleClass.titleClassName}}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @* 學歷要求 *@
                                                <label class="">學歷要求:</label>
                                                <select v-model="item.degree">
                                                    <option value="">--請選擇--</option>
                                                    <option v-for="Degree in DegreeRequired" :value="Degree.DegreeName">{{Degree.DegreeName}}</option>
                                                </select>
                                            </div>
                                            @* 能力標籤 *@
                                            <div>
                                                <p>
                                                    <label>
                                                        <button class="btn btn-outline-primary " type="button" data-bs-toggle="collapse" data-bs-target="#TagsCollapse" aria-expanded="false" aria-controls="TagsCollapse">能力標籤</button>
                                                    </label>
                                                </p>
                                                <div class="collapse" id="TagsCollapse">
                                                    <div class="card card-body">
                                                        <template v-for="item in TagClasses">
                                                            <button class="astext overcard" type="button" data-bs-toggle="collapse" v-bind:data-bs-target="Returnhashtag(ReturnClassNameId(item))" aria-expanded="false" v-bind:aria-controls="ReturnClassNameId(item)">
                                                                {{item.tagClassName}}
                                                                <span class="badge bg-warning" v-if="selectedFilterTagClass(item.tagClassId,selectedTagId) > 0">{{selectedFilterTagClass(item.tagClassId,selectedTagId)}}</span>
                                                            </button>
                                                            <div class="collapse" v-bind:id="ReturnClassNameId(item)">
                                                                <div class="row">
                                                                    <div class="col-4" v-for="Tag in filterTagClass(item.tagClassId)">
                                                                        <input type="checkbox" v-bind:id="ReturnNameId(Tag)" v-bind:value="Tag.tagId" v-model="selectedTagId" />
                                                                        <label v-bind:for="ReturnNameId(Tag)">{{Tag.tagName}}</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr />
                                                        </template>
                                                        <button class="astext overcard" type="button" data-bs-toggle="collapse" data-bs-target="#otherClass" aria-expanded="false" aria-controls="otherClass">
                                                            其他
                                                            <span class="badge bg-warning" v-if="selectedFilterTagClass(0,selectedTagId) > 0">{{selectedFilterTagClass(0,TagChecked)}}</span>
                                                        </button>
                                                        <div class="collapse" id="otherClass">
                                                            <div class="row">
                                                                <div class="col-2" v-for="Tag in filterTagClass(0)">
                                                                    <input type="checkbox" v-bind:id="ReturnNameId(Tag)" v-bind:value="Tag.tagId" v-model="selectedTagId" />
                                                                    <label v-bind:for="ReturnNameId(Tag)">{{Tag.tagName}}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="form-textarea" class="col-form-label">福利:</label>
                                                <textarea class="form-control" id="benefits" v-model="item.benefits" style="height:100px"></textarea>
                                            </div>
                                            <div class="mb-3">
                                                <label for="form-textarea" class="col-form-label">工作內容:</label>
                                                <textarea class="form-control" id="description" v-model="item.description" style="height:300px"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success" v-on:click="editConfirm(item)">編輯完成</button>
                                <button type="button" class="btn btn-secondary" v-on:click="cancel(item)">取消</button>
                            </div>
                        </template>
                        @* 職缺顯示 *@
                        <template v-else="item.edit == false">
                            <div class="modal-header bg-warning">
                                <h3 class="modal-title text-center text-light" id="modal" style="width:80%">
                                    {{item.title}}
                                </h3>
                                <span class="text-light">已有 {{item.resumeNumber}}份履歷</span>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                        style="width:5% ;">
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                @* <label class="">職缺名稱:</label>
                                                <p>{{item.title}}</p>
                                                <label class="">公司名稱:</label>
                                                <p>{{item.companyName}}</p> *@
                                                <label class="">需求人數:</label>
                                                <p>{{item.requiredNumber}}</p>
                                                <label class="">工作地點:</label>
                                                <p>{{item.address}}</p>
                                                <label class="">連絡人:</label>
                                                <p>{{item.contactName}}</p>
                                                <label class="">連絡電話:</label>
                                                <p>{{item.contactPhone}}</p>
                                                <label class="">電子郵件:</label>
                                                <p>{{item.contactEmail}}</p>
                                                <label class="">薪資條件:</label>
                                                <p>{{item.salaryMin}} - {{item.salaryMax}}</p>
                                                <label class="">上班時段:</label>
                                                <p>{{item.time}}</p>
                                            </div>
                                            <div class="mb-3">
                                                <label class="">職缺類別:</label>
                                                <p>
                                                    {{ getTitleClassName(item.titleClassId) }}
                                                </p>
                                                <label class="">學歷要求:</label><span>{{item.degree}}</span>
                                            </div>
                                            <div>
                                                <label class="">能力標籤:</label>
                                                <p>
                                                    {{ getTagName(item.tagId) }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="form-textarea" class="col-form-label">福利:</label>
                                                <p style="height:200px">{{item.benefits}}</p>
                                            </div>
                                            <div class="mb-3">
                                                <label for="form-textarea" class="col-form-label">工作內容:</label>
                                                <p style="height:200px">{{item.description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary " v-on:click="item.edit = true;selectedtitleClassId = item.titleClassId ; selectedTagId=item.tagId">編輯</button>
                            </div>
                        </template>
                    </div>
                </div>
            </div>


            @* 分頁 *@
            <div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" v-on:click="setPage(currentPage-1)">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li v-for="item in totalPage" class="page-item" v-on:click="setPage(item)">
                            <a class="page-link" href="#">{{item}}</a>
                        </li>
                        <li class="page-item" v-on:click="setPage(currentPage+1)">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let VueApp = {
            data() {
                return {
                    //baseAddress: "https://duckjobhunting.azurewebsites.net",
                    baseAddress: "https://localhost:7169",
                    openings: [],
                    openingsfilter: [],
                    selectedDegreeName: '',
                    alertText: "",
                    alertStatus: "",
                    originalItem: {},
                    //data
                    Title: "",
                    Address: "",
                    RequiredNumber: null,
                    ContactName: "",
                    ContactPhone: "",
                    ContactEmail: "",
                    SalaryMax: "",
                    SalaryMin: "",
                    Time: "",
                    Description: "",
                    Benefits: "",
                    //分頁
                    pageStatus: 0,
                    perpage: 7, //一頁的資料數
                    currentPage: 1,
                    filter: "",

                    ResumeStatus: 1,
                    MessageStatus: 1,
                    DegreeRequired: [
                        { DegreeVal: 1, DegreeName: "博士" },
                        { DegreeVal: 2, DegreeName: "碩士" },
                        { DegreeVal: 3, DegreeName: "大學" },
                        { DegreeVal: 4, DegreeName: "四技" },
                        { DegreeVal: 5, DegreeName: "二技" },
                        { DegreeVal: 6, DegreeName: "二專" },
                        { DegreeVal: 7, DegreeName: "三專" },
                        { DegreeVal: 8, DegreeName: "五專" },
                        { DegreeVal: 9, DegreeName: "高中" },
                        { DegreeVal: 10, DegreeName: "高職" },
                        { DegreeVal: 11, DegreeName: "國中(含)以下" },
                    ],
                    TagClasses: [],
                    Tags: [],
                    TagChecked: [],
                    selectedTagId: [],
                    TagCheckedOpening: [],

                    titleClass: [],
                    titleCategory: [],
                    TitleClassChecked: [],
                    selectedtitleClassId: [],
                };
            },
            computed: {
                totalPage() {
                    return Math.ceil(this.openings.length / this.perpage)
                    //Math.ceil()取最小整數
                },
                pageStart() {
                    return (this.currentPage - 1) * this.perpage
                    //取得該頁第一個值的index
                },
                pageEnd() {
                    return this.currentPage * this.perpage
                    //取得該頁最後一個值的index
                },
            },
            methods: {
                setPage(page) {
                    if (page <= 0 || page > this.totalPage) {
                        return
                    }
                    this.currentPage = page
                },
                changeTagNameTo: function (TagName) {
                    let _this = this;
                    return `${TagName}BindID`;
                },
                changeTitleClassNameTo: function (TitleClassName) {
                    let _this = this;
                    return `${TitleClassName}BindID`;
                },
                filterTagClass: function (ClassID) {
                    let _this = this;
                    return _this.Tags.filter(function (item) {
                        return item.tagClassId == ClassID;
                    });
                },
                filterTitleCategory: function (CategoryID) {
                    let _this = this;
                    return _this.titleClass.filter(function (item) {
                        return item.titleCategoryId == CategoryID;
                    });
                },
                selectedFilterTagClass: function (ClassId, TagChecked) {
                    let _this = this;
                    let counter = 0;
                    for (let i = 0; i < TagChecked.length; i++) {
                        if (this.filterTagClass(ClassId).filter(function (item) {
                            return item.tagId == TagChecked[i];
                        }).length > 0) { counter++; }
                    }
                    return counter;
                },
                selectedFilterTitleCategory: function (titleCategoryId, TitleClassChecked) {
                    let _this = this;
                    let counter = 0;
                    for (let i = 0; i < TitleClassChecked.length; i++) {
                        if (this.filterTitleCategory(titleCategoryId).filter(function (item) {
                            return item.titleClassId == TitleClassChecked[i];
                        }).length > 0) { counter++; }
                    }
                    return counter;
                },
                ReturnNameId: function (item) {
                    let NameId = `NameId${item.tagName}${item.tagId}`;
                    return NameId.replace(" ", "");
                },
                ReturnTitleClassNameId: function (item) {
                    let NameId = `NameId${item.titleClassName}${item.titleClassId}`;
                    return NameId.replace(" ", "");
                },
                ReturnClassNameId: function (item) {
                    let ClassNameId = `ClassNameId${item.tagClassName}${item.tagClassId}`;
                    return ClassNameId.replace(" ", "");
                },
                Returnhashtag: function (item) {
                    return `#${item}`;
                },
                ReturnCategoryNameId: function (item) {
                    let CategoryNameId = `CategoryNameId${item.titleCategoryName}${item.titleCategoryId}`;
                    return CategoryNameId.replace(" ", "");
                },
               
                //綁modal target
                mergeID(item) {
                    let str = item.title.replace(/\s/g, "").replace(/#/g, "");
                    let num = item.openingId;
                    strID = "Op" + str + num;
                    return strID;
                },
                //列出所有被選到的職業類別
                getTitleClassName(titleClassId) {
                    if (!Array.isArray(titleClassId)) return '未指定';
                    return titleClassId
                        .map(id => {
                            let titleClassItem = this.titleClass.find(item => item.titleClassId == id);
                            return titleClassItem ? titleClassItem.titleClassName : '未指定';
                        })
                        .join('/ ');
                },
                //列出所有被選到的能力標籤
                getTagName(tagId) {
                    if (!Array.isArray(tagId)) return '未指定';
                    return tagId
                        .map(id => {
                            let tagItem = this.Tags.find(item => item.tagId == id);
                            return tagItem ? tagItem.tagName : '未指定';
                        })
                        .join('/ ');
                },
                //判斷履歷開放狀態
                Openingif(item) {
                    return item == true ? "上架" : "關閉";
                },
                //新增履歷
                createOpening: function () {
                    let _this = this;
                    if (_this.SalaryMax < _this.SalaryMin) {
                        alert("最高薪資不能低於最低薪資");
                        return;  // 阻止後續代碼執行
                        }
                    let request = {};
                    request.Title = _this.Title;
                    request.Address = _this.Address;
                    request.RequiredNumber = _this.RequiredNumber;
                    request.ContactName = _this.ContactName;
                    request.ContactPhone = _this.ContactPhone;
                    request.ContactEmail = _this.ContactEmail;
                    request.SalaryMax = _this.SalaryMax;
                    request.SalaryMin = _this.SalaryMin;
                    request.Time = _this.Time;
                    request.Description = _this.Description;
                    request.Benefits = _this.Benefits;
                    request.TitleClassId = _this.selectedtitleClassId;
                    request.tagId = _this.selectedTagId;
                    request.Degree = _this.selectedDegreeName;
                    axios.post(`${_this.baseAddress}/Companies/Openings/CreateOpening`, request, {
                        headers: {
                            "content-type": "application/json" // 告訴伺服器我們發送的是 JSON 格式的數據
                        }
                    }).then(response => {
                        // 處理成功響應
                        let data = response.data;
                        if (data.success) {
                            alert("新增職缺成功");
                            window.location.reload();
                        } else {
                            alert("新增職缺失敗");
                        }
                    })
                        .catch(err => {
                            // 處理錯誤
                            alert(err);
                        });
                },
                editCopy:function(item){
                    this.originalItem = JSON.parse(JSON.stringify(item));
                    item.edit = true;
                    this.selectedtitleClassId = item.titleClassId;
                    this.selectedTagId = item.tagId;

                },
                //編輯確認
                editConfirm: function (item) {
                    const Confirmed = confirm("確定要編輯嗎?");
                    if (Confirmed) {
                        this.editOpening(item);
                    } else {
                        this.cancel(item);
                    };
                },
                //編輯取消
                cancel(item) {
                    this.ReceiveOpeningData();
                    item.edit = false;
                    alert("已取消編輯");
                },
                //編輯職缺並修改資料庫資料
                editOpening: function (item) {
                    let _this = this;
                    let request = {};
                    request.OpeningId = item.openingId;
                    request.Title = item.title;
                    request.Address = item.address;
                    request.RequiredNumber = item.requiredNumber == null || !Number.isInteger(Number(item.requiredNumber)) ? 1 : item.requiredNumber;
                    request.ContactName = item.contactName;
                    request.ContactPhone = item.contactPhone;
                    request.ContactEmail = item.contactEmail;
                    request.SalaryMax = item.salaryMax;
                    request.SalaryMin = item.salaryMin;
                    request.Time = item.time;
                    request.Benefits = item.benefits;
                    request.Description = item.description;
                    request.TitleClassId = _this.selectedtitleClassId;
                    request.TagId = _this.selectedTagId;
                    request.Degree = item.degree;
                    axios.post(`${_this.baseAddress}/Companies/Openings/EditOpening`, request, {
                        headers: {
                            "content-type": "application/json" // 告訴伺服器我們發送的是 JSON 格式的數據
                        }
                    }).then(response => {
                        let data = response.data;
                        alert(data.message);
                        _this.ReceiveOpeningData();
                        item.edit = false;
                    }).catch(err => {
                        alert(err);
                    });
                    // 關閉編輯模式
                   
                },
                //資料初始
                ReceiveOpeningData() {
                    let _this = this;
                    axios.get(`${_this.baseAddress}/Companies/Openings/OpeningJson`).then(
                        res => {
                            _this.openings = res.data;
                        }
                    ).catch(
                        err => { alert(err) }
                    );

                    axios.get(`${_this.baseAddress}/Companies/Openings/TitleClassJson`).then(
                        res => {
                            _this.titleClass = res.data;
                        }
                    ).catch(
                        err => { alert(err) }
                    );

                    axios.get(`${_this.baseAddress}/Companies/Openings/TitleCategoryJson`).then(
                        res => {
                            _this.titleCategory = res.data;
                        }
                    ).catch(
                        err => { alert(err) }
                    );

                    axios.get(`${_this.baseAddress}/Companies/Openings/TagJson`).then(
                        res => _this.Tags = res.data
                    ).catch(
                        err => { alert(err) }
                    );

                    axios.get(`${_this.baseAddress}/Companies/Openings/TagClassJson`).then(
                        res => _this.TagClasses = res.data
                    ).catch(
                        err => { alert(err) }
                    );
                },
                //刪除職缺
                deleteOpening: function (item) {
                    if (item == null) {
                        this.alertText = "請選擇欲刪除方案";
                        this.alertStatus = "失敗";
                    }
                    else {
                        if (confirm("確定要刪除此職缺嗎?")) {
                            axios.post(`${this.baseAddress}/Companies/Openings/DelOpening`, item.openingId, {
                                headers: {
                                    'Content-Type': 'application/json'
                                }
                            }).then(response => {
                                this.alertText = response.data[0];
                                this.alertStatus = response.data[1];
                                this.ReceiveOpeningData();
                            }).catch(err => { alert(err) });
                        }
                        else {
                            this.alertText = "刪除操作已取消";
                            this.alertStatus = "取消";
                        }
                    }
                    this.alertOut();
                },
                //通知
                alertOut: function () {
                    let time = window.setTimeout((() => this.alertStatus = ""), 5000);
                },
                //關鍵字搜尋
                filterOpenings: function () {
                    let _this = this;
                    var request = {
                        Title: _this.filter,
                        Address: _this.filter,
                        Time: _this.filter
                    };
                    axios.post(`${_this.baseAddress}/Companies/Openings/Filter`, request, {
                        headers: { 'Content-Type': 'application/json' },
                    }).then(res => {
                        _this.openings = res.data
                            this.ReceiveOpeningData();
                    }).catch(err => JSON.stringify(err))
                },
                //切換成下架職缺
                toggleStatusToFalse: function (item) {
                    axios.post(`${this.baseAddress}/Companies/Openings/ToggleStautsFalse`, item.openingId, {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(response => {
                        alert(response.data)
                        this.ReceiveOpeningData();
                    }).catch(err => { alert(err) });
                },
                //切換成上架職缺
                toggleStatusToTrue: function (item){
                    axios.post(`${this.baseAddress}/Companies/Openings/ToggleStautsTrue`, item.openingId, {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(response => {
                        let data = response.data;
                        if(data.success==true){
                            alert(data.message);
                            this.ReceiveOpeningData();
                        }
                        else if(data.success==false){
                            alert(data.message);
                            window.location.href = data.redirectUrl;
                        }
                        else return data.message;
                    }).catch(err => { alert(err) });
                },
            },
            mounted() {
                this.ReceiveOpeningData();

            },
        }
        let app = Vue.createApp(VueApp).mount("#createOpening");
    </script>
}